[2018-09-29 10:36] zhongyizengzy opened #1 "Test CQP PSNR"
CommandLine:HevcEncoderApp -i 电视剧_室外_3mins.yuv -w 1920 -h 1080 -intra-period 250 -rc 0 -q 25 -fps 30 -encMode 4  -b 电视剧_室外_3mins.h265
Result:PSNR y:36.215654 u:48.971443 v:48.142267 average:37.851158
Question:12 dB between y and u/v,it is too large

[2018-09-29 17:54] hassount commented on #1
@zhongyizengzy
For PSNR benchmarking please use -tune 1 (objective quality mode).

[2018-09-29 19:38] hassount commented on #1
@zhongyizengzy
Just a quick note on the command line above. the -intra-period parameter represents the distance between two intra frames. i.e. the command line above will result in setting an intra frame at POC 251. If the intent to set it at POC 250, then -intra-period 249 should be used instead.

[2018-09-29 19:45] hassount commented on #1
Just pushed a change #8cabbce035530f4bf9fd18e067dbd379af49eff4 setting -tune 1 (objective quality mode) as the default mode to accommodate of the  of benchmarking PSNR/SSIM by default.

[2018-09-30 16:14] zhongyizengzy commented on #1
ok,I see,Thks

[2018-09-30 16:14] zhongyizengzy commented on #1
ok

[2018-10-01 01:28] #1 closed

[2018-10-08 15:33] zhongyizengzy opened #2 "How many physical cores is the best to svt-hevc?"
Could you give a config item like --threads or give a theoretical boundary about the cores?I don't know how many physical cores is suitable to svt-hevc。

[2018-10-08 19:24] tianjunwork commented on #2
The SVT-HEVC Encoder doesn't limit how many cores it runs on.  It features density-quality tradeoffs. CPU requirements depends on your usage.  For real time encoding, the profiling data is below.  For scenario that is not latency critical, you can have lower end of Xeon CPU.
As you can find in the README file:
The encoder has been optimized to achieve excellent performance levels using 13 density-

[2018-10-09 08:34] #2 closed

[2018-10-09 16:03] zhongyizengzy opened #3 "VBR CRASH?"
cmd:
HevcEncoderApp -i Transcode/3mins/yuv/电视剧_室内_3mins.yuv -w 1920 -h 1080 -intra-period 249 -irefresh-type 2 -rc 1  -vid-info 1 -tune 0  -tbr 4000000 -profile 1 -level 4.1 -tier 0  -fps 30 -encMode 9 -hierarchical-levels 3  -b svt-265/电视剧_室内_3mins.h265
-------------------------------------
SVT-HEVC Encoder v1.2.0
Platform:   64 bit
Compiler: GCC
APP Build date: Sep 29 2018 09:26:14
LIB Build dat

[2018-10-09 17:04] hassount commented on #3
@zhongyizengzy
Thank you for reporting the issue. we will work on reproducing this on our end. that said have you seen this issue with a clip that is public that you can point us to ?

[2018-10-10 01:31] zhongyizengzy commented on #3
Sorry,the clip is protected by copyright.

[2018-10-10 01:46] hassount commented on #3
No problem, we were able to reproduce the issue on our side and we are working on addressing it as soon as possible.

in the meantime, to get your tests running you could change the following definition in "EbEncodeContext.h" to be > the number of frames in your clips:
#define HIGH_LEVEL_RATE_CONTROL_HISTOGRAM_QUEUE_MAX_DEPTH   2048
so assuming you're running 3 min videos, multiplying the above by

[2018-10-10 14:03] Linkeyboard opened #4 "Get PSNR"
How to show PSNR of the video sequences after compression?
By ffmpeg on reconstructive sequences?

[2018-10-10 17:02] hassount commented on #4
Yes, using ffmpeg on the reconstructed clips.

[2018-10-13 05:01] zhongyizengzy opened #6 "About Vmaf testing"
![test](https://user-images.githubusercontent.com/11849931/46901488-83df0b00-cee7-11e8-8033-47c834cc1476.jpg)

what's the main differences among two modes?

[2018-10-13 08:58] #6 closed

[2018-10-16 21:52] tianjunwork commented on #4
@Linkeyboard Hi, do you have more questions about PSNR? If not, could you close this issue?

[2018-10-19 03:07] hassount commented on #3
@zhongyizengzy
A fix has been developed for this issue and is being validated, please refer to #5

[2018-10-19 03:08] mypopydev opened #8 "[RFC] is it have plan to support other input pixel format."
Encoding 100 NV12 format frames with VBR mode with cmd:

./HevcEncoderApp  -i ~/Videos/1920_1080_100fames.yuv -w 1920 -h 1080 -intra-period 249 -irefresh-type 2 -rc 1 -vid-info 1 -tune 0 -tbr 4000000 -profile 1 -level 4.1 -tier 0 -fps 30 -encMode 9 -hierarchical-levels 3 -b test.h265

then use ffplay check test.h265, found the context is wrong.

the commit dc6c63706117cc4c2324650f6f2dbee857ad4818

[2018-10-19 06:32] tnti opened #9 "Ask for pipe support"
As title
An example call could be:
ffmpeg.exe -i "%~dpn1.avs" -f rawvideo -an -| ebHevcEncApp.exe -w 1920 -h 1080 -rc 0 -qp 26 -fps-num 24000 -fps-denom 1001 -i - -b "%~dpn1.hevc"

[2018-10-19 23:37] tianjunwork commented on #9
@tnti Thx for your feedback.
Currently, app expects FrameToBeEncoded(-n) if the input is not file.
Does it ok for you?
You can try pull request (Support reading from pipe) to unblock you.

[2018-10-20 04:28] idxa opened #11 "build failed"
hi, my enviroment is centos6.9, when running build.sh, show the following info which failed to get the executable file. Could anyone have a look, thanks!

[100%] Linking C executable HevcEncoderApp
/home/workspace/tmp/SVT-HEVC-master/Source/../Bin/Release/libHevcEncoder.so: undefined reference to `EbPictureBufferDescCtor'
/home/workspace/tmp/SVT-HEVC-master/Source/../Bin/Release/libHevcEncoder.so:

[2018-10-20 05:46] tianjunwork commented on #11
@idxa Thx for your question.
For Linux* Operating Systems (64-bit), SVT is tested and validated on:
Ubuntu* 16.04 Desktop LTS
Ubuntu* 16.04 Server LTS
Ubuntu* 18.04 Desktop LTS
Ubuntu* 18.04 Server LTS
It is not guaranteed on CentOS.

Please check if your tools follow:
GCC 5.4.0 or later
CMake 3.5.1 or later
YASM Assembler version 1.2.0 or later

[2018-10-20 06:13] idxa commented on #11
In order to compile svtEncoder，I updated gcc to 6.1.0, cmake to 3.6.1, yasm to 1.3.0 and binutils to 2.29.  It looks like that building failed in the last step which link to get a execute file,  maybe some problem such as extern "C"...

[2018-10-20 07:44] idxa opened #12 "Distorted output image with 540x960 input file"
cmd:  ../bin/HevcEncoderApp -c ../bin/Sample.cfg -i clip2_540x960_25_org.yuv -w 540 -h 960 -n 200 -rc 0 -q 26 -fps 25  -b test_new.265，result is distorted like the following：
![Uploading image.png…](http://s3.ivideo.sina.com.cn/test.jpg)

source file and output test_new.265 can download from https://pan.baidu.com/s/1jEBzesyQ4-FEjyhITjvexA

[2018-10-20 15:01] tianjunwork commented on #11
@idxa Since you post another question about video quality, did you get it built on CentOS?

[2018-10-20 15:06] tianjunwork commented on #12
@idxa Thx for the feedback and providing the files.
Will try to reproduce and get back to you.

[2018-10-20 15:36] tianjunwork commented on #9
@tnti According to https://ffmpeg.org/ffmpeg-protocols.html#pipe, pipe is supported on *nix system. Using - as a filename to mean stdin/stdout is a convention that a lot of programs use.
The pull request #3 works on Linux and get same error on Windows.
Did you ever get ffmpeg output pipe working on Windows? Could you show me an example?

[2018-10-20 15:38] #4 closed

[2018-10-20 15:44] tnti commented on #9
@tianjunwork
example：
ffmpeg.exe -i "%~dpn1.mp4" -nostdin -f rawvideo -pix_fmt yuv420p - |  ebHevcEncApp.exe -w 1920 -h 1080 -n 100 -i stdin -b "%~dpn1.hevc"
I don't have this error with other encoders on Windows.
FFMPEG is from https://ffmpeg.zeranoe.com/builds/.

[2018-10-20 15:58] tianjunwork commented on #9
SVT sample app doesn't follow convention of using - as a filename to mean stdin/stdout.
-i can only be followed by "stdin" or a filename.

[2018-10-20 16:12] tnti commented on #12
多嘴说一句 以后github上的样例啥的最好找国外的盘传...
Dropbox、MEGA、Google Drive、OneDrive、iCloud这一类的 毕竟百度盘在国外是不怎么好下载的。
The above content has nothing to do with the problem.

[2018-10-21 13:35] tnti commented on #9
Using -i stdin is still reporting an error.

ffmpeg.exe -i "%~dpn1.mp4" -nostdin -f rawvideo -pix_fmt yuv420p - | ebHevcEncApp.exe -w 1920 -h 1080 -n 100 -i stdin -b "%~dpn1.hevc"
-------------------------------------
SVT-HEVC Encoder v1.2.0
Platform:   64 bit
Compiler: VS17
APP Build date: Oct 21 2018 21:24:35
LIB Build date: Oct 21 2018 21:24:16
-------------------------------------
Number of co

[2018-10-22 06:56] PhymurByrd opened #13 "No error msg, No output hevc bitstream"
$ sudo ./debug/App/HevcEncoderApp -w 960 -h 640 -i mv_960_640.yuv -q 28 -b out.hevc
-------------------------------------
SVT-HEVC Encoder v1.2.0
Platform:   64 bit
Compiler: GCC
APP Build date: Oct 22 2018 14:51:40
LIB Build date: Oct 22 2018 14:50:52
-------------------------------------
Number of cores available: 3

[admin@mmtccsp-t4922 mmtccsp-t4922.inc.alipay.net /home/admin/SVT-HEVC/Build/li

[2018-10-22 07:41] PhymurByrd opened #14 "CheckXcr0Zmm function make the program exit directly"
I try to test the program, but it exit directly without any error msg and output bitstream is 0B.
[code]

Then I trace the code, and find that CheckXcr0Zmm exit it,

[code]

I mark CheckXcr0Zmm function, and the program test OK.

Is there any problem for mark this code?

[2018-10-22 08:54] PhymurByrd commented on #13
duplicate with "CheckXcr0Zmm function make the program exit directly"

[2018-10-22 08:54] #13 closed

[2018-10-22 16:01] hassount commented on #14
@PhymurByrd
Thank you for your feedback. Could you please let us know which machine are you running this on and what GCC version are you using ?

[2018-10-22 16:48] hassount commented on #8
@mypopydev
Thank you for your feedback.
the NV12 format is currently not supported for SVT-HEVC and is not on the road map for upcoming releases; however, we welcome contributions for such support.

[2018-10-22 21:51] tianjunwork commented on #9
I tried with the ffmpeg build you provided https://ffmpeg.zeranoe.com/builds/ (ffmpeg version N-92226-g2797bd5c81). I can't not reproduce the issue of corrupted video.
Below error doesn't matter. It is reported by ffmpeg when SVT app finish encoding and terminate the pipe.
_av_interleaved_write_frame(): Broken pipe
Error writing trailer of pipe:: Broken pipe_

SVT encoder did report "Error encodin

[2018-10-23 08:55] tnti commented on #9
Using the yuv input encoder results everything works fine.
The encoder still reports Error encoding at channel 1.

[2018-10-24 06:19] tnti commented on #9
@tianjunwork
Can be used normally.

[2018-10-24 06:19] #9 closed

[2018-10-25 06:08] mypopydev commented on #14
As I know, if gcc<4.4, where xgetbv doesn't exist, so maybe need to add gcc version check in this case.

[2018-10-26 09:50] PhymurByrd commented on #14
@hassount
FYR

gcc (GCC) 5.4.0

$ cat /proc/cpuinfo
processor       : 0
vendor_id       : GenuineIntel
cpu family      : 6
model           : 45
model name      : Intel(R) Xeon(R) CPU E5-2630 0 @ 2.30GHz
stepping        : 7
cpu MHz         : 2299.998
cache size      : 15360 KB
fpu             : yes
fpu_exception   : yes
cpuid level     : 13
wp              : yes
flags           : fpu de tsc msr pae

[2018-10-26 18:28] hassount commented on #14
@mypopydev
Thank you very much for the feedback and the additional information. so just to double check: you're using an E5-2630 which is a pre-broadwell CPU.
SVT-HEVC currently does not have support for pre broadwell CPUs but we would welcome contributions for such support.

[2018-10-26 18:32] hassount commented on #11
@mypopydev
Thank you for your feedback, we will take such into consideration.

[2018-10-31 09:17] mypopydev opened #19 "[FFmpeg plugin] didn't handle PTS/DTS in SVT-HEVC FFmpeg plugin"
After apply the FFmpeg plugin patch to FFmpeg, then run the transcode with the command:

 ./ffmpeg -i ~/Videos/skyfall2-trailer.mp4 -an -c:v libsvt_hevc test_svt.mp4

get the message like:

[code]

I think the plugin didn't handle the DTS/PTS.

[2018-11-05 18:52] tianjunwork commented on #19
@mypopydev thank you for your attention to the detailed message that helps us find what is missing in the plugin. I wonder if you have time to fix it? Thanks in advance.

[2018-11-05 19:21] hassount commented on #19
@mypopydev @tianjunwork
I apologize for the late response on this. actually this work is in progress and both the library and the plugin will be updated accordingly.

[2018-11-06 03:32] PhymurByrd commented on #14
Thanks for your reply, and look forward for the implement.

[2018-11-06 03:32] #14 closed

[2018-11-16 19:43] hassount commented on #19
this issue has been handled in the new_api branch

[2018-11-22 05:02] mypopydev opened #26 "SvtHevcEncSimpleApp/SvtHevcEncApp both crash in new_api branch"
[code]

[code]

in ubuntu 18.04 lts with kernel 4.15

[code]

[2018-11-22 05:16] hassount commented on #26
@mypopydev
Thank you for reporting this. the Seg fault was fixed in another branch and has now been ported to the new_api branch:
https://github.com/intel/SVT-HEVC/commit/3559cf84ec381b81317c03b124e678452a32a480

[2018-11-22 06:16] mypopydev commented on #26
@hassount After use the commit 3559cf8, stil have the carsh

./SvtHevcEncSimpleApp ~/Videos/1920x1080_400_yuv420p.yuv test.h265 1920 1080 8
-------------------------------------
SVT-HEVC Encoder Simple Sample Application v1.2.0
Platform:   64 bit
Compiler: GCC
APP Build date: Nov 22 2018 14:11:44
LIB Build date: Nov 22 2018 14:10:50
-------------------------------------

[WARNING] For best speed p

[2018-11-22 17:09] hassount commented on #26
@mypopydev
It seems that this is specific to GCC 7.3.0, as it we could not reproduce this with GCC 5.4.0.
we'll work on this right away.

[2018-11-22 17:57] hassount commented on #26
Issue addressed:
https://github.com/intel/SVT-HEVC/commit/e697a16b0481722b0ac7de0ae5e5aa9e411bd844

[2018-11-23 01:15] mypopydev commented on #26
@hassount Now is working after applying e697a16

[2018-11-23 02:43] mypopydev opened #27 "[FFmpeg plugin] FFmpeg plugin blocking in new_api branch"
in new-api branch (e697a16b0481722b0ac7de0ae5e5aa9e411bd844)

now FFmpeg SVT-HEVC plugin will blocking, this is the output:

[code]

[2018-11-23 05:34] hassount commented on #27
interesting, I am not able to reproduce this issue, tried 4 machines.
what system are you using ? a core i5 ?

[2018-11-23 05:35] hassount commented on #27
@mypopydev
also can we get the command line ?

[2018-11-23 07:06] mypopydev commented on #27
@hassount This is the test cmd:
./ffmpeg -i /Videos/skyfall2-trailer.mp4 -c:v libsvt_hevc test_svt.mp4, BTW, I think I've found some reason, will supply a patch for this issue, Tks.

[2018-11-23 07:09] mypopydev commented on #27
This my cpu and memory:

lscpu
Architecture:        x86_64
CPU op-mode(s):      32-bit, 64-bit
Byte Order:          Little Endian
CPU(s):              4
On-line CPU(s) list: 0-3
Thread(s) per core:  2
Core(s) per socket:  2
Socket(s):           1
NUMA node(s):        1
Vendor ID:           GenuineIntel
CPU family:          6
Model:               78
Model name:          Intel(R) Core(TM) i7-6500U C

[2018-11-28 21:39] hassount opened #28 "Adding CMake support for Visual Studio"

[2018-11-28 21:39] hassount commented on #28
Included in #25

[2018-11-29 08:00] mypopydev commented on #27
@hassount Now is working, so will closed the issue, Tks

[2018-11-29 08:00] mypopydev commented on #26
@hassount close the issue now

[2018-11-29 08:00] #26 closed

[2018-11-29 08:34] mypopydev commented on #27
@hassount my falit.

Now

[code]
is Ok, but blocking in:
[code]

[2018-12-02 06:38] mypopydev commented on #19
@hassount Will close this issue, now new_api branch have fix this issue.

[2018-12-02 06:38] #19 closed

[2018-12-11 10:37] Hrisi opened #34 "Incorrect frame rate of the output video"
I encode a 4K video by setting the frame rate and the number of frames as follows:

_ffmpeg -i "input" -nostdin -f rawvideo -pix_fmt yuv420p - | ./HevcEncoderApp -i stdin -fps 30 -n 60 -w 3840 -h 2048 -b output.bin_

The encoder finishes successfully and according to the summary at the end, 60 frames are encoded and the frame rate is **30fps**:

_SUMMARY --------------------------------- Channel 1

[2018-12-11 18:57] hassount commented on #34
@Hrisi
Thank you for your feedback.
The frame rate is sent as part of the vui structure which is disabled by default. To enable encoding the vui, you'd need to set -vid-info to 1

[2018-12-11 20:33] Hrisi commented on #34
@hassount
Thank you very much for the reply! Setting -vid-info to 1 fixed the issue!

[2018-12-12 20:02] hassount commented on #28
Done

[2018-12-12 20:02] #28 closed

[2018-12-13 17:46] tessus opened #38 "support for macOS?"
Is this supported on macOS?

As far as I could find out the Mac Pro uses Xeon processors...

[2018-12-13 18:35] hassount commented on #38
@tessus
Thank you very much for your feedback.
Currently SVT-HEVC does not have a support for MAC OS, however, we welcome contributions for adding such support.

[2018-12-13 21:30] tessus commented on #38
What exactly would this entail? Is it just the build script that needs to be adjusted, or does assembly code have to be re-written?

[2018-12-13 23:37] miaoqiz opened #40 "Artifacts in the output 265 video"
Hi,

I used the tool on "Ubuntu" to encode a 2K/HDR video with the following command:

**sudo HevcEncoderApp -i input.raw -b ouput.265 -w 1920 -h 1080 -fps 23.976 -bit-depth 10 -tune 0 -rc 1 -tbr 15000000 -encMode 0 -level 6.2 -tier 1**

The encoding was finished; however, a lot of artifacts appears when playing the output 265 file with different players.

There are lots of bad blocks and noises h

[2018-12-14 01:48] hassount commented on #38
no assembly code to be re-written, I believe it would be some cmake / build scrip changes along with some compiler flags to make sure the code builds, after that it should just run.

[2018-12-14 01:52] hassount commented on #40
@miaoqiz
Thank you for your feedback.
Would you be able to upload the content for us, or point us to where we can download this content ?

As for limiting the usage: you can use:

sudo **taskset 0x3** HevcEncoderApp -i input.raw -b ouput.265 -w 1920 -h 1080 -fps 23.976 -bit-depth 10 -tune 0 -rc 1 -tbr 15000000 -encMode 0 -level 6.2 -tier 1
that will limit the core usage to 2 cores only

[2018-12-15 19:36] tianjunwork commented on #38
@mypopydev what is your insight about the 3rd and 4th question from @tessus?

[2018-12-15 19:53] #34 closed

[2018-12-18 07:32] hassount commented on #12
This issue should be addressed in the head of the master branch. Please let us know if you still see any issues with this.

[2018-12-19 10:56] tessus commented on #38
Yep, I really would like to hear the answers, otherwise it makes no sense for me to get it working on macOS and then no being able to actually use it.

[2018-12-19 15:56] hassount commented on #38
@tessus
I apologize for the late reply, please find below my answers:

- For point 1, could you please create an issue, stating which options do you need clarity on ?
- This should be feasible by changing the CMake files of the library to create a static and link it to the application, if you require assistance with this, please add a separate issue for this item too.
- Definitely not, not even gp

[2018-12-20 00:57] hassount commented on #3
Addressed in #5

[2018-12-20 00:57] #3 closed

[2018-12-21 10:40] tessus commented on #38
@hassount Thank you very much for your reply.

I will open separate issues for item 1 and 2.

I've noticed that the `--enable-nonfree` has been removed from the `README.txt`. Thanks.

Have you already sent the new patch to the ffmpeg-devel mailing list?

[2018-12-25 14:40] tnti opened #49 "Main10 profile encoding failed"
An example of the encoding command line is as follows:
"D:\Encoder\FFMPEG\ffmpeg.exe" -loglevel level+error -i "%~dpn1.mp4" -pix_fmt p010le -strict -1 -f rawvideo -nostdin - | "D:\Encoder\SVT-HEVC\SvtHevcEncApp" -i stdin -encMode 9 -tune 0 -w 1920 -h 1080 -bit-depth 10 -profile 2 -fps-num 24000 -fps-denom 1001 -q  30 -n 300 -b "%~dpn1_SVT-HEVC.hevc"

You can use any H.264 video file encoding to re

[2018-12-28 17:52] hassount commented on #49
@tnti
Thank you for your feedback. Can you please elaborate a little more on the failure that happened here ? is it a wrong output?
SVT-HEVC supports only the yuv420p10le format of a similar compressed format. please refer to sections 3.1 and 3.2 in the [users guide](https://github.com/intel/SVT-HEVC/blob/master/Docs/SVT-HEVC_Encoder_User_Guide.pdf).

[2018-12-30 06:33] tnti commented on #49
An example of the encoding command line is as follows:
"D:\Encoder\FFMPEG\ffmpeg.exe" -loglevel level+error -i "%~dpn1.avs" -pix_fmt yuv420p10le -strict -1 -f rawvideo -nostdin - | "D:\Encoder\SVT-HEVC\SvtHevcEncApp" -i stdin -encMode 9 -tune 0 -w 1920 -h 1080 -bit-depth 10 -compressed-ten-bit-format 1 -profile 2 -fps-num 24000 -fps-denom 1001 -q 30 -n 300 -b "%~dpn1_SVT-HEVC.hevc"

Turning on the

[2018-12-30 21:37] hassount commented on #49
@tnti
Thank you for the additional information.
The two command lines you have are the following:

and

Does this mean that the first one is working fine? if so, I do not understand where the issue is.

The compressed-ten-bit-format option assumes the yuv input is in a specific format as shown in section 3 in the users guide. Feeding the yuv in a difference format will certainly cause the behavior

[2018-12-31 06:19] tnti commented on #49
The second command line instruction works fine.
Maybe I should not use compressed-ten-bit-format? @hassount

[2018-12-31 21:04] hassount commented on #49
@tnti
the second command line has compressed-ten-bit-format to be set to 1 and that works?
basically compressed-ten-bit-format should only be used when the input yuv is in the specific format described in section 3 of the users guide.

[2019-01-03 01:14] hassount opened #55 "Library Crash for SlideShow_1280x720_20.yuv"
The library crashes with the following command line:
SvtHevcEncApp -i SlideShow_1280x720_20.yuv -w 1280 -h 720  -tune 1 -encMode 8

The crash is due to this secondSearchRegionIndexPosInteg going out of range.

[2019-01-03 06:31] vasavee opened #56 "Preset 10 not working for Objective VQ mode in FFMPEG"
While using FFMPEG with SVT-HEVC plugin, -preset 10 doesn't work for objective VQ mode. Based on the readme document, 1080p should support upto encMode 10 for both tune 0 and tune 1.
below is the command I am using:
/ffmpeg -i <input.mp4> -c:v libsvt_hevc -tune 1 -preset 10 out.mp4

---------------------------------------------------------------------------------------------------------------
ffmp

[2019-01-03 09:06] ph0b commented on #56
the stream you're trying to encode seem to have a resolution of 480x320, not 1080p, so yes encMode 10 isn't supported with this resolution.

[2019-01-03 19:57] miaoqiz commented on #40
@hassount

Thanks for the suggestion!

It is likely that the artifacts appear when encoding 10-bit YUV video. Can you test with this kind of materials on your side?

Thanks!

[2019-01-04 19:24] #56 closed, assigned to nobody

[2019-01-06 17:49] tnti commented on #49
@hassount
thank you.
The above problem occurs when I use compressed-ten-bit-format.
Maybe I don't need to turn this feature on.

[2019-01-06 17:49] #49 closed

[2019-01-08 08:00] GuCaixuan opened #64 "An error(Error encoding at channel 1! Check error log file for more details ...Segmentation fault) occurred in running the following command line."
Hi,
An error (Error encoding at channel 1! Check error log file for more details ...Segmentation fault) occurred in running the following command line.

SvtHevcEncApp -i Netflix_FoodMarket2_4096x2160_10bit_60Hz_P420.yuv  -b width_height_test_M9_Netflix_FoodMarket2_4096x2160_10bit_60Hz_P420_Q16_TUNE1_4060_1984.265  -errlog width_height_test_M9_Netflix_FoodMarket2_4096x2160_10bit_60Hz_P420_Q16_TUNE1

[2019-01-08 08:02] jackie74 opened #65 "ffmpeg plugin (libsvthevc) with -tune 1"
Dear.
Today I heard SVT-HEVC support RC mode for OQ (-tune 1) so I tried to test ffmpeg plugin for libsvthevc. there is no issues with RC mode for SQ (-tune 0)
However I showed below error message.
 ./ffmpeg -y -i ./nvme.mp4   -c:v libsvt_hevc -tune 1 -rc 1 -preset 10 -b:v 6M -r 30 -c:a aac -b:a 192k -tag:v hvc1  -f mp4 ./nvme_h265_1.mp4
ffmpeg version n4.1-14-gddc2843 Copyright (c) 2000-2018 the

[2019-01-08 15:11] hassount commented on #64
@GuCaixuan
Thank you for your feedback.

From the command line there seems to be a mismatch between the input height of the original yuv input and the height inputted to the encoder. Is that intended ?

[2019-01-08 21:52] tianjunwork commented on #65
@jackie74 Thanks for the feedback. We will test it out asap.

[2019-01-09 01:08] GuCaixuan commented on #64
**@hassount**
Yes, it is.

Thanks!

[2019-01-09 01:14] hassount commented on #64
@GuCaixuan
are you expecting the encoder to resize the input on its own ? or are you testing that it will be able to encode garbage video ?

[2019-01-09 02:03] liweki opened #66 "Encode HEVC bitstream with master SVT-HEVC, then measure PSNR/SSIM using ffmpeg has mismatch issue"
Dear,
When we use the SVT-HEVC App with version v1.3.0 which is from Github Master (https://github.com/intel/SVT-HEVC.git) to do encoding with below command, and then measuring PSNR/SSIM using ffmpeg, comparing a bitstream to input yuv, found there is PSNR/SSIM mismatch issue.

**- Do encoding with SVT-HEVC app:**
encoders/SvtHevcEncApp -i Netflix_FoodMarket2_4096x2160_10bit_60Hz_P420.yuv  -b bits

[2019-01-09 05:12] liweki opened #67 "Parameter "-vid-info" not take effect in SVT-HEVC"
Hi,
Parameter "-vid-info" doesn't take effect while do encoding with SVT-HEVC.
- Try to use SVT-HEVC version v1.2.0 to encode HEVC bitstreams with parameter "-vid-info" equals to 0 or 1, then use tools to check generated HEVC bitstreams, the value of "vps_timing_info_present_flag" always is 0.
- Try to use SVT-HEVC version v1.3.0 to encode HEVC bitstreams with parameter "-vid-info" equals to 0 or

[2019-01-09 05:33] GuCaixuan commented on #64
@hassount
With the following command line, the encode is executed correctly, and the bitstream obtained is resized successfully.
The only difference between the failed command line and the following is that the value of "-h" is 1104 .

SvtHevcEncApp -i Netflix_FoodMarket2_4096x2160_10bit_60Hz_P420.yuv  -b width_height_test_M9_Netflix_FoodMarket2_4096x2160_10bit_60Hz_P420_Q16_TUNE1_4060_1104.265  -

[2019-01-09 17:47] hassount commented on #64
@GuCaixuan
Thank you for the additional information.
the library will not be able to know the original size of the video from a yuv file and it will depend on the input width and height passed in by the user. That said, if the output of the encode with -h 1104 looks good, it means that most likely the actual height of the input file "Netflix_FoodMarket2_4096x2160_10bit_60Hz_P420.yuv" is 4096x1104.

[2019-01-11 02:31] dseah-intel commented on #67
Hi there, "-vid-info" is used to turn on and off the VUI within the bitstream, to change the value of "vps_timing_info_present_flag", we introduced a new token, currently in PR #68 .

[2019-01-11 18:53] miaoqiz commented on #40
@tianjunwork Hi, thanks for the quick feedback! Can you try this:

1. Convert a sequence of source images to 10-bit 420 YUV file;
2. Encode with Intel SVT-HEVC

I did some tests, if I convert the sequence to 8-bit 420 YUV file in the first step, then things looks normal in the encoded 265 video; however, the artifacts will show up if the input is 10-bit 420 YUV / raw file. It happened to both SDR

[2019-01-11 18:54] miaoqiz commented on #40
I have played both the 420 YUV file the 265 file with two robust media players.

[2019-01-11 18:57] tianjunwork commented on #64
@GuCaixuan
Please note, encoder doesn't resize the video, -w and -h is the size of the input video, not output.
Could you figure out the real size of the input video and set them to the encoder? If you still see the error, let us know. Thank you.

[2019-01-11 20:08] tianjunwork commented on #40
@miaoqiz The 10bits videos we use are from here: https://media.xiph.org/video/derf/.
I am confused. You were saying that you saw no issue regardless of bit-depth with input yuv file or output yuv file (decoded from output.265)?
If output yuv file is of no issue, could you close this topic?

[2019-01-11 20:14] miaoqiz commented on #40
@tianjunwork Sorry for the confusion. The input YUV files are made by me. They have no issues regardless of the bit depth. The encoded 265 videos by Intel SVT-HEVC encoder tend to show the artifacts when it comes to encoding 10-bit YUV420 raw file. We are not decoding anything from 265 files to YUV files.

Thanks!

[2019-01-11 20:32] hassount commented on #40
@miaoqiz
Can you just send us the yuv (even a few frames from it) ?

[2019-01-11 21:58] miaoqiz commented on #40
@hassount Thanks for the quick reply! If possible, would you mind sending me 10 to 20 source frames (16-bit, 12-bit ), I can then convert them into 420 YUV file and send it back to you for testing?

Thanks

[2019-01-11 22:16] tianjunwork commented on #40
@miaoqiz
You can visit https://media.xiph.org/video/derf/ and download any 1080p video sequence.
Use truncate command to cut the file to get a smaller one that is easier to share with us.

[2019-01-12 21:38] miaoqiz commented on #40
Hi, thanks for the link!

By glancing over it, it seems that most of the sources are 8-bit. Have you encoded from a 10-bit YUV/raw file before?

Thanks!

[2019-01-13 05:20] tianjunwork commented on #40
@miaoqiz There are 10-bit video in the link. Please look for them.
Yes, we did encode with 10-bit input. As I said earlier, after you get output.265, decode it to yuv back again (ffmpeg -i output.265 10bit.yuv), and playback with a yuv player, the video is fine without any artifacts.

[2019-01-13 19:45] miaoqiz commented on #40
Hi, thanks for the quick reply! Appreciate it.

I saw the 10-bit “y4m” videos. The videos may contain headers and frame boundary delimiters. I can still encode a few to see if the artifacts are present.

Please be aware I have encoded the same YUV sources with multiple HEVC encoders, so far Intel’s encoder shows artifacts when the source is 10 bit.

As suggested, I created raw files (420 YUV) base

[2019-01-14 20:50] miaoqiz commented on #40
@tianjunwork Thanks for the effort! I appreciate it!

The command that I used is:

sudo taskset 0x3 HevcEncoderApp -i input.raw -b ouput.265 -w 1920 -h 1080 -fps 23.976 -bit-depth 10 -tune 0 -rc 1 -tbr 15000000 -encMode 0 -level 6.2 -tier 1

I will use the suggested "ffmpeg" command to generate YUV420 file. Sorry I cannot share the source file.

[2019-01-14 21:53] tianjunwork commented on #40
@miaoqiz I meant could you send me your ffmpeg command to generate yuv file.
Also, I am using the latest source code. If you try, could you use the latest code?

[2019-01-14 21:55] miaoqiz commented on #40
@tianjunwork Thanks for letting me know! I wrote my own code to generate YUV420 raw files. The outputs have been tested on various YUV players and they looks fine.

I will re-built the encoder.

[2019-01-25 21:53] tianjunwork commented on #65
@jsunintel could you please follow up this issue?

[2019-01-25 21:54] tianjunwork commented on #66
@jsunintel could you please follow up this issue too?

[2019-01-28 08:43] liweki opened #81 "The value of average Speed and Latency are always shown as 0 when set encode frame number (-n) as 2000"
While using the latest SVT-HEVC to do encoding test and set the frame number to 2000, the value of average Speed and Latency are always shown as 0.

**Detail command and log as below:**
**--- Command line ---**
encoders/SvtHevcEncApp -i yuvs/EuroTruckSimulator2_003_1920x1080_8bit_60Hz_P420.yuv  -b bitstreams/Speed_Test_M4_EuroTruckSimulator2_003_1920x1080_8bit_60Hz_P420_SQ_TBR7500.265  -errlog bit

[2019-01-28 17:22] hassount commented on #81
@liweki
Thank you for your feedback, we'll make sure this is fixed as soon as possible.

[2019-01-29 01:56] edisongjs opened #82 "Master build failed"
Hi,

I followed the ffmpeg plugin build instruction on https://github.com/intel/SVT-HEVC/blob/master/ffmpeg_plugin/README.txt but it failed as shown below. How can this be fixed?

gcc --version
gcc (Ubuntu 5.4.0-6ubuntu1~16.04.10) 5.4.0 20160609
Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHA

[2019-01-29 21:50] tianjunwork commented on #82
@edisongjs Thank you for bringing up the issue. This is a known issue. We will get it fix very soon.

[2019-01-30 02:18] jsunintel commented on #82
Fixed by https://github.com/intel/SVT-HEVC/pull/83.

[2019-01-30 03:06] djie1 opened #84 "[FFmpeg plugin]one frame drop during the transcoding for mp4 input."
Try this command:
./ffmpeg -i 4k-in.mp4 -c:v libsvt_hevc -preset <10/9/8..> -tune 1 -rc 0 -qp 31 4k-out.mp4
There would be one frame less in 4k-out.mp4 than 4k-in.mp4.

But if the input is *.264 file, seems no frame drop.

[2019-01-30 03:10] djie1 commented on #84
@jsunintel please follow up with this issue.

[2019-01-30 04:46] djie1 commented on #65
After PR#83 is applied to make FFmpeg-plugin working, this bug is not reproducible. Would double check when #83 is reviewed and merged.

[2019-01-30 09:34] jsunintel commented on #66
@dseah-intel is correct. The default frame-rate is 25fps in ffmpeg tool. And in SvtHevcEncApp,  your choose is "-fps 60". Please add "-r 60" before the 2 "-i XXX" in ffmpeg cmd line.

[2019-01-31 07:12] djie1 opened #87 "[FFmpeg plugin] segment fault if preset is set as 10 for 720p input or lower resolution input."
Try this command:
ffmpeg -i <720p input>.264 -c:v libsvt_hevc -preset 10 -tune 1 -rc 0 -qp 31 output.265, make sure it's "preset 10" which is not valid for 720p input.

The backtrace is like below:
#0  0x00007ffff57de277 in raise () from /lib64/libc.so.6
#1  0x00007ffff57df968 in abort () from /lib64/libc.so.6
#2  0x00007ffff5820d37 in __libc_message () from /lib64/libc.so.6
#3  0x00007ffff5829499

[2019-01-31 07:47] jsunintel opened #88 "Big frameRateNumerator and frameRateDenominator values triggered frame-rate computation overflow."
Such as 59.94 fps:
./ffmpeg -i XXX (a 59.94 fps stream) -c:v libsvt_hevc svt.265

[2019-01-31 09:50] djie1 commented on #87
@jsunintel is following this issue.

[2019-02-01 02:33] djie1 commented on #87
The issue also happens for the following parameter combinations:
-	Preset 10 – Resolution < 1080p
-	Preset 11 – Resolution < 4k
-	Preset 12 – Resolution < 4k

[2019-02-01 02:49] wangjingz opened #89 "4K Performance have some slight drop between Mx+1 and Mx"
4K performance have some drop between Mx and Mx+1:
1. Netflix_Boat_4096x2160_10bit_60Hz_P420_VMAF_TBR13000：  M5=51.63 average speed; but M6=49.44 average speed. M8=59.62, but M9=55.42.
2. Netflix_RitualDance_4096x2160_10bit_60Hz_P420_VMAF_TBR13000: M5=53.26 average speed; but M6=50.53 average speed;  M9=63.59, but M10=63.39.
3. Netflix_Tango_4096x2160_10bit_unpacked_60Hz_P420_2bitspack_VMAF_TBR130

[2019-02-01 05:33] tianjunwork commented on #11
@idxa CentOS is supported on master. We will announce it officially soon. You can try it out. Thx for your input.

[2019-02-01 05:33] #11 closed

[2019-02-01 05:34] #12 closed

[2019-02-01 05:36] tianjunwork commented on #55
@dseah-intel is this issue still there? Could take care this one?

[2019-02-01 05:38] dseah-intel commented on #55
@tianjunwork yes, we have a fix and it is next on my list to clear

[2019-02-06 07:44] EwoutH opened #95 "Convert user guide to Markdown"
An user guide in markdown would be much easier to maintain.

 - [x] Upload original user guide (.docx I think?)
 - [x] Convert user guide to Markdown (using [word-to-markdown](https://word-to-markdown.herokuapp.com/) and/or [Pandoc](https://pandoc.org/) for example).
 - [x] Check Markdown file on errors
 - [x] Upload to user guide in Markdown GitHub

[2019-02-06 23:47] hassount commented on #95
@EwoutH
Agreed, thank you for suggesting the conversion tool, we'll work on addressing this asap

[2019-02-07 01:09] edisongjs opened #96 "Question on AVX512 instruction"
Question is on ffmpeg plugin. Is it on by default if it runs on skylake? Is there any way to disable AVX512 instruction for SVT HEVC encoder?

[2019-02-07 23:47] tianjunwork commented on #96
There is a global variable “ASM_TYPE” in EbEncHandle.c, also a function GetCpuAsmType() to decide which instruction set can be used at run time. So yes, AVX512 is on for skylake. You can look into GetCpuAsmType().

[2019-02-12 18:13] edisongjs opened #99 "4K 10bit transcoding doesn't support 16M, 20M bitrate"
When transcoding 4KP60 10bit HEVC source (80M) to 16M, 20M, it doesn't generate output file. My script is like this.

ffmpeg_4.1_svt-hevc -loglevel info -r 60 -i input.ts -c:v libsvt_hevc -tune subjective -rc vbr -profile:v main10 -level 5.1 -b:v 16M -bufsize 32M -maxrate 16M -preset 11 -g 120 -y -f mpegts out.ts

Result is core dumped with Out of bound maxBufferSize for level 5.1 and tier 0. When

[2019-02-13 03:33] lijing0010 opened #100 "latency-mode 1 is broken"
Set latency-mode 1 will reduce the speed a lot.
./SvtHevcEncApp -i ~/streams/10bit/xiph/Netflix_Boat_4096x2160_10bit_60Hz_P420.yuv -b out_normal_latency.bin -w 4096 -h 2160 -bit-depth 10 -encMode 12 -tune 0 -latency-mode 1 -fps 60 -n 2000 -nb 200

[2019-02-13 15:38] tnti commented on #99
Remove the following parameters
-level 5.1

Please see the URL below for details.
https://en.wikipedia.org/wiki/High_Efficiency_Video_Coding_tiers_and_levels

[2019-02-13 21:04] edisongjs commented on #99
Thanks. It produces 16M, 20M bitrate TS files.
It is very strange. The link says that the max bit rate is 40Mbps (40000 with 1000bps unit) for main tier. Do I miss anything here? Encoded video doesn't show level on MediaInfo.

[2019-02-13 21:07] edisongjs commented on #99
Higher tier max bit rate is 160,000 which is even bigger. It should be read as 160M not 16M. See the unit is kbps not bps.

Max bit rate for Main and Main 10 profiles (1000bits/s)[A

[2019-02-14 02:44] tnti commented on #99
SVT [Error]: Instance 1: Out of bound maxBufferSize for level 5.1 and tier 0
[libsvt_hevc @ 0x351e140] Error setting encoder parameters

You should read the error message carefully to adjust the encoder parameters.

[2019-02-14 08:45] jsunintel commented on #99
When setting wrong parameter, the plugin broke and coredump happened. This one is already fixed. Please try to lastest plugin version.

[2019-02-14 18:26] edisongjs commented on #99
I read the error message about maxBufferSize. However where did the restriction come? I do not see this restriction from the provided link. X265 is just fine with the same setting (main10, level 5.1).

[2019-02-17 18:32] pryg-skok opened #104 "HDR config for ffmpeg plugin?"
Have you got any plans for it?
Anyway can you help to configure it in current version of plugin?

[2019-02-18 05:36] lijing0010 opened #106 "Encoder doesn't create hevc conformance stream"
Using  HM to decode the encoded bitstream, will assert(if you turn it on) at checking for rtsp_stop_one_bit in VPS

[2019-02-18 05:39] #106 closed

[2019-02-18 05:47] lijing0010 opened #107 "frame rate in VPS in wrong"
The numerator and denominator are inversed.
For example, when the picture rate of a video signal is 25 fps, vps_time_scale may be equal to 27 000 000 and vps_num_units_in_tick may be equal to 1 080 000. in current implementation it will create a "0.04" fps stream.

[2019-02-19 01:27] lijing0010 commented on #107
fixed by PR #108

[2019-02-19 01:27] #107 closed

[2019-02-19 21:29] EwoutH opened #109 "Participate in MSU Annual Video Codecs Comparison 2019"
Moscow State University is soon (deadline March 1) starting with it's yearly codec review, it would be great to have SVT-HEVC included in it.
- [MSU Annual Video Codecs Comparison 2019: Call for codecs](http://www.compression.ru/video/codec_comparison/call_for_codecs_19.html)

[2019-02-21 06:40] jsunintel commented on #99
The restriction comes from SVT-HEVC lib.

[2019-02-21 06:46] jsunintel commented on #104
Which HDR?

[2019-02-21 07:38] pryg-skok commented on #104
Sorry, I thought there no place for misunderstanding. Of course I mean High Dynamic Range metainformation forwarding from encoder input to output. There is option in encoder, but I can't specify it via ffmpeg plugin.

[2019-02-26 16:13] filler56789 opened #118 "Unable to compile with MinGW-w64"
When running "build.sh", CMake returns an error message and stops.
And no, using MSVC is not a proper solution — actually it's not a solution at all.

[2019-02-26 16:37] 1480c1 commented on #118
Indeed, https://travis-ci.com/1480c1/SVT-VP9/jobs/180668415

[2019-02-26 16:42] 1480c1 commented on #118
Segmentation fault when using mingw-gcc. Seems to work with mingw clang though

[2019-02-26 18:03] tianjunwork commented on #104
Hi @jsunintel is this option going to be exposed to ffmpeg plugin?

[2019-02-26 18:13] #99 closed

[2019-02-26 22:33] filler56789 commented on #118
Well, the least that you could and should do is release a Windows binary. And drop the CMake nonsense entirely. Nobody should be forced to use Visual Studio when the goal is create a command-line application.

[2019-02-26 22:40] 1480c1 commented on #118
Appveyor will be implemented once they transfer the repo to OpenVisualCloud from Intel. I do want the program to be able to work with mingw though.

[2019-02-27 01:33] jsunintel commented on #104
Will consider it, but being quite occupied right now.

[2019-02-27 09:14] waterflag0614 opened #119 "when encoding 720p YUV to HEVC, real bitrate is bigger than required"
SvtHevcEncApp -i  mobile-8bit-yuv420p-720p.yuv  -errlog  -w 1280 -h 720 -profile 2 -fps-num 30 -fps-denom 1  -rc 1  -lad 20 -tbr 1000000  -intra-period 29 -tune 1 -encMode 1 -latency-mode 0 -irefresh-type 2 -n 250 -b outbitrate.hevc

filesize: 2471729 bytes
bitrate:2372.86 Kbps

required bitrate: 1000Kbps

[2019-02-27 21:26] tianjunwork commented on #119
@waterflag0614 Thanks for posting the issue. We will investigate.

[2019-02-28 03:54] 1480c1 commented on #38
So, I've got it to 94%, <https://travis-ci.org/1480c1/SVT-HEVC/jobs/499613916#L549> however I am erroring out at `Undefined symbols for architecture x86_64:`. It would be nice if someone could help. My knowledge of C comes from stackoverflow and looking at some man pages, on windows.

Idk if my modifications would actually work since I'm basically looking if the same headers from linux are present

[2019-02-28 06:53] tsubasawing123456 commented on #8
And how about the packed YUV formats? Not on the road map, either?

[2019-03-01 05:27] lijing0010 opened #122 "4k 10bit 422 in encMode12 may crash"
Using encMode12 to encode a 10bit 4K 422bit stream.
It may crash at EntropyCoding

[2019-03-01 05:30] #122 closed

[2019-03-01 05:31] jianbingzhu opened #123 "Request VMAF support( -tune 2) in SVT-HEVC ffmpeg plugin"

[2019-03-01 12:53] luofalei opened #124 "4K 10bit decoding bug in EncoderMode=12"
I tried to encode in the fastest mode for 4K 10bit sequence, like `Netflix_FoodMarket2`. There seems to have some bugs in the encoded bit-stream which made the `ffmpeg` decoder to output wrong images in the bottom rows in some frames.

The sequence could be downloaded from here:
https://media.xiph.org/video/derf/
And I used `ffmpeg` to convert it from `y4m` to `yuv420p10` format.

The decoding ima

[2019-03-01 12:56] luofalei commented on #124
The decoding image and bit-stream is public here.
https://github.com/luofalei/svt-hevc-bug-info/tree/master/issue124

![decoding image sample][1]

  [1]: https://github.com/luofalei/svt-hevc-bug-info/raw/master/issue124/svt-hevc-encMode12-decoding-error.png

[2019-03-01 14:03] luofalei commented on #124
I tested the older versions and found it works good in
[code]
However, the above decoding error appears in the later version such as
[code]

[2019-03-01 17:36] tianjunwork commented on #123
@jsunintel Please help with this request, thanks.

[2019-03-01 17:52] tianjunwork commented on #118
@filler56789 and @1480c1 for posting the question. I agree that another build option should be provided on Windows. Since MinGW-clang works, could you work on a PR to update the README for the instruction to build with clang on Windows? Thank you!

[2019-03-01 17:55] tianjunwork commented on #124
@luofalei Thanks for the detailed reporting of the issue.

[2019-03-01 19:43] tianjunwork opened #126 "Update document for yuv422/444"
@lijing0010 could update README, user guide, sample config file accordingly?

[2019-03-01 20:25] 1480c1 commented on #118
Sure, however I would probably wait until the cmakefiles are edited since if compiled as is, it will only compile with -march=x86_64 and no other flags since the cmakefiles only list gnu GCC and Intel and not clang. The fPIE and fPIC flags will need to be separated with if not mingw and the optimize unroll loops will need to use   if clang pragma since clang doesn't support __attribute optimize un

[2019-03-02 01:36] 1480c1 commented on #118
It seems I have lied on the mingw-clang being able be usable. It will compile without error and there is no segmentation faults with the resulting file. However, the output video file looks like:
![image](https://user-images.githubusercontent.com/8345542/53675145-44784780-3c59-11e9-8ef1-fd5c52fd8d18.png)
Which I am pretty sure is not intended.

[2019-03-02 14:58] pryg-skok opened #127 "How to build static libSvtHevcEnc.so?"
Hi, could you please provide static target for libSvtHevcEnc? It's easier for deploying.

[2019-03-02 23:06] pryg-skok opened #128 "How to build static libSvtHevcEnc.so?"
Hi, could you please provide static target for libSvtHevcEnc? It's easier for deploying.
I have tried to manually fix Source/Lib/Codec/CMakeLists.txt but then its failed to Built target SvtHevcEncSimpleApp:
[code]

[2019-03-03 12:52] #127 closed

[2019-03-03 12:53] pryg-skok commented on #127
Sorry, just accidently submit before append all necessary info

[2019-03-03 15:17] 1480c1 opened #129 "Need help debugging MacOS"
[code]
[code]

[2019-03-03 17:46] 1480c1 commented on #129
Here's the travis build if needed: <https://travis-ci.org/1480c1/SVT-HEVC/jobs/500999806>

[2019-03-03 20:28] 1480c1 commented on #129
I understand that it related to the program trying to access a part of the memory that it isn't allocated to. However I'm not exactly sure why. I'm guessing it's due to the differences in Mac and Linux, however, I'm not exactly sure where to start.

[2019-03-03 22:53] hassount commented on #129
@1480c1
All memory is allocated at init time and all pointers are kept track of in a memory table. It seems that in your case one/ many of the pointer addresses has been moved during the encode and therefore it's not being found at the de-init time.
Now as you see this in mac and not linux, I suggest you start by checking out the semaphores / thread handles. those would be the main difference. I s

[2019-03-03 22:54] 1480c1 commented on #129
Thank you, I'll see if they are the same or at least similar and start from there.

[2019-03-03 23:39] 1480c1 commented on #129
Found out that I had not added `|| __APPLE__` to  some of the lines in EbThreads so that fixed the that part, now I'm on
[code]
I'm going to try to see I forgot any other __APPLE__s

[2019-03-04 07:28] tianjunwork commented on #128
@pryg-skok you can build *.a and simple app without any issue. But you failed to build SvtHevcEncApp.
There is no plan to support both static/dynamic library build. So here is the receipt to build SvtHevcEncApp to unblock you:
diff --git a/Source/App/CMakeLists.txt b/Source/App/CMakeLists.txt
index 7256f47..aaf35ac 100644
--- a/Source/App/CMakeLists.txt
+++ b/Source/App/CMakeLists.txt
@@ -16,7 +16

[2019-03-04 12:16] filler56789 commented on #118
Yet another problem:
please consider replacing "#ifdef _MSC_VER" with "#if defined(_WIN32) || defined(_WIN64)" in EbAppMain.c,

otherwise stdin and stdout will NOT work with the MinGW-w64 builds.
By the way, stdin apparently does not work with the INTEL compiler builds either.

[2019-03-04 18:07] #104 closed

[2019-03-04 18:08] #123 closed

[2019-03-04 18:10] tianjunwork commented on #118
@filler56789 Thanks for pointing out the MACRO. Do you mind submitting a new PR for that? Thanks!

[2019-03-04 18:12] tianjunwork commented on #40
@miaoqiz Any update with this issue? If not, could you close it?

[2019-03-04 18:13] tianjunwork commented on #129
#38

[2019-03-04 18:17] tianjunwork commented on #8
@tsubasawing123456 Thank you for your feedback. You can checkout our road map here: https://trello.com/b/0xqT4xeY/svt-hevc. We welcome contributions for packed YUV formats support.

[2019-03-04 18:20] tianjunwork commented on #67
@liweki Your request is done in PR #68. Please check the new build.

[2019-03-04 18:20] #67 closed

[2019-03-04 18:21] #87 closed

[2019-03-04 18:25] tianjunwork commented on #96
@edisongjs encoder has a api called AsmType(-asm). Assembly instruction set
(0: C Only, 1: Automatically select highest assembly instruction set supported). If it is not exposed by ffmpeg, you could make a request or add it by yourself.

[2019-03-04 19:09] miaoqiz commented on #40
@tianjunwork Hi, I did not get a chance to experiment with the new version. I can close it for now. If I have time to experiment with it and find new issues, I will re-open it.

Thanks a lot!

[2019-03-04 19:09] #40 closed

[2019-03-05 01:16] HolyWu commented on #118
Checking `_WIN64` is redundant here since `_WIN32` is defined on both x86 and x64 Windows, hence simply checking `_WIN32` is sufficient.

[2019-03-05 02:50] Ilya87 commented on #119
@waterflag0614 Send please the yuv file (ore the original one) to the mega.nz service.

[2019-03-05 08:36] waterflag0614 commented on #119
I had sent yuv to the mega.nz service.
https://mega.nz/#!1kRhzSAS!sZtGH0y3_Resd0zcVU9BMRXwH-RoIVV2NM61NLnwKoY

[2019-03-05 17:14] 1480c1 commented on #118
When replacing _MSC_VER with _WIN32 when appropriate, It compiles, however it will segfault, when running through gdb,
[code]

[code]

It will also give a warning (Probably because it is gcc8.2, Probably need an ignore for it.)
[code]

[2019-03-06 12:59] pryg-skok commented on #128
Thanks! But patch cannot be applied on last commit: 4fdfae87fe0a97c56e99f5d4e505ddf69f02bcc6
And I've tried several commits before it - same thing.
Fixed version if you need it:
[code]
Anyway thanks - it seems it's worked :)

[2019-03-06 12:59] #128 closed

[2019-03-06 13:00] pryg-skok commented on #128
Maybe it's better to include cmake configure option for such build.

[2019-03-06 17:43] edisongjs opened #137 "No parameter for interlaced HEVC encoding on ffmpeg plugin"
Hi,

I do not see a parameter to make an interlaced HEVC encoding (1080i29.97). For example, I could generate interlaced HEVC encoding with x265 with below command. What would be a command for SVT? SVT sample application has a parameter ("-interlaced-video") to signal interlaced video though.

Parameter for x265:
-x265-params interlace=1

SVT FFMPEG help message (built on top of ffmpeg 4.1)
======

[2019-03-06 17:46] tianjunwork commented on #137
@jsunintel Please help with the request here. Thanks.

[2019-03-06 18:29] Ilya87 commented on #119
@waterflag0614 Seems to me your sample isn't valid.
1 - It looks damaged (see encoded file)
2 - Your sample is semi-planar NV12 https://wiki.videolan.org/YUV#NV12, NOT yuv420p
3 - See my link https://mega.nz/#F!fhdFnSCR!UMlZqkOUE_I508bjYpJ2bA with valid example
4 - command to create valid raw yuv420p - ffmpeg.exe -i input -t 5 -c:v rawvideo -pix_fmt yuv420p outpuy.yuv, where -t 5 means 5 second of

[2019-03-07 07:49] kelvinhu325 commented on #124
Hi Falei, I tired your test, but did not reproduce it, my generated bitstreams can be decoded correctly with and without this 51c5f427ad28320ec6765f9406ae02b25ca4c93d change, could you try to update to latest code and run it again? I fixed some bugs.
I also analyzed your bitstream with our internal tool, it shows several frames lack of slice end alignment zero bit, actually first error happens at

[2019-03-07 07:56] kelvinhu325 commented on #124
One more thing, you may try to run it with C code by setting "AsmType : 0" in enc.cfg file,  I doubt your machine may not support AVX512 assamble

[2019-03-07 08:10] kelvinhu325 commented on #124
attached my generated bitstream test.hevc for reference https://github.com/kelvinhu325/svt_bugs

[2019-03-07 08:51] luofalei commented on #124
@kelvinhu325 I tested the latest version (`SHA-1: 4fdfae87fe0a97c56e99f5d4e505ddf69f02bcc6, Branch RevNo: 91`) but I doubt the bug still exists and changing `ASMType: 0` couldn't solve this problem. This bug appears ramdomly. In my test, the `PSNR` of the decoded video ranged from 12dB to 28dB.

My test enviroment is `Intel CPU i7-8700K`. The building solution was updated in my fork repo as follow

[2019-03-08 02:06] daijh opened #139 "EbInitEncoder takes too much time(1.8s~2.0.s) on Xeon-E5"
EbInitEncoder takes too much time(1.8s) on Ubuntu16.04 v1.3.0 Xeon-E5.
After some debug, parsing /proc/cpuinfo costs most of time(1.3s). Because E5 has 72 cores ,and big cpuinfo file.

[e5-cpuinfo.txt](https://github.com/intel/SVT-HEVC/files/2944105/e5-cpuinfo.txt)

[2019-03-08 02:13] hassount commented on #139
In SVT_HEVC all of the memory is being allocated at init time. The higher the number of cores, the higher the memory that's needed.

[2019-03-08 02:16] kelvinhu325 commented on #124
@luofalei your machine does not support AVX512, and should run with AVX2, I tried forcing AVX2 on my machine, it still work correctly, could you try below methods?
1, debug and see what's the value of function GetCpuAsmType() in your test? AsmType 3 means AVX512, 1 means AVX2
2, C test still has this issue may means compiler issue, what's your GCC version and OS? we run Ubuntu and GCC version is 5

[2019-03-08 02:48] daijh commented on #139
@hassount
Thanks for your reply. Understood that high memory allocation time is expected.
But this performance issue is that slow file operation on "/proc/cpuinfo" cost ~1300ms with "open/read"; After switch to "fopen/fgets", the time is only ~5ms.

I will prepare a pull request, hope you can help to review. Thanks a lot.

[2019-03-08 05:28] tianjunwork commented on #139
@daijh Thanks for debugging the issue. It seems a regression. @dseah-intel is that ok to use fopen?

[2019-03-08 08:01] luofalei commented on #124
@kelvinhu325 Thanks for your effort in finding out the problem.

(1) `GetCpuAsmType()` returned `3` in my enviroment. It returned at here in `GetCpuAsmType()`.
[code]
(2) I used `Intel C++ Compiler 19.0` under windows.

I guess this problem was caused by variables which were not inited.

[2019-03-10 03:21] HolyWu commented on #124
If I'm not mistaken, [here](https://github.com/intel/SVT-HEVC/blob/41d75656705aba587e4bf6b3e9496b73be51ab79/Source/Lib/Codec/EbEncHandle.c#L246) says that `7 for AVX512`, `3 for AVX2`, `1 for non-AVX2`. And `NON_AVX512_SUPPORT` is defined [here](https://github.com/intel/SVT-HEVC/blob/41d75656705aba587e4bf6b3e9496b73be51ab79/Source/Lib/Codec/EbDefinitions.h#L15) by default, hence users don't even g

[2019-03-11 02:26] kelvinhu325 commented on #124
@luofalei @HolyWu , correcting my previous description, the first bit mistmatching happens at second picture POC=8 (lcux=53, lcuy=32), first recon yuv mismatching is at POC=8 (lcux=53, lcuy=31) bottom right two pixels, looks like deblocking output causes this error, could you try to disable deblocking by (LoopFilterDisable : 1) to see if it can work first?
since C test (asmType 0) can also reprodu

[2019-03-11 09:18] luofalei commented on #124
@kelvinhu325 The decoding bug is caused by entropy coding I think.

Here is my revision for fixing this bug by changing the initial value and context derivation.
https://github.com/luofalei/SVT-HEVC/commit/94576b0d8f8076fab55fabc410f01f22a6006958

Since this fix only takes `YUV420` format into account,  I didn't make a pull request.

[2019-03-12 02:35] #126 closed

[2019-03-12 02:48] kelvinhu325 commented on #124
@luofalei looks like the cbcbf2 and crcbf2 are not initialized on windows, this change is ok for YUV420, 422 and 444, while I notice you add some entropy part change in you another commit, what's that for?

[2019-03-12 04:34] luofalei commented on #124
@kelvinhu325 I firstly revised these 2 lines in the entropy coding part by comparing the changes in the commit (51c5f427ad28320ec6765f9406ae02b25ca4c93d). This could solve some decoding error and the PSNR may improve, but bugs still exist. Later I found that this problem was caused by the `cbCbf2` and `crCbf2`.

Only initialize `cbCbf2` and `crCbf2` could already solve this bug. And I see the pull

[2019-03-12 04:34] #124 closed

[2019-03-12 05:51] #100 closed

[2019-03-13 09:26] waterflag0614 commented on #119
mobile-8bit-yuv420p-720p.yuv is yuv420p, and is created  by ffmpeg -video_size 1280x720 -pix_fmt yuv420p10le -i input.YUV -pix_fmt yuv420p -vframes 250.

[2019-03-13 14:25] vasavee opened #147 "Invalid FPS in FPS: SVT Encoder error"
Command line used:
 ./ffmpeg -i  POS-3k.mp4  -c:v libsvt_hevc -preset 10 -tune 1 -rc 0 -qp 31 -f null -
./ffmpeg -i POS-3k.mp4 -c:v libsvt_hevc -preset 10 -tune 0 -rc 1 -b:v 5000000 -f null -

No changes made to SVT config, all parameters controlled from command line.
Below is the ffmpeg log:</h3>
<body>

- ffmpeg version n4.1-64-gbcfd82b0be Copyright (c) 2000-2019 the FFmpeg developers
-   built

[2019-03-13 16:58] tianjunwork commented on #147
Hi @jsunintel, could you take a look?

[2019-03-14 00:50] jsunintel opened #148 "Is there any way to preserve the color matrix/primary/transfer properties during encoding?"
@hassount

When trying to upstream the plugin to ffmpeg community, got a feature request. Please review and inform us if there is a plan to implement it.

From Vittorio Giovara <vittorio.giovara@gmail.com>:

When you encode an HEVC stream you should be able to signal how the color properties of the video buffers should be rendered. This is usually conveyed with three parameters, the matrix coeffic

[2019-03-14 00:54] jsunintel commented on #137
OK

[2019-03-14 00:55] jsunintel commented on #147
OK

[2019-03-14 01:06] tianjunwork commented on #96
Hi @jsunintel, please see if you can take care of this issue. Thx.

[2019-03-14 01:08] jsunintel commented on #96
@edisongjs do you need an interface? SvtHevcAPP doesn't have such an interface either.

[2019-03-14 02:29] waterflag0614 commented on #119
https://mega.nz/#!Rl5XlCZD!xIc_snY9VyiM4EyoP2nZk0bnXIz7RvJxntnvIDqUsKM

play YUV:
ffplay -video_size 1280x720 -pixel_format yuv420p  mobile_1280x720_yuv420p_288.yuv

[2019-03-14 20:26] pryg-skok opened #150 "Option for repeat SPS/PPS headers"
Is there any option in encoder which can control repetition of bitstream headers (SPS/PPS)?
The stream cannot be played if player starts playing in middle of stream after ffmpeg, compiled with svt_hevc plugin. If it starts playing from start of dump - it plays well.

Can you provide a patch or point me in right direction with option?

[2019-03-14 20:38] tianjunwork commented on #150
@pryg-skok SVT does has this api to request sps/pps.
EB_API EB_ERRORTYPE EbH265EncStreamHeader(
    EB_COMPONENTTYPE           *h265EncComponent,
    EB_BUFFERHEADERTYPE       **outputStreamPtr);
@jsunintel Could you help to integrate with ffmpeg?

[2019-03-14 20:58] pryg-skok commented on #150
Ok! These headers definitely inserted at stream's start, but it is useless for endless streams encoding.

[2019-03-14 22:46] tianjunwork commented on #150
Since picture parameters are of NO change on the fly. FFmpeg plugin can save the vps/sps/pps at init time. And return the data when requested.
Do you think it works?

[2019-03-15 03:09] tsubasawing123456 opened #151 "The libsvt_hevc library used by ffmpeg doesn't have the interface to specify pixel format yuv422p"
When typing the command: ./ffmpeg xxx -c:v libsvt_hevc -pix_fmt yuv422p xxx, we would get the warning:

Incompatible pixel format 'yuv422p' for codec 'libsvt_hevc', auto-selecting format 'yuv420p'

Although the format yuv422p has already been implemented by SVT-HEVC commit:

commit 51c5f427ad28320ec6765f9406ae02b25ca4c93d
Author: lijing0010 <jingl3@hotmail.com>
Date:   Fri Feb 22 15:07:43 2019 +08

[2019-03-15 07:26] fanyingming opened #152 "Support CRF rate control mode"
CRF was widely used in x264 and x265.

[This blog](https://slhck.info/video/2017/02/24/crf-guide.html) describe what is crf.

So will the develop support this rate control mode

[2019-03-15 08:50] pryg-skok commented on #150
I guess it should work, until you implement function like "change_codec_params_on_fly" :)
But you need also properly calculate bytes which will be used by headers, because when one using VBV encoding (the bitrate control which also must work for endless streams encoding) this may leads to bitrates overflow.
BTW, is VBV encoding (HRD for HEVC) working now?

[2019-03-15 16:59] tianjunwork commented on #151
Hi @jsunintel please expose the new feature to ffmpeg. Thx.

[2019-03-15 17:20] tianjunwork commented on #152
Hi @fanyingming CRF is working in progress, please see PR #70.

[2019-03-15 19:39] tianjunwork commented on #150
VBV is in the backlog: https://trello.com/b/0xqT4xeY/svt-hevc.
There is no resource to implement for the next release.
We welcome the contribution from the community:)

Please work with @jsunintel to use EbH265EncStreamHeader for now. Thx.

[2019-03-15 21:31] pryg-skok commented on #150
I see, thank you!

It's strange that VBV-encoding not implemented and even not in roadmap yet, because in general it means that this encoder cannot be used for encoding videos for streaming due to bitrate fluctuations.

Also feature like gstreamer plugin can be implemented by community but VBV mode quite subtle mechanism and maybe its better to be developed within core team.

[2019-03-15 21:58] tianjunwork commented on #150
The core team also works nonstop on AV1 and VP9 encoder. If time allows and depends on the priority, backlog feature can be pulled in.
Btw, Gstreamer plugins for all SVT encoders will soon be released.

[2019-03-16 06:05] Ilya87 commented on #119
@waterflag0614
mobile-8bit-yuv420p-720p.yuv is yuv420p
If you are not shure, use yuvplayer (https://sourceforge.net/projects/raw-yuvplayer/), please. It allows you to select colorspace, resolution, etc.
Now your example looks good to me. 288 frames (not 400 as in previous example), video still start from 101 frame and colorspace is yuv420p.

[2019-03-16 06:29] Ilya87 commented on #119
@waterflag0614 the solution is found - change the lad parameter as it is recommended in User Guide "When RateControlMode is set to 1 it's best to set this parameter to be equal to the Intra period value (such is the default set by the encoder)"
-lad 29 (for -intra-period 29).
For the latest sample I used command
SvtHevcEncApp -i mobile_1280x720_yuv420p_288.yuv -interlaced-video 1 -errlog -w 1280 -

[2019-03-16 06:40] Ilya87 commented on #151
@tsubasawing123456 as a workaround you can use (if your OS is Linux) the following subsitution instead of input file: <(ffmpeg -i videofile -f rawvideo -pix_fmt yuv422p - 2>/dev/null)

[2019-03-18 06:19] waterflag0614 commented on #119
Is it normal the setting of the value of '-lad' affected the value of  BitRate, and caused that the value of Bitrate is abnormal?

[2019-03-18 07:13] Ilya87 commented on #119
@waterflag0614 Yes, it is normal if developers implemented such prediction model for bitrate.

[2019-03-18 07:41] waterflag0614 commented on #119
Thanks for your answer.
I have another question. Can  the value of '-lad' affect the value of PSNR?  For example, the larger the value of '-lad', the larger the value of PSNR.

[2019-03-18 07:55] Ilya87 commented on #119
@waterflag0614 Quatation from the x265 cli:
The longer the lookahead buffer the more accurate scenecut decisions will be, and the more effective cuTree will be at improving adaptive quant. Having a lookahead larger than the max keyframe interval is not helpful.

[2019-03-18 08:37] waterflag0614 commented on #119
Thanks very match.
Could I confirm one more question with you?
 In VBR mode, when the same command line is executed, the value of real bit rate is different each time. Is the range of bit rate change limited? For example, The actual bit rate fluctuates by 10% over the required bit rate.

[2019-03-18 16:24] tianjunwork commented on #147
@vasavee is the error fixed by jsunintel's answer? If yes, please close this issue.

[2019-03-18 16:25] #152 closed

[2019-03-18 16:34] tianjunwork commented on #137
@jsunintel Yes, you are correct. The logic of formatting of input data is at application level, not svt lib. Do you think the ffmpeg plugin can process interlaced data?

[2019-03-18 16:39] vasavee commented on #147
I see in the encoding guide that 4k can handle until encMode 12 for subjective and encMode 10 for objective. What am I missing here?

[2019-03-18 16:42] tianjunwork commented on #96
@jsunintel I think this is the interface needed to expose by ffmpeg plugin: AsmType(-asm)

[2019-03-18 20:53] edisongjs commented on #96
It would be good to have such interface.

[2019-03-19 02:41] DanielOutlook opened #153 "Abnormal outputs for both ffmpeg and SvtHevcEncApp when tune=0 and qp=10"
A problem has been found that abnormal outputs are generated from both ffmpeg and SvtHevcEncApp when qp=10 and tune=0.
The testing resolution of the video clip is 3840x2160, and some other sizes of videos, such as 4096x 2160, are also tested. So far, this problem happens on 4K streams.
The testing video clip at 3840x2160 is attached as a zip file([abc033.zip](https://github.com/OpenVisualCloud/SVT

[2019-03-19 05:46] jsunintel commented on #96
This request is under consideration.

[2019-03-19 05:47] jsunintel commented on #137
Let me have a check.

[2019-03-19 05:49] jsunintel commented on #151
Will add.

[2019-03-19 16:03] tianjunwork commented on #153
@DanielOutlook Thanks for the report. We will check it out.

[2019-03-21 10:03] jetta opened #156 "M3 preset causes mosaics"
Hi, I tested the encoder using the following ffmpeg command:

`ffmpeg -y -i xcp_1080p.mp4 -c:v libsvt_hevc -rc 1 -b:v 5M -tune 0 -preset 3 -c:a aac -f mpegts xcp_1080p_svt_m3.ts`

The output file is OK when using M6, M9 preset, but it has mosaics at 36s under M3 preset.:

![image](https://user-images.githubusercontent.com/39965/54743608-8fa1cc80-4bff-11e9-91b8-512789e25f55.png)

**ffmpeg log:**
[l

[2019-03-25 00:56] Ilya87 opened #158 "Banding artifacts"
Os - Antergos x86_64? SVT-HEVC latest from git
https://yadi.sk/i/qBkjd3TzJ_yBQQ - original h.264 file from blu-ray (was converted to YUV)
https://yadi.sk/d/K6LBH3HdDVF6zQ - encoded version

Encoding options are:
`-w 1920 -h 1080 -tune 1 -intra-period 239 -rc 0 -profile 2 -encMode 3 -fps-num 24 -fps-denom 1 -encMode 3 -lad 49 -q 15 -n 751 -b out.hevc`

Example screenshots (artifacts on faces, eyes)

[2019-03-25 01:09] 1480c1 commented on #158
Good taste. However, the ss are so dark, that it's so hard to see the banding. Also, why the ? after Antergos x86_64?

[2019-03-25 01:17] Ilya87 commented on #158
@1480c1 ? is a typo (corrected in post), comma should be used. And not, when you'll see screenshots fullscreen using 24" monitor they are clearly seen, moreover this screenshots from still scene, moreover x264 doesn't produce such artifacts.

[2019-03-25 01:28] 1480c1 commented on #158
That is true, I saw it when I zoomed in.

[2019-03-25 17:17] tianjunwork commented on #156
@jetta Thanks for your feedback and detailed report.
@jsunintel Could you help to verify the issue here? We don't have Baidu account and can't register without China phone number. Thank you:)

[2019-03-25 17:17] #151 closed

[2019-03-25 17:22] tianjunwork commented on #147
Hi @jsunintel, is this issue done? Please help to follow up. Thx.

[2019-03-25 17:47] tianjunwork commented on #158
@Ilya87 yes, I can see the artifacts on the face.
6.1MBx8/(751/24) = about 1.6Mbps which is not very high for 1080p. What is the bitrate of x264 bitstream?

[2019-03-25 19:31] Ilya87 commented on #158
@tianjunwork, yes, I'm sorry - at this bitrate x264 also provides comparable banding artifacts, BUT at comparable bitrate x264 is better
x264 veryslow_qp15_bitrate_3549
https://yadi.sk/i/uBj5eDI_m7-Pcw
SVT-HEVC -q12 target bitrate is 3108
https://yadi.sk/i/gFZWSRU0kXDZPg
Banding artifacts are still the problem.

[2019-03-25 19:43] Ilya87 commented on #158
![svt_q12_11 3](https://user-images.githubusercontent.com/1446573/54949117-68c0fe80-4f4f-11e9-9e2a-8593afbe268f.png)
![svt_q12_24 5](https://user-images.githubusercontent.com/1446573/54949118-68c0fe80-4f4f-11e9-882c-32c4b15a995a.png)
![svt_q12_28 5](https://user-images.githubusercontent.com/1446573/54949120-68c0fe80-4f4f-11e9-909d-f9b8bce7e75b.png)

[2019-03-25 19:52] Ilya87 commented on #158
Compare with x264 veryslow -crf 16.6 (bitrate is 3088)
https://yadi.sk/i/2Ow-PxJZdqcmUg
Comparable encoding speed, same bitrate, banding artifacts are much less.

[2019-03-25 21:14] tianjunwork commented on #158
What is the tune mode used by x264? Could you try -tune 0/2 with SVT?

[2019-03-26 01:52] jsunintel commented on #156
I am sorry that I can't do it. Baidu Pan is prohibited by the company firewall.

[2019-03-26 03:54] liweki opened #160 "While encoding P422 1080p/720p yuv files in OQ mode, the encoded SVT-HEVC clips has difference between buffered preload parameter (-nb) enabled and disabled"
Take 1080p/720p YUV P422 file as input,  and use application SvtHevcEncApp to do SVT-HEVC encode with buffered preload parameter (-nb) enabled and disabled, the generated two SVT-HEVC clips has difference in OQ mode (SQ & VMAF not found this issue).

YUV clips we used for the test:
Fallout4_1920x1080_8bit_60Hz_P422.yuv
DucksTakeOff_1280x720_8bit_50Hz_P422.yuv

List a pair command line as example:

[2019-03-26 03:56] liweki opened #161 "The encoded SVT-HEVC clips has difference between AsmType enabled and disabled"
Take YUV P420/P422/P444 file as input, then use application SvtHevcEncApp to do SVT-HEVC encode with AsmType enabled and disabled, the generated two SVT-HEVC clips has difference.

List a pair command line as example:
encoders/SvtHevcEncApp -i yuvs/Fallout4_1920x1080_8bit_60Hz_P444.yuv  -b bitstreams/asm_test_M5_Fallout4_1920x1080_8bit_60Hz_P444_Q34_VMAF_0.265  -errlog bitstreams/asm_test_M5_Fallo

[2019-03-26 05:01] Ilya87 commented on #158
@tianjunwork, for x264 I used ffmpeg with -c:v libx264 -preset veryslow -qp 15. No additional options.
For crf mode -c:v libx264 -preset veryslow  -crf 16.6

[2019-03-26 19:25] tianjunwork commented on #156
Hi @jetta, I can't access Baidu from US. But I can reproduce with the 1080p big bunny video also.

With -tune 0, -preset 1-4, encoded video show mosaics. -preset 5 and above is fine.
With -tune 1, -preset any,  encoded videos are all fine.
We will work on the fix. Could you use tune 1 if this issue blocks you?

[2019-03-26 19:48] tianjunwork commented on #161
Hi @liweki Thx for posting the issue. I verified the two bitstreams are identical. I simply use a binary viewer application to compare the two bitstreams.
Could you use a binary viewer like HxD to verify your bitstream? If you still see the difference, let me know.

[2019-03-26 20:33] tianjunwork commented on #158
I tried with different tune mode(all other configs are the same), tune0 is slightly better for banding artifacts. I took the snapshot from Intel media analyzer tool. All of the tune modes are not as obvious as viewed in VLC.
tune0
![tune0_m3](https://user-images.githubusercontent.com/4551215/55031149-2ccb7f00-4fcb-11e9-91cf-1fef5b0e1cc8.JPG)
tune1
![tune1_m3](https://user-images.githubusercontent.

[2019-03-26 22:02] tianjunwork commented on #153
@DanielOutlook issue is confirmed. Thx for reporting.
4k input, tune 0, encMode 0-6, bitstream is corrupted. With tune 1/2, bitstream is fine. I didn't verify other resolution.
I didn't see the video is blur removing "-encMode 1"(default is 9) though.

[2019-03-26 22:59] tianjunwork commented on #160
Hi @liweki Could you also check the bitstream simply by a binary viewer app like #161?

[2019-03-26 23:13] Ilya87 commented on #158
@tianjunwork, such clearly seen artifacts as I checked have divx265, x265, turing, SVT-HEVC encoders (there is open issue about banding in x265 bug tracker).
While x264 has much less banding artifacts.
So, my conclusion is that all HEVC standard encoders can't encode without such artifacts by design.
If you wish, I can upload encoded materials (same sample as here) with settings description, VMAF

[2019-03-26 23:57] tianjunwork commented on #158
Hevc introduced SAO filter applied after the standard deblocking filter; it’s designed to increase picture quality and reduce banding and ringing artifacts at some cost of encoding speed. Generally speaking, hevc should perform better than avc.
I think SVT has room to further reduce banding artifacts. Please do upload your material:) which will help us debugging later. Thanks!
I will mark this iss

[2019-03-27 07:01] jsunintel commented on #147
Hi @hassount，in the lib & app, the resolutions are set as below:

#define INPUT_SIZE_576p_TH				0x90000		// 0.58 Million
#define INPUT_SIZE_1080i_TH				0xB71B0		// 0.75 Million
#define INPUT_SIZE_1080p_TH				0x1AB3F0	// 1.75 Million
#define INPUT_SIZE_4K_TH				0x29F630	// 2.75 Million

However, 1920x1080 equals 2073600 and is much bigger than 1750000 (0x1AB3F0), and 3840x2160 equals 8294400 is als

[2019-03-27 08:39] liweki commented on #161
Hi, @tianjunwork,
I use HxD and Beyond Compare to compare the two bitstreams, the difference begins from offset 0001D3E0.

![bitstreams_difference](https://user-images.githubusercontent.com/46477459/55061479-d59eda80-50ae-11e9-85e8-402470564f96.png)

[2019-03-27 08:47] liweki commented on #160
Hi, @tianjunwork,
Also check the two bitstreams with HxD and Beyond Compare, the difference begins from offset 0011010. Please help double check, thanks.
![bitstreams_compare](https://user-images.githubusercontent.com/46477459/55061962-f3b90a80-50af-11e9-9b06-75f696aee0a4.png)

[2019-03-27 21:19] Ilya87 commented on #158
https://yadi.sk/d/KizxwX0-Tu-WRg - encoded files with results in ods

[2019-03-27 22:49] tianjunwork commented on #158
@Ilya87 Thx for the files.
You can also turn off SAO for SVT. For all the encoding tools, trade off between video quality and speed has to be made. With SAO turned on, in order not to affect speed so much, parameters of SAO is tuned for each every encoder. So you observe the difference among each encoder output.

[2019-03-28 06:49] lijing0010 commented on #160
-n 40 -nb 40 means cache 40 frames in buffer and process 40 frames
-n 40 -nb 1 means use the 1st frame 40 times
-n 40 -nb 20 means encode total 40 frame, which consists frame 0,1,2...19,0,1,2...19
so they are different. In the latter case you'll get 40 frames: 1 intra frame and 39 skip frame.
This is usually for testing.

[2019-03-28 06:55] lijing0010 commented on #147
@jsunintel ,that value is for encoded frame size, so normally it should be OK.
But it hasn't considered for 8K and doesn't work for 8K when qp is small.
I remember I've changed it before, seems still there...

[2019-03-28 07:20] lijing0010 commented on #147
@jsunintel I think this is just a rough number.
eg: if 720P, the size is E1000 < 1AB3F0, then it's treated as  INPUT_SIZE_1080i_RANGE.
it doesn't need to be 1080P to lie in the INPUT_SIZE_1080p_RANGE.
Anyway you can change those numbers, but it probably will not cause too much different

[2019-03-28 07:45] Ilya87 commented on #158
@tianjunwork, the problem is not in SAO turned on or off (that doesn't affect much), but in the same banding artifacts of all HEVC encoders for high quality encodes.

[2019-03-28 10:21] jsunintel commented on #147
"4k can handle until encMode 12 for subjective and encMode 10 for objective".

Hi @lijing0010, is such a limitation set by the SW purely, which means we could enable M12 to all supported resolutions technically?

[2019-03-29 21:05] tianjunwork opened #167 "Update README for tile based patch"
Hi @lijing0010, could you please all related info in README for tile enabling patch? Basically the two new APIs. Thx.

[2019-03-29 21:07] tianjunwork opened #168 "Debug build is broken"
/usr/bin/ld: i386 architecture of input file `../../../Debug/lib/libASM_SSE2.a(EbGatherSaoStatistics16bit_SSE2.asm.o)' is incompatible with i386:x86-64 output
/usr/bin/ld: i386 architecture of input file `../../../Debug/lib/libASM_SSE2.a(EbPictureOperators_SSE2.asm.o)' is incompatible with i386:x86-64 output
collect2: error: ld returned 1 exit status
Source/Lib/Codec/CMakeFiles/SvtHevcEnc.dir/buil

[2019-04-02 02:40] lijing0010 commented on #147
There is a table for all the supported modes and resolutions.
Not all the combination are valid.
https://01.org/sites/default/files/documentation/scalable_video_technology_for_the_visual_cloud.pdf

[2019-04-02 03:01] lijing0010 commented on #153
@tianjunwork , what platform are you using?(and which version are you using?)
I couldn't reproduce it on my side with the same file and command on the latest commit(f924ff9b09a62737154ce4565c0ee3ffba5166b3)
Is there anything I need to take care of?

[2019-04-02 03:37] lijing0010 commented on #8
Only support planar yuv support, no plan for packed yuv input

[2019-04-02 03:37] #8 closed

[2019-04-02 07:55] lijing0010 commented on #160
-nb -1, not -nb 1

[2019-04-02 11:13] DanielOutlook commented on #153
@lijing0010 Hello. I use CentOS 7.4 on Intel NUC (skeleton) in my office.

[2019-04-02 16:36] tianjunwork commented on #153
@lijing0010  GCC 8.1.0  64bit, Ubuntu 16.04, SVT tip.
./SvtHevcEncApp -i ../../../ffmpeg/abc033.ts-2.yuv -w 3840 -h 2160 -fps 30 -n 10 -q 10 -rc 0 -tune 0 -encMode 0 -b abc033.ts-0.yuv.1.hevc

**4k input, tune 0, encMode 0-6, bitstream is corrupted. With tune 1/2, bitstream is fine.**

[2019-04-03 05:37] krcroft opened #171 "Add --version output for the stand-alone encoders and ffmpeg's -encoders listing"
For the ffmpeg patch, here's an example:

`ffmpeg -version`

[code]

[2019-04-03 20:44] tianjunwork commented on #171
Hi @krcroft  version info is printed when running SvtHevcEncApp.
SVT [version]:	SVT-HEVC Encoder Lib v1.3.0
SVT [build]  :	GCC 7.3.1	 64 bit
LIB Build date: Apr  2 2019 20:30:31

[2019-04-04 20:17] tianjunwork commented on #167
Fixed in #173

[2019-04-08 09:10] jsunintel commented on #171
OK.

[2019-04-10 07:04] waterflag0614 commented on #119
@tianjunwork
Could you give me an answer to the above question.

[2019-04-10 10:29] Ilya87 commented on #119
«when the same command line is executed, the value of real bit rate is different each time.»

1 – When run on the same yuv file?

If yes, it' s a bug, otherwise it's normal behaviour. There is no CONSTANT (such as for audio mpeg layer 3) bitrate mode neither ASP, nor AVC standards.

[2019-04-11 09:24] waterflag0614 commented on #119
I executed the following command line and repeated it three times.
SvtHevcEncApp -i mobile_1280x720_yuv420p_288.yuv  -errlog -w 1280 -h 720 -profile 2 -fps-num 30 -fps-denom 1 -rc 1  -tbr 1000000 -intra-period 29 -tune 1 -encMode 1  -irefresh-type 2 -n 250 -b outbitrate.hevc
first time:
Byte Count: 1043419
Bitrate: 1001.68kbps
second time:
Byte Count: 1016863
Bitrate: 976.19kbps
three time:
Byte C

[2019-04-11 11:39] caoli5288 opened #175 "SvtHevcEnc not found using pkg-config"
ERROR: SvtHevcEnc not found using pkg-config

But do really can find it.

  -lSvtHevcEnc -lpthread

config.log tail here:

    3   long check_EbInitHandle(void) { return (long) EbInitHandle; }
    4   int main(void) { int ret = 0;
    5    ret |= ((intptr_t)check_EbInitHandle) & 0xFFFF;
    6   return ret; }
END /tmp/ffconf.hJxACFbb/test.c
gcc-8 -D_ISOC99_SOURCE -D_FILE_OFFSET_BITS=64 -D_LARGEFILE

[2019-04-11 16:46] tianjunwork commented on #175
Hi @caoli5288 Did you follow the instruction exactly? https://github.com/OpenVisualCloud/SVT-HEVC/tree/master/ffmpeg_plugin.
Note: on Debian8 the path of of these two maybe different.
- export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/usr/local/lib
- export PKG_CONFIG_PATH=${PKG_CONFIG_PATH}:/usr/local/lib/pkgconfig

[2019-04-11 18:12] tianjunwork commented on #119
@waterflag0614 for VBR mode, there is no setting for min/max bitrate yet in SVT.
The VBR rate control is a demo only rate control for now, that’s why it does not have a max min rate. It is designed to keep the bitrate as close as possible to the target bitrate limiting the deviations on a best effort. It does not guarantee that the bitrate would be capped to a maximum bitrate.

[2019-04-12 02:15] caoli5288 commented on #175
@tianjunwork I make SvtHevcEnc use prefix `/usr`. Strange
After re-make with the usual prefix, everything is fine.
THX.

[2019-04-12 09:18] Jamaika1 opened #176 "What do I lose without using the assembler in libsvt?"
I use GCC with Windows. If I don't add file object EbPictureOperators_SSE2.asm, will the library work properly?

[2019-04-12 10:07] 1480c1 commented on #176
I do not think so

[2019-04-12 10:16] 1480c1 commented on #176
Are you using mingw or cygwin?

[2019-04-12 12:40] Jamaika1 commented on #176
I use MinGW 9.0.1 with site:
http://msystem.waw.pl/x265/
I test svt_hevc as encoder video svt_hevc and image libbpg on the doom9 forum:
http://forum.doom9.org/showthread.php?t=174300&page=7
I describes my problem with svt hevc in the libraries of the transformed opensource libbpg.
https://www.sendspace.com/file/lzsqp2
I mean the lines in files EbAvcStyleMcp_Intrinsic_SSE2.c and EbMcp_Intrinsic_SSE

[2019-04-12 13:34] 1480c1 commented on #176
Since you are using mingw-w64 without msys2 or any other system, I would recommend to get [nasm](https://www.nasm.us/) or [yasm](https://yasm.tortall.net/) (yasm is preferred by this project) and put them in the %PATH% and then run cmake. AFAIK, this project requires an assembler because there seems to be heavy use of assembly for some sse2 functions.

[2019-04-12 13:43] Jamaika1 commented on #176
Strange that only SSE2.

[2019-04-13 00:47] wcochran opened #177 "Doesn't build with a modern version of gcc"
Building C object Source/Lib/ASM_AVX2/CMakeFiles/ASM_AVX2.dir/EbComputeSAD_SadLoopKernel_AVX512.c.o
cc1: error: unrecognized command line option ‘-mno-sha’
cc1: error: unrecognized command line option ‘-mno-sgx’
[ 17%] Building C object Source/Lib/ASM_SSE2/CMakeFiles/ASM_SSE2.dir/EbComputeMean_Intrinsic_SSE2.c.o
Building C object Source/Lib/ASM_SSE4_1/CMakeFiles/ASM_SSE4_1.dir/EbTransforms_Intrins

[2019-04-13 01:26] 1480c1 commented on #177
Can you include your cflags (`echo $CFLAGS`) and the command line you used for cmake?

[2019-04-15 17:01] #175 closed

[2019-04-15 17:02] #167 closed

[2019-04-15 17:03] #147 closed

[2019-04-15 17:04] #96 closed

[2019-04-16 01:44] DanielOutlook opened #178 "[SVT-HEVC]different sizes of output files generated when encoding a specified YUV stream several times if tune=0 with ffmpeg and SvtHevcEncApp"
For this task the stream processed is "Fallout4_003_1920x1080_8bit_60Hz_P420.yuv", which can be accessed via this link: https://mega.nz/#!6OZEFKRJ!j_1TwlDc9gYW67dOrWo7u5Q8I2ZgghgJ0zgUfTZE0Ps
When this stream is encoded with ffmpeg and SvtHevcEncApp, the sizes of output files are different almost every time it is encoded.
This problem can be re-occurred on SKL machine.
The "-vframes" should be larg

[2019-04-18 07:29] tracy626 opened #180 "Input profile is not correct, force converting it from 2 to MainREXT"
Hi,

I am doing a encoding of 4Kp60 HEVC 10-bit YUV422 HDR input, and my command as following:
[code]
Output：
[code]
There is a warning ***Warning: input profile is not correct, force converting it from 2 to MainREXT for YUV422 or YUV444 cases***
And my result file:
![image_2019_04_18T07_21_17_347Z](https://user-images.githubusercontent.com/18729911/56343631-dd552900-61ed-11e9-9a22-f07e4a440c3b.pn

[2019-04-19 07:21] lijing0010 commented on #180
can I get the yuv file?

[2019-04-19 08:22] tracy626 commented on #180
https://drive.google.com/open?id=1o5cI3R_Vh2xHDsVcxZVL-Vut8Iv6_0B0
It is about 30 frames picture.

[2019-04-20 00:42] mbake5 opened #181 "Segmentation fault on AMD CPU using more than 12 cores"
I am using VMware and if I configure the VM with 12 cores or less then the encode completes without errors.  If I configure 14 or 16 cores then I get a segmentation fault.

mbaker@ubuntu:~/SVT-HEVC/Bin/Release$ ./SvtHevcEncApp -i /mnt/hgfs/C/multimedia/av1/reference_station.yuv -w 1920 -h 1080 -b out.265
-------------------------------------------
SVT-HEVC Encoder
SVT [version]:	SVT-HEVC Encoder L

[2019-04-20 00:51] 1480c1 commented on #181
Can you build in debug mode and prepend `gdb --args` to SvtAv1EncApp when running it?

[2019-04-20 01:37] mbake5 commented on #181
I am not a programmer so I am not sure if I did this correctly.

mbaker@ubuntu:~/SVT-HEVC/Bin/Debug$ sudo gdb --args ./SvtHevcEncApp -i /mnt/hgfs/C/multimedia/av1/reference_station.yuv -w 1920 -h 1080 -b out.265
GNU gdb (Ubuntu 8.1-0ubuntu3) 8.1.0.20180409-git

Reading symbols from ./SvtHevcEncApp...done.

(gdb) run
Starting program: /home/mbaker/SVT-HEVC/Bin/Debug/SvtHevcEncApp -i /mnt/hgfs/C/mul

[2019-04-22 02:57] lijing0010 commented on #180
what tool are you using to show the yuv file?
We only support planar yuv input(in your case, yuv422p10le), from the picture you attached, it's V210 (a packed yuv, UYVY), which we don't support.

[2019-04-22 06:49] tracy626 commented on #180
Hi,
I have tried pure yuv422p10le files. It works.
Thank you.

[2019-04-22 18:12] #180 closed

[2019-04-22 19:07] tnti opened #183 "Added Visual Studio 16 2019 build support"
We only need to add a file generate_vs19.bat
The contents of the bat are as follows:

:: Copyright(c) 2018 Intel Corporation
:: SPDX-License-Identifier: BSD-2-Clause-Patent

cmake ../.. "-GVisual Studio 16 2019" -A x64  -DCMAKE_ASM_NASM_COMPILER="yasm.exe" -DCMAKE_INSTALL_PREFIX=%SYSTEMDRIVE%\svt-encoders -DCMAKE_CONFIGURATION_TYPES="Debug;Release"
pause

@lijing0010  @hassount @tianjunwork

[2019-04-22 19:11] tianjunwork commented on #183
@tnti Thanks:)
VS 2019 is just out for preview. We will add the support after official release.
By the way, did you have a chance to test build/run with vs 2019?

[2019-04-22 19:20] tnti commented on #183
@tianjunwork
I have installed vs2019 and built it successfully.
Vs2019 has been officially released in April.
Svt-av1 was successfully constructed in the same way as svt-vp9.

[2019-04-22 21:38] tianjunwork commented on #183
@tnti That's great. Thx. Would you like to submit the PR since you already have it?

[2019-04-22 21:52] 1480c1 commented on #183
I can do one with variable generator so that there is only one batch script that can generate for 2019 and 2017 if that would be okay. I am currently doing one for SVT-AV1

[2019-04-22 21:55] tianjunwork commented on #183
@1480c1 Sure, sounds good. Thank you.

[2019-04-22 22:03] tnti commented on #183
@1480c1
Thank you.

[2019-04-22 22:24] 1480c1 commented on #183
It's best to keep an issue open until there is something to actually address it (pr or something) so that way it can stay as a reminder of what is still being worked on

[2019-04-23 03:06] tnti commented on #183
@1480c1
 OK.

[2019-04-23 16:23] wcochran commented on #177
$ echo $CFLAGS

empty

[2019-04-24 23:45] tianjunwork opened #185 "Abnormal color for I422_LE10 input"
command used(SVT tip):
![commmand](https://user-images.githubusercontent.com/4551215/56700598-0115e480-66b0-11e9-9a3a-7f72a024b350.JPG)
output:
![422_10LE](https://user-images.githubusercontent.com/4551215/56700600-07a45c00-66b0-11e9-8cc9-e144bbefcf79.JPG)
normal output with I420, Y444, I420_10LE, Y444_10LE input:
![others](https://user-images.githubusercontent.com/4551215/56700610-0a9f4c80-66b0-1

[2019-04-24 23:55] tianjunwork commented on #185
You can use this command to generate 422 yuv if you need to debug with svt app.
gst-launch-1.0 videotestsrc num-buffers=50 ! video/x-raw,format=I422_10LE ! filesink location=422_10.yuv

[2019-04-25 00:09] tianjunwork commented on #185
False alarm. Forgot to set -color-format accordingly.

[2019-04-25 00:09] #185 closed

[2019-04-25 01:44] #183 closed

[2019-05-02 08:15] krcroft commented on #171
@jsunintel, hmm.. indeed.  It's also too bad versions are indicated in the output from `ffmpeg -decoders` and `ffmpeg -encoders`.  That said, these are just free form strings, and we see a variety of how thoroughly a codec is described (or lack-there-of).  For example, RealAudio lists their version, bit rate, and a codec signature where as Sonic lists.. just Sonic!

[code]
Given it's a free-form s

[2019-05-02 08:16] krcroft commented on #171
Regarding the stand-alone binaries, --help indicates ` --version  output version information and exit` however I get:
[code]

[2019-05-02 17:23] tianjunwork commented on #171
Hi @krcroft, exposing version info should be doable through `ffmpeg -encoders`.
`SvtHevcEncApp --version` will fail because it doesn't have --version parameter.

[2019-05-05 09:32] jsunintel commented on #171
When doing encoding jobs by SVT, we have such information dumped by SVT lib.
'''
[]# ./ffmpeg -f rawvideo -s 960x400 -i /work/clips/matrix_1920x1080_250i.yuv -c:v libsvt_vp9 -preset 8 -an test8.ivf
ffmpeg version N-93635-g45fa3c9 Copyright (c) 2000-2019 the FFmpeg developers
  built with gcc 5.4.0 (GCC)
  configuration: --enable-libsvtvp9 --enable-libvpx
  libavutil      56. 26.100 / 56. 26.100

[2019-05-06 01:57] #153 closed

[2019-05-06 02:22] tianjunwork commented on #156
@lijing0010 could you also check if your patch fix this issue?

[2019-05-06 08:26] krcroft commented on #171
@tianjunwork,

So I need to pass an additional `--version` parameter to the existing `--version` argument, like so: `SvtHevcEncApp --version --version`? (which appear extremely unintuitive).  It also doesn't work:

[code]

@tianjunwork, can you copy and paste the exact --version invocation that produces your version string?

Some examples for reference for how typically **--version** works:

1. **

[2019-05-06 08:34] krcroft commented on #171
@jsunintel

So you're saying that, to discover the SVT-version used in FFMPEG, the user needs to construct a valid encode job including providing valied media files, and launch it with sufficient correctness that FFMPEG eventually triggers the internal SVT library - and from there, the user can grep or inspect the output?

That's perhaps the most unintuitive and burdensome method I've every heard

[2019-05-06 09:04] jsunintel commented on #171
ffmpeg -encoders/-decoders is not for dumping encoders/decoders' version information, but only the available encoders/decoders' name and type. Check the code lines and a typical output example, which shows no version. It's never suitable to change any routine of FFmpeg's.

    for (i = 0; i < nb_codecs; i++) {
        const AVCodecDescriptor *desc = codecs[i];
        const AVCodec *codec = NULL;

[2019-05-06 09:22] jsunintel commented on #171
SVT HEVC lib is connected to FFmpeg by the plugin. FFmpeg itself has no responsibility in tracking the 3rd party libraries' version. I was just showing you a method to get the information you asked. The formal methods to get the version of a shared library are:
[code]

Or:
[code]

[2019-05-06 18:05] tianjunwork commented on #171
@krcroft the stand-alone encoder app doesn't have `--version` argument. All available arguments you can refer to the user guide. There is no usage like `SvtHevcEncApp --version --version`.
When running either standalone app or ffmpeg/gst plugin to perform encoding task, the underlining encoder lib will print version info like below:
SVT [version]:  SVT-HEVC Encoder Lib v1.3.0
SVT [build]  :  GCC 8

[2019-05-15 19:40] lupan2005 opened #196 "SVT-HEVC encoder errors from x265"
I followed the instruction from https://x265.readthedocs.io/en/default/svthevc.html and able to build x265 with SVT-HEVC successfully.  But when I ran the new built x265, I got the following errors:
$ x265/build/linux/x265 --y4m tearsofsteel-4k.y4m --svt tearsofsteel-4k-svt.mp4
y4m  [info]: 4096x1714 fps 24/1 i420p8 frames 0 - 17619 of 17620
raw  [info]: output file: tearsofsteel-4k-svt.mp4
x265 [

[2019-05-15 21:48] tianjunwork commented on #196
Hi @lupan2005, TileRowCount and TileColumnCount are new APIs recently added to SVT to support tile-based encoding.
In x265, source/common/param.cpp x265_param_default(), they are initialized to be 0 which is an invalid value. The minimum is 1 means the whole frame is one tile.
Could you post this issue to x265? Thank you.

[2019-05-15 22:47] lupan2005 commented on #196
Hi Tianjunwork,

Thanks for your info!
I could not find the TileRowCount and TileColumnCount in x265_param_default().  Which parameters related with them?
I do not how to post the issue to x265.   Could please send me the link?

Thanks

Lu

[2019-05-16 00:31] tianjunwork commented on #196
Hi @lupan2005 ,

SVT master now has TileRowCount and TileColumnCount as part of EB_H265_ENC_CONFIGURATION.
See https://github.com/OpenVisualCloud/SVT-HEVC/blob/master/Source/API/EbApi.h line 327.
The svtParam buffer is memset to 0 in x265_param_default().
Yes, you could not find them in x265 master which is based on a svt commit without tile encoding.

Please use this mailing list to communicate w

[2019-05-16 16:47] lupan2005 commented on #196
Thanks for the quick reply!

So you mean that x265 does not support the tile encoding for now, correct?

Ok, I will file the issue to x265.

Thanks again!

Lu

[2019-05-16 16:53] tianjunwork commented on #196
Np:)
Yes, source/common/param.cpp should assign a valid value for the new SVT APIs.
Please report to x265. Thank you:)

[2019-05-16 16:53] #196 closed

[2019-05-16 17:59] lupan2005 commented on #196
Update:

I found the place to file the issue for x265:
https://bitbucket.org/multicoreware/x265/issues?status=new&status=open

[2019-05-16 18:01] tianjunwork commented on #196
Thanks for letting me know.
https://bitbucket.org/multicoreware/x265/issues/496/svt-hevc-encoder-errors-from-x265

[2019-05-17 23:19] vuiseng9 opened #197 "How to use -nch of SvtHevcEncApp?"
From BKC in the user guide, for N channel encoding, it is recommended to use parallel instances of the SvtHevcEncApp. I wonder what is the usage of -nch? could you provide an example? if we use -nch 2, how do we specify parameters for 2nd channel?

Along same line, can we feed multiple .cfg where each corresponds to a channel?

Thank you!

[2019-05-18 00:02] tianjunwork commented on #197
Hi @vuiseng9 , multi-instance support is documented in README.md.
The multi-instance functionality is a demo feature implemented in the SVT-HEVC Encoder sample application **as an example of one sample application using multiple encoding libraries**. Encoding using the multi-instance support is limited to only 6 simultaneous streams. For example two channels encoding: SvtHevcEncApp.exe -nch 2 -c f

[2019-05-18 19:44] vuiseng9 commented on #197
@tianjunwork  Thank you!! I missed this readme as I was mainly searching in the ```doc/svt-hevc_encoder_user_guide.md```

[2019-05-19 22:45] #197 closed

[2019-05-20 08:45] EwoutH opened #198 "Make AppVeyor project public"
For some reason

- https://ci.appveyor.com/project/OpenVisualCloud/SVT-AV1

is accessible, but

- https://ci.appveyor.com/project/OpenVisualCloud/SVT-VP9
- https://ci.appveyor.com/project/openvisualcloud/SVT-HEVC

are not ("Project not found or access denied.")

[2019-05-21 18:49] tianjunwork commented on #198
@EwoutH those two links are working now. Thx for reporting.

[2019-05-21 18:49] #198 closed

[2019-05-21 21:00] tianjunwork commented on #168
Hi @issaelaltero, please take a look at this issue. Thx.

[2019-05-22 05:20] whuigithub opened #201 "Only first IDR frame have SEI info"

[2019-05-22 05:29] whuigithub commented on #201
Hi SVT Devs:
    I enable the SVT hdr function and write the hdr metadata info into sei.
    but i found only first IDR picture have SEI info.
    What method do I have to get sei information write to other IDR picture.

[2019-05-22 08:37] whuigithub commented on #201
Another question, can the encoding parameters change on fly? For example, I don't know the HDR metadata information when I call EbH265EncSetParameter.

[2019-05-22 15:51] tianjunwork commented on #201
Hi @whuigithub, before we make plan to support it, could you try FFmpeg Bitstream Filters to insert SEI to unblock you? https://ffmpeg.org/ffmpeg-bitstream-filters.html#toc-hevc_005fmetadata.
No, encoding parameters can't be changed on the fly.

[2019-05-22 15:51] tianjunwork commented on #201
Hi @whuigithub, before we make plan to support it, could you try FFmpeg Bitstream Filters to insert SEI to unblock you? https://ffmpeg.org/ffmpeg-bitstream-filters.html#toc-hevc_005fmetadata.
No, encoding parameters can't be changed on the fly.

[2019-05-23 03:13] whuigithub commented on #201
ok，thanks, I plan call EncodeContentLightLevelSEI&EncodeMasteringDisplayColorVolumeSEI in EbH265EncStreamHeader API, save the Vps+Sps+Pps+SEI，call when I want to use them， am I doing this right?  or i could generate SEI info by myself.

[2019-05-23 03:38] rocky323 opened #202 "when encoding sequence old_town_cross 1080p 4 times at same time, found bad quality, heavy artifacts"
left：SVT-HEVC， right：x265
<img width="1440" alt="屏幕快照 2019-05-20 下午5 55 45" src="https://user-images.githubusercontent.com/50937622/58224499-97413700-7d50-11e9-814a-99c957349551.png">
<img width="1440" alt="屏幕快照 2019-05-20 下午5 56 15" src="https://user-images.githubusercontent.com/50937622/58224504-9ad4be00-7d50-11e9-9343-538cbd331be7.png">

version：
     FFmpeg-4.1.3
     SVT-HEVC v1.3.0
CPU:

[2019-05-23 16:03] tianjunwork commented on #202
Hi @rocky323, is the bitrate of the two generated bitstreams comparable? What is the bitrate setting for x265? Could also attach x265 command?

[2019-05-24 03:15] rocky323 commented on #202
the generated stream of  SVT-HEVC is bigger than x265's.

./ffmpeg -I xx.mp4 -preset slow -vcodec libx265 -b:v 3000k -maxrate 4500k -bufsize 9000k -x265-params frame-threads=10:wpp=0  -g 250 -f mp4 -y xx.mp4

[2019-05-28 06:51] #201 closed

[2019-05-28 08:30] lijing0010 commented on #202
@rocky323 ,where can I get the mp4 file? And can I reproduce it with the SVT app directly?

[2019-05-28 11:18] coolfat opened #204 "Illegal instruction on Intel(R) Xeon(R) CPU E5-2620"
GNU gdb (GDB) Red Hat Enterprise Linux (7.2-56.el6)
Copyright (C) 2010 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for details.
This GDB was configured as "x86_64-redhat-lin

[2019-05-28 16:22] tianjunwork commented on #204
Hi @coolfat How did you build SvtHevcEncApp? Could you paste "lscpu" here?

[2019-05-28 16:27] tianjunwork commented on #201
Hi @whuigithub Did you work through with your solution?

[2019-05-29 03:09] coolfat commented on #204
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                56
On-line CPU(s) list:   0-55
Thread(s) per core:    2
Core(s) per socket:    14
CPU socket(s):         2
NUMA node(s):          1
Vendor ID:             GenuineIntel
CPU family:            6
Model:                 85
Stepping:              4
CPU MHz:               2000.

[2019-05-29 03:23] tianjunwork commented on #204
How did you build SvtHevcEncApp? Did you change some flag?
The information you paste is NOT complete. It doesn't show the "Flags".

[2019-05-29 15:52] coolfat commented on #204
flags           : fpu vme de pse tsc msr pae mce cx8 apic mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss syscall nx pdpe1gb rdtscp lm constant_tsc arch_perfmon rep_good unfair_spinlock pni pclmulqdq ssse3 cx16 sse4_1 sse4_2 x2apic popcnt aes xsave avx hypervisor lahf_lm arat xsaveopt

[2019-05-29 15:53] 1480c1 commented on #204
CFlags

[2019-05-29 23:45] tianjunwork commented on #176
Hi @Jamaika1, any update since then? How can we assist you further?

[2019-05-30 14:11] Jamaika1 commented on #176
What am I supposed to say? I create my codec in my own way. Probably with many mistakes.
http://forum.doom9.org/showthread.php?p=1875211#post1875211

[2019-05-30 14:11] #176 closed

[2019-05-30 19:00] tianjunwork commented on #204
Hi @coolfat , your E5-2620 is  Sandy Bridge which doesn't satisfy our HW requirement Broadwell+. Please refer to the README.
https://ark.intel.com/content/www/us/en/ark/products/64594/intel-xeon-processor-e5-2620-15m-cache-2-00-ghz-7-20-gt-s-intel-qpi.html
FYI, Broadwell is a newer CPU microarchitecture than Sandy Bridge.
https://en.wikipedia.org/wiki/List_of_Intel_CPU_microarchitectures

[2019-05-30 19:00] #204 closed

[2019-05-30 23:09] tianjunwork commented on #177
Hi @wcochran, your E5-2650 is Sandy Bridge which doesn't satisfy our HW requirement Broadwell+. Please refer to the README.
FYI, Broadwell is a newer CPU microarchitecture than Sandy Bridge.
https://en.wikipedia.org/wiki/List_of_Intel_CPU_microarchitectures

[2019-05-30 23:09] #177 closed

[2019-05-30 23:19] #168 closed

[2019-06-03 00:45] rocky323 commented on #202
need using FFmpeg with SVT  enabled.

[2019-06-04 15:02] Eddy805 opened #207 "make fails: inlining failed in call to always_inline ‘_mm_extract_epi32’"
Hi,

When I build from source, I get:

[code]

Looks like something not right with including a gcc 8.3.0 provided header?

[2019-06-04 16:16] tianjunwork commented on #207
Hi @Eddy805, your gcc version is 8.3.0. Is your system Broadwell+? Can I have more info about your OS and platform?

[2019-06-04 21:16] tianjunwork opened #208 "video corruption"
video is corrupted with below command line:
https://github.com/OpenVisualCloud/SVT-HEVC/pull/206#issuecomment-498478295
./SvtHevcEncApp -i ./akiyo_cif.y4m -w 352 -h 288 -fps-num 30000 -fps-denom 1001 -b test.h265
Reproduced on both windows and linux on svt-hevc master.

[2019-06-05 04:51] lijing0010 commented on #208
is it y4m input or yuv input?

[2019-06-05 05:03] tianjunwork commented on #208
@lijing0010 Thanks Jing. I verified yuv input with 352x288. Video is fine.

[2019-06-05 05:03] #208 closed

[2019-06-05 05:33] Eddy805 commented on #207
I am running Arch on an AMD A6-3500.

[2019-06-05 08:19] weitec commented on #201
use ffmpeg bsf, for example
./ffmpeg  -I oceans.h264 -c:v copy -bsf:v h264_metadata=sei_user_data='086f3693-b7b3-4f2c-9653-21492feee5b8+hello' oceans.sei.h264

[2019-06-06 20:42] tianjunwork commented on #207
Could you change the cmake flag  “-march=native” to "–mavx" in [https://github.com/OpenVisualCloud/SVT-HEVC/blob/master/CMakeLists.txt](url) and build it again?
You will lose speed gain of using AVX512 with  “-march=native”.

[2019-06-06 20:52] tianjunwork commented on #181
Could you change the cmake flag “-march=native” to "–mavx" in CMakeLists.txt under root and build it again? Please pull the latest code.

[2019-06-10 03:20] lijing0010 commented on #89
Hi, for M8, M9 it's relatively fast mode, and it became memory bounded rather than CPU bounded.
So if testing on dual 8180, better to use taskset or numactrl to bind the encoding instances to separate node

[2019-06-11 13:48] ihalip opened #212 "Library names conflict with SVT-VP9"
I'm attempting to create a project using both SVT-HEVC and SVT-VP9 by building them in place, but each of them includes a set of libraries with the same name: C_DEFAULT, ASM_AVX2, etc.

Here's a sample CMake error message (there are more of them, for each of the duplicate names):
[code]

To reproduce: https://gist.github.com/ihalip/6a3668929b061aa32fa5feb9ffcb8778

An obvious fix would be to chang

[2019-06-11 13:55] ihalip commented on #212
BTW, AVT-AV1 prefixes the names of these libs with `COMMON_`, so it has e.g. COMMON_C_DEFAULT. IMO, these should also be changed for consistency.

[2019-06-11 14:38] ihalip commented on #212
Here's a tentative change for all 3 projects: https://gist.github.com/ihalip/57e6fd4548e66501bde247ee6c3a146e

This introduces a `SVT_COMMON_LIBRARY_PREFIX` variable (set to either AV1_, HEVC_, VP9_), and the names of the common libraries are prefixed with this value. Here's a list of generated targets:

[code]

[2019-06-11 15:09] 1480c1 commented on #212
The av1 ones are now unecessary since they do not generated the individual libraries anymore, the hevc one will soon also be unnecessary with #206 since that will also implement the same changes

[2019-06-11 15:11] 1480c1 commented on #212
Actually, looking at it, you are trying to create a giant cmake project folder, that is not recommended not supported since there is still no guarantee on compatibility between the svt encoders except in ffmpeg and existability on the system

[2019-06-11 15:19] 1480c1 commented on #212
If you really believe that this should be a feature, then please submit a pr or add to a pr that is already modifying the cmakelists and discuss why this should be done instead of making an issue

[2019-06-12 10:20] ihalip commented on #212
Yes. A new CMake project that builds SVT-* encoders as subprojects.

I don't understand what you're referring to by "compatibility between the svt encoders". They don't need to be compatible. All I'm trying to do is build them all in one go.
And what do you mean by "existability"?

[2019-06-12 15:31] 1480c1 commented on #212
What I mean by compatibility is essentially building within one giant folder without conflict issues

By existability, I just mean the ability to build separate and install separately on the same machine

[2019-06-12 16:44] tnti opened #217 "Sse2 assembly error."
2>------ All rebuilds have been started: Project: ASM_SSE2, Configuration: Debug x64 ------
2>Building Custom Rule E:/SVT-HEVC/Source/Lib/ASM_SSE2/CMakeLists.txt
2>CMake does not need to re-run because E:/SVT-HEVC/Build/windows/Source/Lib/ASM_SSE2/CMakeFiles/generate.stamp is up-to-date.
2>Assembling EbGatherSaoStatistics16bit_SSE2.asm
2>D:\Program Files\CMake\share\cmake-3.14\Templates\MSBuild\na

[2019-06-12 16:46] 1480c1 commented on #217
do you have `yasm` in `PATH`? (try to type `yasm --version` in powershell or cmd)
Please print the output of `yasm --version` here

[2019-06-12 16:49] tnti commented on #217
Is my update vs2019 causing the yasm path to change, the configuration file is wrong.
I have already solved it.
@1480c1  thank you.

[2019-06-12 16:49] #217 closed

[2019-06-13 00:14] 1480c1 commented on #95
Are there anymore docs/user guides?

[2019-06-13 00:16] 1480c1 commented on #207
@Eddy805 can you try from the repo root dir

[code]

and rebuild again and see if that causes the problems to go away?

[2019-06-13 00:19] EwoutH commented on #95
Nope, this issue can be closed indeed.

[2019-06-13 00:19] #95 closed

[2019-06-13 00:31] 1480c1 commented on #118
@filler56789 can you confirm that this builds with mingw? Don't use build.sh since it doesn't specify the generator ( I will submit a redo ). Do

[code]

modifying the Unix Makefiles to Mingw Makefiles if you don't use msys2 or something similar

[2019-06-13 00:45] 1480c1 opened #218 "fps output mismatch with ffprobe"
Although the encoding window shows

[code]

ffprobe shows `Stream #0:0: Video: hevc (Main), yuv420p(tv), 352x288, 25 fps, 25 tbr, 1200k tbn, 25 tbc`

Shows both on `4.18.0-21-generic #22~18.04.1-Ubuntu` and mingw-w64

[2019-06-13 02:13] tianjunwork commented on #218
Hi @jsunintel Could you take a look?

[2019-06-13 02:13] tianjunwork commented on #218
Hi @1480c1 could you share your command line for both?

[2019-06-13 02:18] 1480c1 commented on #218
`.\SvtHevcEncApp.exe -i ..\akiyo_cif.yuv -b test.265 -w 352 -h 288 -fps-num 30000 -fps-denom 1001` for Windows based mingw-w64
`/SvtHevcEncApp -i ../akiyo_cif.yuv -b test.265 -w 352 -h 288 -fps-num 30000 -fps-denom 1001` for Ubuntu

`ffprobe -i test.265` for both

[2019-06-13 03:22] #139 closed

[2019-06-13 03:57] lijing0010 commented on #218
@jsunintel , is it something you fixed recently?

[2019-06-13 04:00] jsunintel commented on #218
This one has nothing to do with FFmpeg plugin. It's all about SVT itself.

[2019-06-13 05:09] GuCaixuan commented on #89
@lijing0010
I verified the issue on last master version(CommintID:5ebc0b2 ), it can be reproduced.
**Because I only run one channel, so I think maybe don’t need to use taskset or numactrl to bind the encoding instances to separate node.**

The sample command line is:
encoders/SvtHevcEncApp -i Netflix_Boat_4096x2160_10bit_60Hz_P420.yuv  -b bitstreams/Speed_Test_M0_Netflix_Boat_4096x2160_10bit_60Hz_

[2019-06-13 06:10] Eddy805 commented on #207
Both solutions (by @tianjunwork  and @1480c1) work, independently of each other. Thanks!

[2019-06-13 06:10] #207 closed

[2019-06-13 08:44] filler56789 commented on #118
Regardless of the chosen makefile type, this is the error I get when trying to compile the messy code:

**[ 95%] Building C object Source/Lib/Codec/CMakeFiles/SvtHevcEnc.dir/EbUtility.c.obj
Linking C shared library ../../../../../Bin/Release/libSvtHevcEnc.dll
r:/make6t4/gccs64/910/bin/../lib/gcc/x86_64-w64-mingw32/9.1.0/../../../../x86_64-w64-mingw32/bin/ld.exe: R:\MAKE6T4\tmp\libSvtHevcEnc.dll.98

[2019-06-13 17:25] tianjunwork commented on #161
WIP by https://github.com/OpenVisualCloud/SVT-HEVC/pull/195

[2019-06-13 18:09] intelmark commented on #156
Confirmed this issue still exists with BigBuckBunny_4000f_1920x1080.yuv using HEVC built on 6/12

SvtHevcEncApp.exe -i Z:\SVT\SVT_Testing\yuvs\BigBuckBunny_4000f_1920x1080.yuv -w 1920 -h 1080 -tune 0 -encMode 4 -b C:/testfiles/bbb1080_e4_tune0.hevc
playback shows substantial mosaic/block issues throughout

SvtHevcEncApp.exe -i Z:\SVT\SVT_Testing\yuvs\BigBuckBunny_4000f_1920x1080.yuv -w 1920 -h 108

[2019-06-14 06:49] kelvinhu325 commented on #55
@tianjunwork @hassount @intelmark  I tried it on my 8180 machine with SVT-HEVC master latest code (June 14), this test works well.

[2019-06-14 14:14] intelmark commented on #55
Kelvin - retried with latest SVT-HEVC today.  The file encodes fine on my Linux NUC device, but still seeing crash on Windows.

[2019-06-19 03:08] PengStrongLee opened #219 "SVT-HEVC+ffmpeg Segmentation fault on Intel Xeon(24 cores, 48 threads)"
I am using SVT-HEVC + ffmpeg plugin.  I install all env in docker and encode complete without errors. But I got two bugs:
When I create 1 instance use "./ffmpeg -i input.mp4 -c:v libsvt_hevc -rc 1 -b:v 10M -tune 0 -preset 9 -y test.265" it complete without errors and got 185 fps.
When I create 10 instances simultaneously(that is to say execute this script “./ffmpeg -i input.mp4 -c:v libsvt_hevc -r

[2019-06-19 17:43] intelmark commented on #218
Did some debug logging with ffmpeg's ffprobe and noticed that the 25 fps is a default value.

ffprobe seems to decode each frame and then calculate an fps value.  The function avformat_find_stream_info attempts to read the frames, however the decoded time stamps (dts) on the packets returned from read_frame_internal seem to be invalid.  Subsequently ff_rfps_calculate can not calculate an appropria

[2019-06-19 22:11] tianjunwork commented on #218
Hi @1480c1, use "-fpsinvps 1" will give you the correct fps number with ffprobe.

[2019-06-19 22:11] tianjunwork commented on #218
Thx @intelmark for investigating ffmpeg behavior.

[2019-06-19 22:12] #218 closed

[2019-06-19 22:53] tianjunwork commented on #219
Hi @jsunintel Could you take a look at the seg fault?
@PengStrongLee for the third one, your guess is right. Please use -lp and -ss to limit the resource to each encoder instance if you run multiple ones. But if you still keep increasing the number of instance, you will still reach the limit.
@jsunintel is -lp and -ss exposed to ffmpeg?

[2019-06-19 23:09] tianjunwork commented on #181
Hi @mbake5, any update? With "-mavx", it should run on your AMD CPU.

[2019-06-19 23:12] mbake5 commented on #181
It didn't compile correctly so I am not sure.

On Wed, Jun 19, 2019 at 6:09 PM Jun <notifications@github.com> wrote:

[2019-06-19 23:16] tianjunwork commented on #109
Maybe next year:)

[2019-06-19 23:16] #109 closed

[2019-06-19 23:19] tianjunwork commented on #181
Oh, what is the compile error?

[2019-06-20 03:14] PengStrongLee commented on #219
But here come a strange phenomena. When I run 1 instance on my machine, use the "htop", look like this:
<img width="218" alt="svt_lp48_ss_0_instance_1_cpu_usage" src="https://user-images.githubusercontent.com/24222433/59815802-5850d200-934c-11e9-8605-38a4e101f80e.PNG">

and when I run 10 instances(complete without error),  use "htop", it look like this:
<img width="225" alt="svt_lp_48_ss_0_cpu_usa

[2019-06-20 04:10] tianjunwork commented on #219
@PengStrongLee what command you use monitored by htop?

[2019-06-20 05:08] PengStrongLee commented on #219
This is part of my test script. The for loop is used to run multi instances.

[2019-06-20 05:20] jsunintel commented on #219
@PengStrongLee your script showed you were running SvtHevcEncApp, but the description of this issue said it was about FFmpeg SVT HEVC plugin. Do you have seg fault in both cases?

[2019-06-20 05:24] tianjunwork commented on #219
Thx, I will take a look.

[2019-06-20 05:26] jsunintel opened #221 "SVT HEVC encode failed by multi-tasks."
Run the below command in one console:
./ffmpeg -stream_loop 100 -i /tmp/ramdisk/8k2D_musician_360_h264.mp4 -c:v libsvt_hevc -rc 1 -b:v 13M -g 60 -tune 1 -preset 10 -vframes 4000 -f null -

Then quickly swith to another console, run the same cmdline.

The first one will fail with "killed" information prompted.

The same for SvtHevcEncApp. Running 2 such cmdlines on 2 consoles simutanously caused on

[2019-06-20 07:53] Austin-Hu commented on #202
Hi @rocky323,

I couldn’t reproduce the **heavy artifacts** issue from the playback comparison of the video clips encoded by SVT-HEVC and libx265. Here is my configuration and reproducing steps:

**Configuration:**
- **CPU** + **OS**: 2 sockets Xeon Gold 6138 CPU @ 2.00GHz, or ;
  1. 2 sockets Xeon Gold 6138 CPU @ 2.00GHz + Ubuntu 16.04.4 LTS
  2. 2 sockets Xeon Platinum 8280 CPU @ 2.70GHz + Ubunt

[2019-06-20 10:40] Austin-Hu commented on #156
At first, this was a random issue which could be reproduced with either the xcp_1080p.mp4 clip from @jetta  or the BigBuckBunny bbb_1080p_30fps_10s.mp4 clip from @tianjunwork and @intelmark . It could be reproduced by encoding them with SVT-HEVC, within less than 5 times. And as the latter clip is much shorter, so that one was "easier" to be reproduced.

And I confirmed that with @lijing0010 's [p

[2019-06-20 16:00] intelmark commented on #178
Pulled down the Fallout clip and verified similar results on our NUC (w/ Ubunutu) with current builds.  There is a file size difference when encoding this clip and using tuning mode 0.

ffmpeg -r 60 -video_size 1920x1080 -f rawvideo -i Fallout4_003_1920x1080_8bit_60Hz_P420.yuv -c:v libsvt_hevc -rc 0 -preset 9 -r 60 -aspect 1 -chroma_sample_location 1 -tune 0 -f hevc 0004.hevc

Tune 0:
0001t0.hevc

[2019-06-20 17:24] tianjunwork commented on #178
@intelmark Thank you for checking the issue.

[2019-06-20 19:44] tianjunwork commented on #156
Confirmed, fixed by #189.

[2019-06-20 19:44] #156 closed

[2019-06-20 22:30] tianjunwork commented on #221
Hi @jsunintel, I can't reproduce on 6140 server. What is your hw env?
![Capture](https://user-images.githubusercontent.com/4551215/59885477-3cf7be00-9370-11e9-8031-2dc480e373ea.JPG)

[2019-06-20 22:55] tianjunwork commented on #219
@PengStrongLee
[code]

[2019-06-21 08:55] Austin-Hu commented on #161
Hi @liweki ,

We confirmed that the issue can be fixed by the PR [#195](https://github.com/OpenVisualCloud/SVT-HEVC/pull/195/), so please close this issue after the PR #195 is merged and your verification. Thanks!

[2019-06-21 14:46] PengStrongLee commented on #219
@tianjunwork I will try on my server next week. Thank you for your help

[2019-06-21 16:06] intelmark commented on #160
Was able to confirm this issue still exists with the current repo:

c:\repos\SVT-HEVCcurrent\Bin\Debug\SvtHevcEncApp -i DucksTakesOff_1280x720_50Hz_P422.yuv -b DucksTakesOff_1280x720_50Hz_P422_Q30_0Q_40.265 -errlog DucksTakesOff_1280x720_50Hz_P422_Q30_0Q_40.errlog -w 1280 -h 720 -bit-depth 8 -fps 50 -intra-period 47 -n 40 -nb 40 -color-format 2 -compressed-ten-bit-format 0 -encMode 1 -q 30 -rc 0 -

[2019-06-24 03:02] jsunintel commented on #221
It's 8180.

[2019-06-24 09:20] fangtaoa commented on #219
@tianjunwork  @PengStrongLee   I and PengStrongLee  are colleagues. We do tests on 8170 CPU. Before the fork error occurred in the docker environment. Now we are testing on the physical machine. There is no fork error.But, With the increase of instance, the utilization rate of CPU is very high at the beginning, but it becomes very low after about half a minute.

[2019-06-24 21:18] tianjunwork commented on #219
@fangtaoa Thanks for the info. I will let it run for a while to observe the cpu utilization drop.

[2019-06-25 00:20] tianjunwork commented on #219
@fangtaoa I run above https://github.com/OpenVisualCloud/SVT-HEVC/issues/219#issuecomment-504227955 script with 5 encoder instance on Xeon 6140 for 3 mins. The cpu utilization is always 100%. It seems like something special for Xeon 81xx including issue @221.

[2019-06-25 00:24] tianjunwork commented on #221
Hi @Austin-Hu, do you have Xeon 81xx. Both this issue and #219(cpu utilization drop) can't be reproduced on 6140. Could you be able to try it?

[2019-06-25 02:26] PengStrongLee commented on #219
@tianjunwork  Thanks for your help. I have run the SVT on physical machine without cpu utilization drop problem whatever instances running in the same time. But when I do the same thing in Docker, when I increase the instance number to 30:
"
when the instances number is 20 or more, that is, the program is still running without any errors, but whatever shell commands I exec in another terminal, err

[2019-06-25 02:31] 1480c1 commented on #219
check ulimit? Might be low for docker containers

[2019-06-25 06:36] PengStrongLee commented on #219
@1480c1
I have checked my /usr/lib/systemd/system/docker.service file,
"
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
"
Is the LimitNPROC is not enough?

[2019-06-25 07:09] PengStrongLee commented on #219
@tianjunwork @1480c1  Have you tried running 30 SVT instances in docker env?
(The same command running on physical machine without problems.)

[2019-06-25 07:12] 1480c1 commented on #219
I've done docker with svt-av1, but not svt-hevc

[2019-06-25 07:12] 1480c1 commented on #219
I'll see if I can help find out why when I wake up

[2019-06-26 07:21] 1480c1 commented on #118
@filler56789, how did you get your mingw-w64 gcc?

[2019-06-26 08:10] liweki opened #227 "[SVT-HEVC]Parameter "-separate-fields" set to 1 not take effect and generated bitstreams has garbage"
Tested with master code with commit ID 9ffbf87, try to set parameter "-separate-fields" to 1 and generate the bitstreams, encoder can be successfully finished. But while use Windows tool to check the generated bitstreams, we found there is garbage in video screen and top and bottom fields in one frame are not separated.

Test command we used:
encoders/SvtHevcEncApp -i yuvs/Fallout4_1920x1080_8bit_

[2019-06-26 15:15] filler56789 commented on #118
@ 1480c1 — I compile my own builds of GCC by using the script created by Zeranoe and modified by nevcairiel. I have an MSYS2 environment that I downloaded three years ago and it keeps working as expected so far.

[2019-06-26 17:40] 1480c1 commented on #118
@filler56789, can you try compiling from https://github.com/1480c1/SVT-HEVC/tree/testmingw on the testmingw branch? It doesn't add stack-protector-strong if mingw, which should be the reason why you are getting those errors. I myself am not able to reproduce with the msys2 pacman supplied gcc, I will try to use zeranoe's script to build one and test

[2019-06-26 20:48] filler56789 commented on #118
Yes, now the damn thing gets to be compiled.
Now all that it needs is an entire usability refactoring, so to speak.
The help screen is not very helpful and the following error message is very useless too:

"SVT [Error]: Instance 1: Input yuv does not contain enough frames"
What the devil does that mean?

[2019-06-26 20:59] 1480c1 commented on #118
Probably it either did not detect a y4m header to read the height, width, fps from or it was not supplied. The printed text does need a lot of help on the readability side

[2019-06-26 21:07] filler56789 commented on #118
OR the stdin support simply sucks. FWIW, x265 reads the input from avs2yuv without a problem.

[2019-06-27 04:01] calvinckfong opened #229 "Inconsistent results when rate control is on"
It seems that the output bitstreams are inconsistent when rate control is on.

./SvtHevcEncApp -i Kimono1_1920x1080_24.yuv -w 1920 -h 1080 -fps 24 -rc 1 -tbr 1200000 -b out.hevc

I ran the above command 3 times and different results are obtained:
240		24.00 fps		   1527621		1222.10 kbps
240		24.00 fps		   1522690		1218.15 kbps
240		24.00 fps		   1530807		1224.65 kbps

The output bitstreams are con

[2019-06-27 05:37] filler56789 commented on #118
PERHAPS it's because my GCC stuff uses MinGW-w64 **6.0.0** (surely) and yours (possibly /probably) still uses MingW-w64 **version 5.0.x**. Already in 2016 I learned to mistrust the GCC from MSYS2's pacman. Recently some members of the Doom9 forum were unable to build x265.exe with the 32-bit GCC 8.3.0 because the ADA compiler _(which "nobody uses")_ refused to be included in the 32-bit package and

[2019-06-27 05:40] 1480c1 commented on #118
gcc.exe (Rev2, Built by MSYS2 project) 9.1.0

[2019-06-27 05:42] 1480c1 commented on #118
So is your gcc 9.1.0 or 6.0.0?

[2019-06-27 05:51] filler56789 commented on #118
GCC = 9.1.0, MinGW.w64 = 6.0.0.

[2019-06-27 06:07] 1480c1 commented on #118
Interestingly, https://github.com/msys2/MINGW-packages/commit/7e59389dd7fe748b38356f0fc78f5edeb933aa96 adds back in ada. I was wondering why it was wasn't present in pacman, I didn't update the database.

[2019-06-27 06:22] calvinckfong commented on #229
Just notice this in readme

VBR BRC mode:
The VBR functionality implemented in SVT-HEVC Encoder is a demo feature to allow for an easier integration of product level BRC. The algorithm implemented would allow the encoder to generate an output bit stream matching, with a best effort, the target bitrate. The algorithm does not guarantee a certain maximum bitrate or maximum buffer size [does not foll

[2019-06-27 06:22] #229 closed

[2019-06-27 08:38] Austin-Hu commented on #160
Issue tracing status:
1. This is a random issue that we would get different MD5 for the encoded clip, with the same SvtHevcEncApp command line (configuration). So it means that it's not related to the "-nb" buffered preload parameter.
2. The issue can be also reproduced by encoding only 1 (the 1st key) frame, by setting "-n" with 1.
3. The issue can be also reproduced with YUV 420 or 444 format, b

[2019-06-27 09:52] rocky323 commented on #202
: ./ffmpeg -stream_loop 3 -i old_town_cross_1080p50.y4m -c:v libx264 -preset slow -crf 8 -s 1920x1080 old_town_cross_1080p.mp4
the command of ffmpeg above  will produce a stream with default 50 fps, that is no the same with my stream  (24 fps) , you can use a -r 24 before -i to get it.And you'd better use 4 loop to keep pace with me.

[2019-06-27 16:27] tianjunwork commented on #202
Hi @rocky323, "NOTE: C-old_town_cross_1080p24f.mp4 is a stream that we repeat the sequence 4 times and encode with x264 with '-preset slow -crf 8'." ==>Could you just paste the command of generating the mp4 file? Thx.

[2019-06-27 19:18] tianjunwork commented on #219
@fangtaoa I can only reproduce the low cpu utilization when the memory usage goes to extreme.
With 3 instances of 8k encoding with -lad set to max, mem is almost all occupied.
Please check your memory usage when you see low cpu utilization.
![image](https://user-images.githubusercontent.com/4551215/60293923-205e0780-98d5-11e9-9331-69a5bc9d6514.png)

[2019-06-27 19:24] tianjunwork commented on #221
Hi @jsunintel, I simulate the extreme mem usage in https://github.com/OpenVisualCloud/SVT-HEVC/issues/219#issuecomment-506476395. Encoders can still run.
Could you either provide more postmortem info or grant me access to your server?

[2019-06-28 01:14] fangtaoa commented on #219
@tianjunwork OK. I'll try. Thanks!

[2019-06-28 03:02] tianjunwork commented on #227
Hi @liweki, could you check if #233 fix this issue? Thx.

[2019-06-28 03:09] tianjunwork commented on #227
BTW, "-interlaced-video 1" and "-separate-fields 1" conflicts.
-separate-fields 1 means the input is interlaced, the encoder process the yuv and encode it as progressive. The output is progressive.
-interlaced-video 1 means the encoder indicates output is interlaced video content. To be specific, refer to http://ramugedia.com/interlace-support-in-hevc.

[2019-06-28 09:55] jsunintel commented on #221
The diff is probably caused different memory sizes on different machines. You could start more than 2 encoding processes simutanously to trigger the killing event. Please try 4 or 8.

[2019-06-28 16:20] tianjunwork commented on #221
@jsunintel As you can see from #219 (comment), running 3x8k encoding with max lookahead, 155G memory out of 156G is used.

[2019-06-28 23:12] 111alan opened #234 "build fail on windows 10"
Build fail on windows 10 with following message. I'm using vs2017 with vtune 2019, cmake3.14.5， YASM1.3 all installed as instructed, on windows 10 1809. Do I have to build it on windows 2016?

And are there any prebuilt binaries?

Thank you.
![svtfail](https://user-images.githubusercontent.com/30613544/60375541-481baf80-9a3c-11e9-8e60-4954df0ee438.png)

[2019-06-28 23:22] 1480c1 commented on #234
That is fine, just check in the folder and look for a svt-hevc.sln file

[2019-07-01 05:31] PengStrongLee commented on #219
@tianjunwork  Have you tried run 20 or more SVT instances in docker?
We have change the param "-o" to "-b" for the output_file , this help us to solve the CPU utilization drop issue. Thanks a lot~. We run 20 or more SVT instances in physical machine  without any issue.
But the process fork error appeared just like I have mentioned above. Although the SVT still running but it seems wrong because th

[2019-07-01 12:31] rocky323 commented on #202
./ffmpeg  -pix_fmt yuv420p -s 1920x1080 -r 24 -i C-old_town_cross_1080p50.yuv -vcodec libx264 preset slow -crf 8 -f mp4 C-old_town_cross_1080p24f.mp4

[2019-07-01 20:47] 111alan commented on #234
Then the problem is, when I open the sln file in vs2017, it shows that all the modules failed to load.

![svtfail2](https://user-images.githubusercontent.com/30613544/60463885-b69c7f80-9c7f-11e9-8657-2b67adf0ddc4.png)

[2019-07-01 21:02] intelmark commented on #234
Any clues in a CMakeError.log file? (Build/windows/CMakeFiles) ?

[2019-07-02 08:16] liweki opened #235 "[SVT-HEVC] OQ between encMode 0&1 has the same quality, and also have the same bitstreams"
Run test with master code with commit ID 7ef5fc8, found in OQ mode (-tune 1) between encMode 0 and 1, the generated bitstreams have the same quality.
In VMAF mode (-tune 2) between encMode 4 and 5 for resolution 1280x720, 1920x1080, encMode 5 and 6 for 3840x2160, also have the same quality issue.

Test command we used:
**OQ:**
encoders/SvtHevcEncApp -i yuvs/DucksTakeOff_1280x720_8bit_50Hz_P420.yuv

[2019-07-02 16:35] intelmark commented on #160
I've been able to duplicate this though in a different CU using:
-i C:/testfiles/DucksTakesOff_1280x720_50Hz_P422.yuv -b c:/testfiles/DucksTakesOff_1280x720_50Hz_P422_Q30_0Q_2.265  -w 1280 -h 720 -bit-depth 8 -fps 50 -intra-period 47 -n 1 -color-format 2 -compressed-ten-bit-format 0 -encMode 1 -q 30 -rc 0 -tbr 182880 -tune 1

![image](https://user-images.githubusercontent.com/50715202/60529934-90d

[2019-07-02 16:40] intelmark commented on #234
Seems like today I'm having troubles building on Windows 10 using the current repo:

C:\repos\SVT-HEVCTest1\Build\windows>build.bat 2017
Building for Visual Studio 2017
Environment variable release not defined
CMake Error: The source directory "C:/repos/SVT-HEVCTest1/Build/windows/Win64" does not exist.
Specify --help for usage, or press the help button on the CMake GUI.
Error: could not load cach

[2019-07-02 18:20] 111alan commented on #234
Actually there are too many failures that I don't know where to start :X
`Checking whether the ASM_NASM compiler is GNU using "--version" did not match "(GNU assembler)|(GCC)|(Free Software Foundation)":
yasm 1.3.0
Compiled on Aug 17 2014.
Copyright (c) 2001-2014 Peter Johnson and other Yasm developers.
Run yasm --license for licensing overview and summary.
Checking whether the ASM_NASM compiler i

[2019-07-02 19:35] intelmark commented on #234
Replacing the Build/windows/build.bat file from the same one in the SVT-AV1 project seems to work ok in the SVT-HEVC project

[2019-07-02 21:53] 111alan commented on #234
I replaced the bat file,  still a lot of errors, with several warnings and 3 build failures in vs2017. Trying to compare both bat files to find if there is a way to modify them.

Is it possible to build it directly in cmake?

Thank you.

build logs:
[log.txt](https://github.com/OpenVisualCloud/SVT-HEVC/files/3352441/log.txt)

[2019-07-02 22:24] intelmark commented on #234
Not sure about using cmake directly.  Windows build instructions in the README.MD should be adequate (though not working at the moment).

Attaching my build log.  I'm not seeing the C4819 warnings, maybe this page has some clues: https://docs.microsoft.com/en-us/cpp/error-messages/compiler-warnings/compiler-warning-level-1-c4819?view=vs-2019 . Also not getting the build errors.

Have you deleted y

[2019-07-04 02:21] Holly0521 opened #237 "The speed of encoding one 8Kp60/10-bit streams"
I run the commond :
./ffmpeg -i 8k-60fps-10bit-hevc.mkv -c:v libsvt_hevc -tune 0 -preset 11 -rc 1 -b:v 120000k -la_depth 8 -profile:v main10 -tier high -level:v 6.2 -c:a copy -pix_fmt yuv420p10le test-8k.ts
But the speed running in DELL PowerEdge R740 is better than the speed running in DELL PowerEdge R840. Does it need to be added some parameters? Thanks a lot.

[2019-07-04 02:22] 1480c1 commented on #237
Do you have any specific numbers (fps, etc) and what cpu you have?

[2019-07-04 02:33] Holly0521 commented on #237
The fps is 19 and the utilization rate of cpu is 3800% running in DELL PowerEdge R740.The fps is 16 and the utilization rate of cpu is 4500% running in DELL PowerEdge R840.
The cpu information of DELL PowerEdge R740 is:
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                56
On-line CPU(s) list:   0-55
Thread(s) per core:

[2019-07-04 02:40] Holly0521 commented on #237
The cpu model name of DELL PowerEdge R740 is Intel(R) Xeon(R) Gold 6132 CPU @ 2.60GHz.
The cpu model name of DELL PowerEdge R840 is Intel(R) Xeon(R) Gold 6150 CPU @ 2.70GHz.

[2019-07-04 08:33] jsunintel opened #238 "Some YUV422 source was encoded wrong with red block artifacts."
Reproducing steps:
1. Download 3dat_backup_20190702100830.yuv (3200x2400 uyvy422) from https://drive.google.com/drive/folders/1xZq6GT7fnwrEqPDOxgcqvhFfAIbvzcAr?usp=sharing.
2. Convert it to the format yuv422p, which is supported by SvtHevcEncApp, by "ffmpeg -r 30 -video_size 3200x2400 -f rawvideo -pixel_format uyvy422 -i 3dat_backup_20190702100830.yuv -f rawvideo -pix_fmt yuv422p 3dat.yuv"
3. Enco

[2019-07-04 08:34] jsunintel commented on #238
The source 3dat.yuv contains no such red block artifacts, and if we encode it by x265, no such either. The artifacts are shown in the attached picture.

[2019-07-05 09:32] deyuanhaha opened #240 "What is the configuration parameter that set QP to be the same for all frames?"
I want to test the performace of svt-hevc with CQP. But I didn't find the relevant parameters to set same QP for per frame encoding.
Could you tell me how to set the configuration parameter to encode per frame with same QP?

[2019-07-08 03:05] kelvinhu325 commented on #238
to update status, root caused pink artifacts are  caused by SVT SAO from first I frame, pink artifacts appear if disabling SAO in cmdline by -sao 0, needs more debugging.

[2019-07-08 03:27] deyuanhaha commented on #240
emmm.. i have found the configuration parameter: -use-q-file 1 -qp-file xxx

[2019-07-08 03:27] #240 closed

[2019-07-08 18:22] tianjunwork commented on #237
Hi @Holly0521, the cpu utilization is pretty low even for R740. Could you run ./SvtHevcEncApp with the same parameters and share the fps and cpu utilization?

[2019-07-08 18:55] tianjunwork commented on #235
Hi @liweki, Thanks letting us know the issue. In the coming months, we plan to refactor the encMode logic and tune each setting.
I wonder if you could provide more feedback between OQ and VMAF? Which one is the preferred mode in your usage?

[2019-07-08 19:00] tianjunwork commented on #227
Hi @liweki, could you see if #223 address your issue? Thx.

[2019-07-08 21:25] 1480c1 commented on #234
@111alan, can you copy this into the build.bat and run again?

[code]

[2019-07-09 01:10] tianjunwork commented on #234
@111alan could you try #241? with command: build.bat 2017?

[2019-07-09 01:10] kelvinhu325 commented on #160
my change for fixing issue #238 in PR https://github.com/OpenVisualCloud/SVT-HEVC/pull/242 also fixed this issue as @austin-Hu

[2019-07-09 01:12] kelvinhu325 commented on #238
This issue is fixed by PR https://github.com/OpenVisualCloud/SVT-HEVC/pull/242

[2019-07-09 03:08] lijing0010 commented on #160
Hi Austin, please double check for 420 and 444

[2019-07-09 03:27] Holly0521 commented on #237
Hi @tianjunwork, I use the commond:
./SvtHevcEncApp -encMode 12 -tune 0  -color-format 1 -w 7680 -h 4320 -bit-depth 10 -compressed-ten-bit-format 1 -i 8k-10bit.yuv -profile 2  -tier 1 -level 6.2 -rc 1 -tbr 120000000 -fps 60 -n 1800 -b out1.bin
The fps, cpu utilization running in R740 is 15.89fps, 3200%, and in R840 is 26.76fps, 3000%. Thanks a lot.

[2019-07-09 04:28] Austin-Hu commented on #160
Confirmed that I made a mistake in Item 3 of my last comment, due to the incorrect repeat MD5 values fetching during my testing... This issue didn't happen with YUV 420 or 444.

So @liweki , please also verify the issue in your side as PR #[242](https://github.com/OpenVisualCloud/SVT-HEVC/pull/242) has been merged.

[2019-07-09 05:19] Austin-Hu commented on #202
Hi @rocky323 ,

At first, when encoding the looped video clip via libx264, we should use "-stream_loop 3", rather than "4". Please refer to the usage of "-stream_loop" option [here](https://www.ffmpeg.org/ffmpeg-all.html#Main-options). So the total frame count should be "original_frame_count * (stream_loop_count + 1)". And in the picture of your 1st comment, you encoded the original video (500 fra

[2019-07-09 05:26] kelvinhu325 commented on #238
The PR #242 is merged to master, we may close this issue, thanks!

[2019-07-09 17:01] intelmark commented on #55
Retried with current SVT-HEVC head today.  Not seeing the crash anymore on Windows.

[2019-07-09 17:32] tianjunwork commented on #219
This seems more like a docker issue, not SVT. My folks of Dockerfiles maintainer is debugging.

[2019-07-09 18:00] #238 closed

[2019-07-09 18:11] #212 closed

[2019-07-09 22:25] #161 closed

[2019-07-09 23:53] liz-lawrens commented on #219
@PengStrongLee I tried to replicate the issue #219 on our svt docker image and am unable to replicate it. I used your script and it runs fine for instances > 20. I ran it for 30 instances and average speed came to around ~9-10 fps. The script executes successfully and I don’t encounter any errors either. Could you please provide more info on the fork error that you are encountering as we are unabl

[2019-07-10 03:57] Holly0521 commented on #237
Hi @tianjunwork, I use the commond:
./SvtHevcEncApp -encMode 12 -tune 0 -color-format 1 -w 7680 -h 4320 -bit-depth 10 -compressed-ten-bit-format 1 -i 8k-10bit.yuv -profile 2 -tier 1 -level 6.2 -rc 1 -tbr 120000000 -fps 60 -n 1800 -b out1.bin
The fps, cpu utilization running in R740( 2*Intel(R) Xeon(R) Gold 6132 CPU @ 2.60GHz, MemTotal: 125G)  is 26.76fps, 3000%, and in R840(4* Intel(R) Xeon(R) Gol

[2019-07-10 04:01] Holly0521 commented on #237
Hi @tianjunwork, I use the commond:
./SvtHevcEncApp -encMode 12 -tune 0 -color-format 1 -w 7680 -h 4320 -bit-depth 10 -compressed-ten-bit-format 1 -i 8k-10bit.yuv -profile 2 -tier 1 -level 6.2 -rc 1 -tbr 120000000 -fps 60 -n 1800 -b out1.bin
The fps, cpu utilization running in R740( 2*Intel(R) Xeon(R) Gold 6132 CPU @ 2.60GHz, MemTotal: 125G) is 26.76fps, 3000%, and in R840(4*Intel(R) Xeon(R) Gold

[2019-07-10 04:47] tianjunwork commented on #237
For low fps on R840, I suspect the numa effect.
4 socket server is rear on market, the TargetSocket logic is developed for 2 socket server.
You can use numactl -N 0,1 command to run process on node 0,1 for example.
Could you constrain the process on node 0,1 on R840 to see any difference? numactl -N 0,1 ./SvtHevcEncApp ...

[2019-07-10 06:13] Holly0521 commented on #237
Hi @tianjunwork, I use the commond: numactl --hardware.
R840 (low fps) has 1 node, so it shouldn't have  numa effect.
R740 (high fps) has 2 nodes.

[2019-07-10 17:34] tianjunwork commented on #237
Oh, I didn't notice the numa node number. Usually it is the same as socket number. Let me see if I can get the same hw to debug.

[2019-07-10 19:09] #160 closed

[2019-07-10 19:13] #55 closed

[2019-07-10 20:36] #234 closed

[2019-07-11 04:16] #227 closed

[2019-07-11 04:40] tianjunwork commented on #237
We don't have similar server internally to debug this issue. If you can use vtune. Could you use numactl -N 0,1 to constrain encoder process within 2 sockets on R840 to see any difference?

[2019-07-11 10:14] Holly0521 commented on #237
Hi @tianjunwork, thanks for your reply. Then, I'll try it.

[2019-07-12 17:49] liz-lawrens commented on #219
@PengStrongLee As we discussed this doesn't seem to be an issue due to anything specific to this docker image.  Can we go ahead and close this?

[2019-07-16 01:56] liudongbo opened #254 "How to control bitrate?"
I set some paraments like -rc 1 -tbr 5000,it is not work,help me please

[2019-07-16 03:14] intelmark commented on #254
Hi liudongbo!

Hopefully we can help.  Can you provide the full command line you are using and what is making you think that it's not working?

Also refer to the user guide for information about rc1 and setting lookahead distance:
[](https://github.com/OpenVisualCloud/SVT-HEVC/blob/master/Docs/svt-hevc_encoder_user_guide.md)

thanks...
-mark

[2019-07-16 03:17] liudongbo commented on #254
Command as follow:
SvtHevcEncApp -i input.yuv -w 1920 -h 1080 -b /output.h265 -rc 1 -tbr 5000

[2019-07-16 03:46] intelmark commented on #254
Can you share the output of the encoder and any information about the input.yuv file?

[2019-07-16 03:51] liudongbo commented on #254
input.yuv  123 frames and 1920x1080
How can i send output file and input.yuv to you?
Can you give me your e-mail?
thx

[2019-07-16 03:55] tianjunwork commented on #254
@liudongbo, -tbr is "Target bitrate in bits / second", 5000 is too low for 1080p. Pls set a higher value. Should fix your issue.

[2019-07-16 04:44] liudongbo commented on #254
thank you very much!

[2019-07-16 05:41] tianjunwork commented on #221
With two 8k encoding process running, one of them got "Program terminated with signal SIGKILL, Killed. " after a while.
The kernel OOM killer terminated it (effectively the kernel executed kill -9 for it). /var/log/syslog shows:
[code]

[2019-07-16 05:43] #221 closed

[2019-07-16 05:47] tianjunwork commented on #254
@liudongbo np, pls let us know if you get it working.

[2019-07-16 06:13] liudongbo commented on #254
Target bitrate = -tbr <int>/1000
it working.

[2019-07-16 16:51] #254 closed

[2019-07-16 16:53] tianjunwork commented on #219
@PengStrongLee any other issues you would like to follow up with us?

[2019-07-17 13:39] andrewmabc opened #255 "when to support building both static/dynamic libs"
when to support building both static/dynamic libs?

[2019-07-17 17:05] 1480c1 commented on #255
Do you mean building both .a and .so in the same build?

[2019-07-17 17:11] tianjunwork commented on #255
Hi @andrewmabc , you can refer to #128. I provided patch you build static libs.

[2019-07-18 08:27] wangjingz opened #258 "encMode 11 Tune 1, encoder output have run to run different. (M10 is ok)"
Master git rev-parse --short HEAD
94996f6

**EncMode 11 Tune 1, output file have run to run different (M10 is ok) command line like:**
**M11 P420 10bit：**  ./SvtHevcEncApp -encMode 11 -w 4096 -h 2160  -i Netflix_FoodMarket2_4096x2160_10bit_60Hz_P420.yuv  -q 27  -fps 60 -b bitstreams/svt-hevc_Netflix_FoodMarket2_4096x2160_10bit_60Hz_P420_Q27.bin   -n 300  -intra-period 119 -bit-depth 10  -lad 119 -

[2019-07-18 10:41] calvinckfong opened #259 "10-bit source problem"
I create a 10-bit source using gstreamer:
`gst-launch-1.0 -v videotestsrc num-buffers=300 ! video/x-raw,width=640,height=480,format=I420_10LE,colorimetry=bt2020 ! filesink location=test10Bit.yuv`

Then I encode the yuv file with the following command:
`./SvtHevcEncApp -i test10bit.yuv -w 640 -h 480 -fps 30 -rc 1 -tbr 2000000 -scd 1 -intra-period 29 -bit-depth 10 -compressed-ten-bit-format 0 -b tes

[2019-07-18 16:48] tianjunwork commented on #259
Hi @calvinckfong, I use the same command line, could not reproduce the issue.
I notice that you generated **test10Bit.yuv**, but encode **test10bit.yuv**. Do you have test10bit.yuv that is a different color format?

[2019-07-19 04:02] calvinckfong commented on #259
Thank you for your quick response.
Sorry for typo in the yuv filename.  I made sure that the file is generated from that gstreamer command.
I guess I figure out the reason.  I retried the encoding command with **-asm 0** option and the output becomes artifact-free.  My machine's CPU is i7-7700 support up to AVX2.  Possibly the bug only appears in AVX2 or below optimization.  Would you mind to take

[2019-07-19 04:19] calvinckfong commented on #259
Those command are run on machine with Xeon(R) Gold 6136.  The result is artifact-free.

[2019-07-19 05:16] lijing0010 commented on #235
@liweki ,could you re-test it with the latest master branch?
Note: we only support tune 1 now, so don't need test for tune 0 and tune 2

[2019-07-19 05:18] tianjunwork commented on #259
Hi @calvinckfong, thanks for doing the experiments which helps root cause.

[2019-07-19 05:44] Stephanie-Qi opened #260 "Core dump issue with high resolution input"
I encode 8k yuv input with following command line:
./SvtHevcEncApp -i 8k.yuv -w 7680 -h 3840 -scd 0 -tune 0 -intra-period 14 -lad 14 -rc 1 -tbr 100000000 -hierarchical-levels 3 -pred-struct 2 -base-layer-switch-mode 1 -fps-num 30000 -fps-denom 1001 -n 2000 -b test.265

After ~300 frames encoded, core dump issue happened. I have tried several times, core dump issue arises every time.

And this issu

[2019-07-19 06:18] calvinckfong commented on #259
Welcomed.  If any further information is needed, please let me know.

[2019-07-19 11:39] GrandAdmiralThrawn opened #262 "More fine-grain selection of assembly code paths"
While I'm aware that this is a high performance library focused on AVX2/AVX512, I would like to pick assembly code paths more selectively, or to have a better auto-detection.

Currently, SVT-HEVC allows the user to pick AVX512 (-asm 7), AVX2 (-asm 3), NOAVX2 (-asm 1) and pure C code (-asm 0). However, "NOAVX2" still doesn't make the code run on machines without any AVX (or maybe BMI? FMA?). So the

[2019-07-19 16:29] tianjunwork commented on #260
Hi @Stephanie-Qi Thx reporting the issue. Could you verity if #261 address your issue?

[2019-07-19 16:31] #219 closed

[2019-07-22 03:36] Stephanie-Qi commented on #260
Yes, seems it fixed my issue. Thank you!

[2019-07-22 04:18] #260 closed

[2019-07-22 07:33] andrewmabc commented on #255
I follow the thread's instructions, and use the latest source code. But I fail to link. Below is error message:

[ 87%] Building C object Source/Lib/Codec/CMakeFiles/SvtHevcEnc.dir/EbNeighborArrays.c.o
[ 88%] Building C object Source/Lib/Codec/CMakeFiles/SvtHevcEnc.dir/EbPictureOperators.c.o
[ 89%] Building C object Source/Lib/Codec/CMakeFiles/SvtHevcEnc.dir/EbPredictionStructure.c.o
[ 90%] Buildi

[2019-07-22 22:08] tianjunwork commented on #255
Hi @andrewmabc , if possible, could you attach your patch?

[2019-07-23 05:18] liweki opened #269 "Encode output bitstream has obvious garbage with P444 480/720/1080 8bit/10bit YUV input in encMode 0-2"
During run SVT-HEVC test with Commit ID 94996f6, found the encode output bitstream has green screen or obvious garbage with **P444 480/720/1080 8bit YUV input in encMode 0-2** & **P422/P444 10bit 480 YUV input in encMode 0-9**.
A little encoded 4k bitstreams also has this issue.

Pass on pervious commit ID 7ef5fc8.

**Test command line we used:**
**8bit P444:**
- encoders/SvtHevcEncApp -encMode 2

[2019-07-23 05:23] tianjunwork commented on #269
Hi @liweki, Thx again pointing out the regression.

[2019-07-23 07:27] kelvinhu325 commented on #269
I tried it, it's proved the commit https://github.com/OpenVisualCloud/SVT-HEVC/commit/94996f6d5041c7830e34f95be4706b151f8624f8 causes this artifacts.

[2019-07-23 09:19] GuCaixuan opened #272 "[SVT-HEVC]The encoded streams have difference between AsmType enabled and disabled in encMode[0-2]"
[Test environment]
OS： Ubuntu 18.04.2 LTS
SVT CommitID: 94996f6

[Issue Description]
During run SVT-HEVC test with Commit ID 94996f6, found the encoded streams have difference between AsmType enabled and disabled in encMode[0-2].
The P420 and P422 input YUV have this issue, but P444 input YUV is blocked by "https://github.com/OpenVisualCloud/SVT-HEVC/issues/269"

Test command line we used:
encoder

[2019-07-23 13:34] andrewmabc commented on #255
below is my patch:

[root]# git diff Source/App/CMakeLists.txt
diff --git a/Source/App/CMakeLists.txt b/Source/App/CMakeLists.txt
old mode 100644
new mode 100755
index b57121c..46b82d0
--- a/Source/App/CMakeLists.txt
+++ b/Source/App/CMakeLists.txt
@@ -13,7 +13,6 @@ include_directories(${PROJECT_SOURCE_DIR}/Source/API/
 add_executable(SvtHevcEncApp
     EbAppConfig.c
     EbAppContext.c
-    EbApp

[2019-07-23 13:37] andrewmabc commented on #255
[root]# git diff Source/App/CMakeLists.txt
diff --git a/Source/App/CMakeLists.txt b/Source/App/CMakeLists.txt
old mode 100644
new mode 100755
index b57121c..46b82d0
--- a/Source/App/CMakeLists.txt
+++ b/Source/App/CMakeLists.txt
@@ -13,7 +13,6 @@ include_directories(${PROJECT_SOURCE_DIR}/Source/API/
 add_executable(SvtHevcEncApp
     EbAppConfig.c
     EbAppContext.c
-    EbAppFifo.c
     EbAppMai

[2019-07-23 13:39] andrewmabc commented on #255
[svt-hevc_patch.txt](https://github.com/OpenVisualCloud/SVT-HEVC/files/3422308/svt-hevc_patch.txt)
this is the patch

[2019-07-23 15:54] intelmark commented on #269
I took a look at the 10-bit ParkJoy clip.  Using the provided parameters in the latest commit (7cae32d2) I see a block artifact:

![image](https://user-images.githubusercontent.com/50715202/61726507-99ab1780-ad26-11e9-89ce-5e16da84a127.png)

![image](https://user-images.githubusercontent.com/50715202/61726569-b21b3200-ad26-11e9-97af-557cb6abd82f.png)

In a prior commit (b85bc817), the video appear

[2019-07-23 17:24] tianjunwork commented on #255
Hi @1480c1, would you like to try out the patch and help @andrewmabc out? Thanks:)

[2019-07-23 18:03] 1480c1 commented on #255
Sure, I can try to figure out. I primarily would like to add static libs support like SVT-AV1 did, but the main problem is duplication in time functions from lib and app and some others

[2019-07-23 20:44] 1480c1 opened #274 "Sigill When encoding"
With ubuntu 19.04 on Xeon X3430, when trying to encode, the program reports
[code]

SVT-AV1 is fine, only SVT-HEVC doesn't work. Haven't tested SVT-VP9 yet

[2019-07-23 20:46] 1480c1 commented on #274
I do think that it's probably because of the cpu, but I wonder why SVT-AV1 works fine

[2019-07-23 22:00] tianjunwork commented on #274
Here is the cpu arch of your X3430:  https://en.wikipedia.org/wiki/Lynnfield_(microprocessor)
AV1 compiles with -mavx. HEVC doesn't specify any. Native is disabled by #243.
I am not sure why -mavx works fine with your X3430.

[2019-07-23 22:18] 1480c1 commented on #274
For the cpu flags part, the c compilers (gcc and clang, idk about others) do not care about if the build computer's cpu can support certain instruction sets unless `-march=native` is set (still doesn't override `-mavx2` etc unless `-no-mavx2` is set) so the gcc on that computer can use `-mavx` or `-mavx2` and generate avx and avx2 code, even though it cannot run it.
Main benefit is for compiling f

[2019-07-24 00:25] tianjunwork commented on #272
@GuCaixuan Thx reporting the issue.

[2019-07-24 00:35] tianjunwork commented on #272
Hi @GuCaixuan, similar to #161, you find bitstream difference between -asm 0 and 1, only for encMode[0-2]?

[2019-07-24 00:48] GuCaixuan commented on #272
@tianjunwork , Yes, only for encMode[0-2].

[2019-07-24 04:18] tianjunwork commented on #274
So you didn't compile code on X3430? Just run the encoder app on it?  Where the app is compiled?

[2019-07-24 04:29] 1480c1 commented on #274
I did compile on x3430, it's just that GCC doesn't care and will compile avx and avx2 instructions

[2019-07-24 05:45] lijing0010 commented on #269
@intelmark , you are using a YUV420 as YUV444, that's why you see this defects.

[2019-07-24 06:10] liweki opened #276 "[SVT-HEVC]If setting parameter -sao 1 or -dlf 1, the encoded output bitstreams have run to run issue with YUV420/422/444 input clip"
**[Test environment]**
OS： Ubuntu 18.04.2 LTS
Master Commit ID: 94996f6

**[Issue Description]**
While use SVT-HEVC master code with Commit ID 94996f6 to run the same command line for many times (about 10 times) with Parameter -sao 1 or -dlf 1 setting, found the encoded bitstreams have run to run issue (different file size and md5 value).

The issue is reproducible with YUV420/422/444 input clips.

[2019-07-24 06:26] #258 closed

[2019-07-24 08:44] liweki commented on #272
This issue is still reproducible with the latest check in 5107c84.

[2019-07-24 17:16] #269 closed

[2019-07-24 19:48] tianjunwork commented on #235
Verified: "-tune 1" between encMode 0&1 have the same bitstreams.

[2019-07-24 19:55] tianjunwork commented on #178
-tune parameter is deprecated.  Now encoder only has 1 tune mode which is the original -tune 1.

[2019-07-24 19:55] #178 closed

[2019-07-24 22:45] tianjunwork commented on #274
I think you have to specifically use -mavx to make SVT-HEVC work on X3430 which support up to SSEx.

[2019-07-24 23:08] 1480c1 commented on #274
The cpu doesn't support avx, the highest it supports is sse4.1

[2019-07-24 23:09] 1480c1 commented on #274
If I use `-mavx`, GCC will convert sse functions to avx

[2019-07-24 23:14] tianjunwork commented on #274
I doubt sse is converted to avx. Since we don't have avx code, use -mavx will fall back to SSEx. I guess that's why AV1 works. Let me confirm with other folks.

[2019-07-24 23:35] 1480c1 commented on #274
[code]
https://gcc.gnu.org/onlinedocs/gcc/x86-Options.html#x86-Options

[2019-07-25 01:19] lijing0010 commented on #276
@liweki , could you use the latest master to verify this? I tried   your command for more than 20 times, didn't reproduce it

[2019-07-25 06:30] wangjingz commented on #276
can't reproduce with the Master --short HEAD 5107c84

[2019-07-25 08:09] Austin-Hu commented on #272
Confirmed that Jing's PR#[278](https://github.com/OpenVisualCloud/SVT-HEVC/pull/278) fixed the r2r issue with asm disabled and encMode <= 2. So @GuCaixuan, please close it after your verification.

Originally the issue didn't happen with asm enabled, even though PictureCopy8Bit() got incorrect chromaAreaWidth/chromaAreaHeight arguments for Cr/Cb components, because the SSE implementations for PicC

[2019-07-25 08:36] lijing0010 commented on #237
@Holly0521 , could you add -nb 500 with the svt_app and have a try?
The IO of hard-disk is usually a bottleneck

[2019-07-25 16:54] tianjunwork commented on #276
Thanks all helping on this issue.

[2019-07-25 16:54] #276 closed

[2019-07-25 17:33] tianjunwork commented on #262
In terms of your request of fine-grain selection of SIMD architectures to use and falling back to SSEx, SVT team has no plan to support it in the near future. Contribution from community is highly appreciated.
Could you tell me more on en/disable NUMA in cmake?

[2019-07-26 00:59] Holly0521 commented on #237
@lijing0010, thanks for your reply. I have been tried it. And the speed in R840 is faster than before, but the speed in R840 is slower than R740. After I added the number of memory chips, the speed in R840 is faster than in R740.

[2019-07-26 01:13] Austin-Hu commented on #262
Hi @GrandAdmiralThrawn ,

At first, currently the "-asm" option of SVT-HEVC only supports 0 or 1 ([0: C Only, 1: Auto]), according to the comments in Source/API/EbApi.h: "1 = up to AVX512, auto-select highest assembly instruction set supported.".

And there would be much effort to implement the key "kernel" functions with all instruction sets (AVX512, AVX2, SSEx). In addition to the C_DEFAULT impl

[2019-07-26 01:35] lijing0010 commented on #237
@Holly0521 , for fast mode(especially with big resolutions), it's usually memory bounded(not size, but bandwidth). So you need to use more memory channels

[2019-07-26 01:47] #272 closed

[2019-07-26 02:29] Holly0521 commented on #237
@lijing0010, thanks for your reply. I will add the number of memory chips as many as possible and see the difference.

[2019-07-26 05:47] GuCaixuan opened #281 "[SVT-HEVC]Some test found the md5 value of encoded stream is differ but have same bitstream size between AsmType enable and disable."
[Test environment]
OS: Ubuntu 18.04.2 LTS
SVT CommitID: 1a9474a

[Issue Description]
During run SVT-HEVC test with Commit ID 1a9474a, found the md5 value of the encoded streams is different between AsmType enable and disable when encoding with some special combination of encoding parameters.
For example:
1920x1080_P422 input, encMode 0, qp 41
1920x1080_P444 input, encMode 4, qp 33
7680x3840_P420 i

[2019-07-26 06:03] GuCaixuan opened #282 "[SVT-HEVC]Some test found the bitstream size of encoded stream is differ between AsmType enable and disable for 8K resolution."
[Test environment]
OS： Ubuntu 18.04.2 LTS
SVT CommitID: 1a9474a

[Issue Description]
During run SVT-HEVC test with Commit ID 1a9474a, found the bitstream size of encoded stream is differ between AsmType enable and disable for 8K resolution.

Test command line we used:
encoders/SvtHevcEncApp -i /home/media/yuvs/SVT/yuvs/8k2D_musician_7680x3840_8bit_30Hz_P444.yuv  -b asm_test_M8_8k2D_musician_7680x3

[2019-07-26 06:33] GrandAdmiralThrawn commented on #262
I thought that you would think along that way, given than older and deprecated architectures are likely not the focus of SVT-HEVC. In the meantime I managed to re-enable some SSE2 code, but the speed gains were below 10% so far.. and my hacks are extremely dirty and bad.

About NUMA: I didn't do this via cmake, I hacked up your code directly, in a very, very ugly and bad (and likely also redundant

[2019-07-26 07:20] GrandAdmiralThrawn commented on #262
On 2019/07/26 03:13, Austin-Hu wrote:

Ah yes, you're right regarding `--asm`! The bit mask is in the code, but the command line
parameter only supports pure C or auto-detection. My mistake, I just assumed something
that wasn't there.

Also, I am not asking for a full implemention of all key functions in all instruction
sets. I mean, that'd be awesome, but it's ok if it's not done. I would just li

[2019-07-26 09:16] liweki opened #283 "[Performance]Average speed has big difference in the same encMode (e.g M10 & M11) among 4k between P420/P422/P444"
**[Test environment]**
OS： Ubuntu 18.04.2 LTS
SVT CommitID: 039366e

**[Issue Description]**
While use 4k P420/P422/P444 YUV input clip to run performance test, we found there is big different FPS (Average speed)  in the same encMode, the issue is obvious seen in encMode 9-11.

Below is the test data:

SuiteName | QP | Resolution | Type | FPS-M9 | FPS-M10 | FPS-M11
-- | -- | -- | -- | -- | -- | --

[2019-07-26 09:21] liweki commented on #235
This issue is verified Pass with latest master commit 039366e, so close it.

[2019-07-26 09:21] #235 closed

[2019-07-26 09:37] wangjingz commented on #283
P444/P422 have more than 30% performance decrease compared with P420 under M9~M11.

[2019-07-26 12:13] GrandAdmiralThrawn commented on #262
Alright, one more. I managed to re-enable SSSE3 and SSE4.1 code and leave out just the AVX2 and AVX512 parts. Essentially I made the CPU detection code pretend I have AVX2/AVX512 (`EB_U32 asmType = 7;`), and then I just replaced all calls of AVX2 & AVX512 functions with SSEx ones where available and with pure C ones where necessary - a terrible way to do this, I know.

CPU was a Core i7 980X 3.33G

[2019-07-26 16:15] jas0n1ee opened #285 "[FFmpeg plugin] Code typo in ffmpeg patch"
https://github.com/OpenVisualCloud/SVT-HEVC/blob/9c4a8d8e52e5c41fccd557492f2e074cd7818b8f/ffmpeg_plugin/0001-lavc-svt_hevc-add-libsvt-hevc-encoder-wrapper.patch#L576

This line should config the availability of `YUV422P10`, instead, it's `YUV420P10`.

[2019-07-26 16:32] tianjunwork commented on #285
@jas0n1ee Thanks for submitting the issue.
Hi @jsunintel could you fix it? Thx.

[2019-07-28 04:53] luigi311 commented on #285
I went ahead and made the change since it was a simple fix and submitted the pull request

[2019-07-28 21:43] luigi311 commented on #181
Something is wrong in your configuration. Looking at your lscpu it is showing 16 sockets with 1 core each. I am not sure if that will affect it but here is what mine looks like via KVM instead of vmware. Mine still isnt perfectly setup to match the actual hardware since mines set to 14 cores instead of 7 cores with 2 threads per core. I am able to compile it with my allocated 14 cores and run it v

[2019-07-28 22:08] luigi311 commented on #181
@tianjunwork

 Any reason to use mavx instead of znver1 as the architecture? znver1 is the march for zen1 processors while from my understanding mavx is just a generic way to tell gcc to compile with avx support. Looks like gcc points to bdver4 by default with native for our CPUs which is back to the excavator days so i will try switching it to znver1.

[2019-07-29 01:28] Austin-Hu commented on #262
Hi @GrandAdmiralThrawn ,

For some CPU (such as the Core i7 980X you have) which couldn't support AVX512 or AVX2, the SSEx version has be implemented, for the functions with such filtering "!!(ASM_TYPES & AVX2_MASK)" or "!!(ASM_TYPES & AVX512_MASK)", in order to take advantage of the capability of the specific CPU, rather than just falling back to C_DEFAULT implementation, as you're doing right no

[2019-07-29 01:34] lijing0010 commented on #283
@wangjingz , for speed test on 8K, can you use numactrl or use -ss 0 or -ss 1?

[2019-07-29 05:37] GrandAdmiralThrawn commented on #262
On 2019/07/29 03:28, Austin-Hu wrote:> Hi @GrandAdmiralThrawn ,

the SSEx version has be implemented, for the functions with such filtering "!!(ASM_TYPES &
AVX2_MASK)" or "!!(ASM_TYPES & AVX512_MASK)", in order to take advantage of the capability
of the specific CPU, rather than just falling back to C_DEFAULT implementation, as you're
doing right now.

implement all versions (AVX512, AVX2, SSEx, e

[2019-07-29 06:17] lijing0010 commented on #283
@liweki , to test performance, please use -nb (which preload yuv into mem to avoid disk I/O), and set -n > 2000
The command you attach didn't use -nb and 300 frames is too short for a speed test

[2019-07-29 06:26] Austin-Hu commented on #262
Hi @GrandAdmiralThrawn , good to know that. Could you share your patch or private repository once you think it's OK, so that we can also know where the incorrect AVX2 usages are, and watch your progress? Thanks!

[2019-07-29 06:36] lijing0010 commented on #283
@liweki please re-run the speed test.
This one is an invalid case if you read from disk directly, it's bounded by disk I/O , not encoder.
(Since the size of P444 is 2x P420 and P422 is 1.5x of P420. This can map to your speed result.)

[2019-07-29 06:42] jsunintel commented on #285
It's a patch, but not an issue. The patch looks all right to me.

[2019-07-29 06:42] #285 closed

[2019-07-29 21:26] tianjunwork commented on #181
Hi @luigi311, I am not familiar with configurations on AMD so can't recommend specific settings. Please go ahead with your experiments.

[2019-07-29 22:02] luigi311 commented on #181
Didn't seem to make a difference for me performance wise or anything else that I noticed going from the default configuration to znver1. Also if he makes the change he would have to append "ON" to the option so it is selected and used since the ON flag was removed recently correct?

[2019-07-29 22:21] tianjunwork commented on #181
Yes, -march=native is turned off recently.

[2019-07-29 23:45] tianjunwork commented on #262
Hi @GrandAdmiralThrawn, about your changes of the thread affinity, numGroups is assigned by below function. Based on value of numGroups, thready affinity is set. It should serve your purpose.
```numGroups = (EB_U8) GetActiveProcessorGroupCount();```
https://docs.microsoft.com/en-us/windows/win32/procthread/processor-groups
Systems with fewer than 64 logical processors always have a single group, G

[2019-07-30 06:38] GrandAdmiralThrawn commented on #262
@tianjunwork Thank you! I've already found that part and blatantly set numGroups to 1 in EbEncHandle.c. The EB_CREATETHREAD macro in EbThreads.h also causes problems however, when the code is run on a non-NUMA-aware OS. Despite the if clauses in there, it still tries to call `SetThreadGroupAffinity()`, even though I don't get why. But then again, I know nothing about how the compiler actually trea

[2019-07-30 07:59] wangjingz commented on #283
Updated add parameters -nb and -ss to re-test SVT-HEVC 4k 420/422/444 performance, the test data as following.   422/444 also have the big performance different compared with 420.

Test Clip | Color format | encMode | -n, -nb | -ss | fps_time1 | fps_time2 | fps_time3
-- | -- | -- | -- | -- | -- | -- | --
Netflix_Boat_4096x2160_10bit_60Hz_P4xx.yuv | 420 | 11 | 3000 | -1 (default) | 110.42 | 109.99

[2019-07-30 11:04] Austin-Hu commented on #281
Fixed the issue with PR #[292](https://github.com/OpenVisualCloud/SVT-HEVC/pull/292).

@lijing0010 @tianjunwork , please help review the PR and add Hassene/Kelvin as the reviewer. Thanks!

[2019-07-30 17:09] tianjunwork commented on #262
@GrandAdmiralThrawn, the encoder runs fine on Intel(R) Core(TM) i5-7300U CPU @ 2.60GHz which with coreinfo.exe shows:
Logical Processor to Socket Map:
****  Socket 0
Logical Processor to NUMA Node Map:
****  NUMA Node 0
**No NUMA nodes.**
Logical Processor to Group Map:
****  Group 0
SetThreadGroupAffinity() exists on all windows release and works on No NUMA system.

[2019-07-30 17:33] GrandAdmiralThrawn commented on #262
@tianjunwork Ah, maybe I didn't express myself properly when it comes to the NUMA stuff.

Yes, `SetThreadGroupAffinity()` exists on all no-NUMA hardware platforms as long as a NUMA-aware operating system is installed. So, in the Microsoft case, Windows 7, 8.x and 10. But that function does not exist on operating systems that know nothing about NUMA - like older Vista x64 or XP x64. See [[here](htt

[2019-07-30 17:50] tianjunwork commented on #262
@GrandAdmiralThrawn Thx for the information you provided:) And thank you for the understanding of our priority. We have no plan of supporting Vista x64 or XP x64.

[2019-07-30 18:57] luigi311 commented on #181
@mbake5
The changes you are going to make in CMakeList.txt is
on **line 99**
    option(NATIVE "Build for native performance (march=native)")
to
    option(NATIVE "Build for native performance (march=znver1)" ON)
or
    option(NATIVE "Build for native performance (march=mavx)" ON)

**and on line 108**
     list(APPEND flags_to_test -march=native)
to
     list(APPEND flags_to_test -march=znver1)
or

[2019-07-30 19:04] 1480c1 commented on #181
Alternatively, you can do `export CFLAGS="-march=native"` since cmake will use the env CFLAGS

[2019-07-31 00:00] luigi311 commented on #181
I did not even consider that. I would recommend that since it is less error prone lol.

[2019-07-31 02:38] Austin-Hu commented on #281
Verified that all the 3 reported cases (YUV 420/422/444) were fixed by PR #[292](https://github.com/OpenVisualCloud/SVT-HEVC/pull/292).

[2019-07-31 05:08] Austin-Hu commented on #282
It's a duplicated issue with Issue #[281](https://github.com/OpenVisualCloud/SVT-HEVC/issues/281) which has the same root cause, and it can be fixed by PR #[292](https://github.com/OpenVisualCloud/SVT-HEVC/pull/292) as well, with the 2 reported cases verified.

[2019-07-31 06:14] GrandAdmiralThrawn commented on #262
@tianjunwork Thought so. ;) Well, then I'll just keep backporting it by myself, the NUMA part is super easy after all. Thanks!

[2019-07-31 07:51] wangjingz opened #293 "the SSIM/PSNR quality of P422/444 do not have the same BD-rate Mx increasing curve as P420, especially for encode mode3&4 and 4K."
****Issue:** the quality of P422/444 do not have the same BD-rate Mx increasing curve as P420, especially for encode mode3&4 and 4k resolution.**

4k for example:

**4K P420**   Clip | PSNR | SSIM | PSNR + SSIM | BDRate Cost
-- | -- | -- | -- | --
svt-hevc | Y | U | V | YUV | Y | U | V | YUV | Y | YUV
HEVC_M1 vs   HEVC_M0 | 1.7% | 1.5% | 1.8% | 1.7% | 0.4% | 0.6% | 0.7% | 0.4% | 1.1% | 1.1% | 1.1%

[2019-07-31 07:57] kelvinhu325 commented on #293
In P422 test, M0 shows bigger bitstream size and higher Luma PSNR than M3, while shows worse Chroma PSNR than M3, once I enable inter search only luma instead of luma + chroma for M0~6, then M0 gets best Luma/Chroma PSNR and smallest bitstream size.
Supposed full(luma + chroma) search should get better prediction than best(only luma) search, but it does not for M0~6, in current implementation, P42

[2019-07-31 08:00] kelvinhu325 commented on #293
In P422 test, M0 shows bigger bitstream size and higher Luma PSNR than M3, while shows worse Chroma PSNR than M3, once I enable inter search only luma instead of luma + chroma, then M0 gets best Luma/Chroma PSNR and smallest bitstream size. supposed full(luma + chroma) search should get better prediction than best(only luma) search, but it does not, in current implementation, P422 chroma search is

[2019-08-02 00:16] tianjunwork commented on #274
yes, you are right, gcc may compile SSEx to AVX.
AV1 has some extra SSEx code which behaves differently with HEVC.

[2019-08-02 06:46] tianjunwork commented on #293
closed by #294

[2019-08-02 06:46] #293 closed

[2019-08-02 13:40] tskomudek opened #298 "Support CBR rate control mode"
Hi,
are there any plans to support a CBR mode or a pluggable BRC module ?
Thx

[2019-08-02 20:21] #282 closed

[2019-08-02 20:21] #281 closed

[2019-08-05 03:33] lijing0010 commented on #298
Already have a HRD compliance CBR.
See parameters like "-hrd" and "vbv-xxx"

For pluggable BRC, you can modify in InitialRateControlKernel and RateControlKernel(You may refer to SVT-AV1 if you want to integrate your BRC, we had 2 brc there).

Just keep in mind that SVT is a highly paralleled encoder, so frames coming to BRC module are out-of-order(not decoder order, not display order either)

[2019-08-06 00:40] tianjunwork commented on #255
Hi @1480c1, any update?

[2019-08-06 00:41] 1480c1 commented on #255
Still trying, but still getting errors with not found symbols for DSO

[2019-08-06 00:42] 1480c1 commented on #255
Since SVT-AV1 and SVT-HEVC have different file layouts+code layouts, I can't simulate the same changes as was done there

[2019-08-06 00:44] tianjunwork commented on #255
Could you share what you had done and we work together on it?

[2019-08-06 01:20] 1480c1 commented on #255
I have tried renaming the conflicting functions in the app folder to prefix with App and that worked when compiling with a static lib, however, it failed when I tried to compile with a shared lib.

I've tried deduplicating the functions from the app folder and keeping the ones in the codec folder, but that resulted in the DSO errors.

Going to try to see if I can replicate the errors again

[2019-08-06 02:37] 1480c1 commented on #255
@jsunintel, is EbTime.h necessary in the ffmpeg patch? Looking at both the one in the repo and the one submitted to ffmpeg, I do not see anything mentioned in the header present in the patches

[2019-08-06 03:13] tianjunwork commented on #255
Both EbTime.h and EbErrorCodes.h are not needed. Ffmpeg can be built without them.

[2019-08-06 03:14] 1480c1 commented on #255
How about for gstreamer?

[2019-08-06 03:16] tianjunwork commented on #255
only EbApi.h is used in gst.

[2019-08-06 03:52] 1480c1 commented on #255
maybe we should add a test if the gstreamer patch will apply since I can't seem to apply the gstreamer patch according to the README

[2019-08-06 04:21] tianjunwork commented on #255
You mean ffmpeg patch? gst plugin is not patch.
[code]

[2019-08-06 04:21] 1480c1 commented on #255
No, I mean the git-patch

[2019-08-06 04:23] 1480c1 commented on #255
Or is the git-patch not actually needed at all?

[2019-08-06 04:30] 1480c1 commented on #255
I do notice that the commit message for the patch in #157 notes it's for gstreamer 1.17.0

[2019-08-06 04:30] tianjunwork commented on #255
The git-patch is a different solution that applies to gst code base. We shall keep both.
When you modify the patch file, besides the lines you would like to remove, also reduce the number of new code.
Refer to above ffmpeg patch.

[2019-08-06 04:31] 1480c1 commented on #255
I see, I've temporarily rebased the patches for now, will remove the extra lines now

[2019-08-06 04:36] jsunintel commented on #255
They are included but not used for now.

[2019-08-06 04:40] 1480c1 commented on #255
Do you mind if I remove them? I'm trying to https://github.com/OpenVisualCloud/SVT-AV1/pull/67 by deduplicating the functions

Also, I personally would prefer that the compiler and preprocessor doesn't have to process code not present. Plus if the code is necessary, they can be implemented at a later time.

[2019-08-06 04:53] jsunintel commented on #255
It's OK.

[2019-08-06 09:50] tskomudek commented on #298
Great, i will check this out. Thx

[2019-08-06 09:50] #298 closed

[2019-08-08 15:07] Yeongjin-Jeong opened #305 "when encoding with codeVpsSpsPps enabled, encoded packets are not output"
I used the gstreamer svthevcenc plugin with the latest SVT-HEVC, and found that the encoded packets are not output from the encoder.

After initializing the encoder with codeVpsSpsPps enabled, It seems to be caused by using the EbH265EncStreamHeader API before receiving encoded packets. And the same happens with the ffmpeg plugin or SvtHevcEncApp, if codeVpsSpsPps is enabled.

This occurs after pa

[2019-08-10 03:20] 1480c1 opened #308 "Appveyor: artifacts not being deployed"
https://ci.appveyor.com/project/OpenVisualCloud/svt-hevc/builds/26595649

As seen here, although the files are matching, they aren't being deployed to github releases.

@hassount or whoever has access to the appveyor account, could you check to make sure that the right personal access token is encrypted in appveyor?

The encrypted token would be different from the one from SVT-AV1 due to using the

[2019-08-10 04:45] thx4ever opened #309 "Cannot encode to 10bit garbage output"
Hi, i tryed to encode a 8bit yuv to 10bit HEVC bitstream and it output a green screen garbage, could u take a look for me?
Here is the command line options i'm using

SvtHevcEncApp -i D:\8bit.yuv -n 0 -w 1920 -h 1080 -b C:\Users\thx4ever\Desktop\10bit.hevc -intra-period 239 -rc 1 -encMode 3 -bit-depth 10 -profile 2 -fps-num 24000 -fps-denom 1001 -hierarchical-levels 3 -search-w 256 -search-h 256 -

[2019-08-11 00:41] luigi311 commented on #181
Looking through the issues in SVT-AV1 someone mentioned a socket limit of 16, setting my virtual machine to greater than 16 sockets causes the same issues he is having even pointing to the same error line that he is getting in gdb. What i am not sure of is why he is hitting that limit with 14 or 16, when i set mine to match his information of 14 sockets or 16 it works fine but when i set it to 17

[2019-08-12 03:57] #255 closed

[2019-08-12 14:32] intelmark commented on #309
Are you able to share 8bit.yuv?

[2019-08-12 17:19] tianjunwork commented on #309
Hi, @thx4ever, -bit-depth specifies the bit depth of input video. SVT encoder can't convert 8bit to 10bit input. With this command line, garbage output is a sure thing.
What behavior that you expect from svt encoder?

[2019-08-12 18:47] tianjunwork commented on #181
Hi @luigi311 thanks for doing all the debugging.
A socket is the physical socket where the physical CPU capsules are placed. The reason of hard code to 16 is that the most commonly seen number of sockets is 2,4 on Xeon.
I am not sure about the theory max socket number. And how to setup a system to test and guarantee the performance.
Could you share with me how to set the number of socket on vm and

[2019-08-12 20:07] thx4ever commented on #309
Thanks i was thinkg the software will upconvert to 10 bit
Thanks

[2019-08-12 20:07] #309 closed

[2019-08-13 00:01] luigi311 commented on #181
@tianjunwork Yeah ive never really seen anything more than a quad socket motherboard so i never even considered it. It seems to only really occur in virtual machine environments where the end user is not allowed to modify the configuration file from the system default because otherwise they could just set it to use cores and threads instead of sockets and call it done.
This is easy to configure in

[2019-08-13 03:22] luigi311 commented on #181
@tianjunwork If you get the chance can you validate my pull request #312 once you get the VM configured with sockets instead of cores.

[2019-08-13 17:42] 1480c1 commented on #118
@filler56789, can you try using `./build.sh -- -G"Unix Makefiles"` now (Replace "Unix Makefiles" with whatever generator you want) ? I think it should be better.

[2019-08-13 23:05] tianjunwork commented on #305
Hi @Yeongjin-Jeong, I am trying to reproduce what you saw. Could you share the command line you use with **SvtHevcEncApp**? codeVpsSpsPps is always 1 in SvtHevcEncApp(EbAppContext.c).

[2019-08-14 03:21] Yeongjin-Jeong commented on #305
Hi @tianjunwork, Thanks to ping. To reproducing this issue, you need to add code to call the EbH265EncStreamHeader API between the line that encodes the packet and the line that initializes the encoder.

[code]

[2019-08-14 07:00] filler56789 commented on #118
Yeah, it compiled fine (again).
Now I need EXACT instructions of how to make the stupid .exe read the stdin from avs2yuv.
The error message "wrote only 1377271 of 1382400 bytes" is completely useless.

[2019-08-14 07:14] filler56789 commented on #118
Also:
"invalid input file"
What does it "think" is a valid input file?
And nope, I am not gonna create a huge .y4m file only for testing a sub-alpha code.
This is not 2013 anymore and I am not testing the old x265 anymore.

[2019-08-14 17:27] tianjunwork commented on #305
Thanks @Yeongjin-Jeong fixing this issue👍

[2019-08-14 17:27] #305 closed

[2019-08-15 05:37] Jamaika1 opened #317 "Error Mingw: Replace some more _MSC_VER with _WIN32 (#311)"
In file included from c:\msys911\lib\gcc\x86_64-w64-mingw32\9.1.1\include\immintrin.h:43,
                 from EbDefinitions.h:234,
                 from EbEncHandle.c:17:
EbEncHandle.c: In function 'CheckXcr0Ymm':
c:\msys911\lib\gcc\x86_64-w64-mingw32\9.1.1\include\xsaveintrin.h:60:1: error: inlining failed in call to always_inline '_xgetbv': target specific option mismatch
   60 | _xgetbv (unsi

[2019-08-15 05:41] 1480c1 commented on #317
Can you provide your cmake commands/other commands and how did you get your mingw-w64 toolchain?

_Originally posted by @1480c1 in https://github.com/OpenVisualCloud/SVT-HEVC/pull/311#issuecomment-521520834_

[2019-08-15 09:58] Holly0521 opened #318 "Set max number of B frames between non-B-frames."
When can the  SVT-HEVC decoder support setting setting max number of B frames between non-B-frames. Thanks a lot.

[2019-08-15 21:13] filler56789 commented on #118
Anyway, consider this issue closed, even though the binary remains useless to me.

[2019-08-15 21:13] #118 closed

[2019-08-15 22:27] tianjunwork commented on #318
Hi @Holly0521, You may be aware of it already but in case you may find it useful, bitstream hierarchical coding structure looks like this https://github.com/OpenVisualCloud/SVT-HEVC/blob/master/Docs/svt-hevc_encoder_user_guide.md#1-hierarchical-coding-structure-parameters
I guess you are asking something similar to --bframes from x265?

[2019-08-16 01:19] Holly0521 commented on #318
Hi @tianjunwork, thanks for your reply, then I will see the implementation of SVT_HEVC. Yes, I'm asking -bframes similar to x265.

[2019-08-16 09:33] andrewmabc opened #319 "ffmpeg with libsvt_hevc fail to output video with specified resolution"
I build ffmpeg with svt hevc using ffmpeg plugin patch. The following command outputs video with 960x544 instead of 960x540:

ffmpeg -c:v hevc -i h265_resolution_3840x2160_frame_rate_25_bitrate_34836000.mp4 -b:a 48000 -ar 44100 -g 250 -bufsize:v 1555200 -preset 9 -c:a libfdk_aac -c:v libsvt_hevc -maxrate:v 2073600 -profile:v 1 -vf "scale=w=960:h=540" -b:v 1036800 -movflags +faststart -strict -3 -v

[2019-08-16 17:17] tianjunwork commented on #319
Hi @jsunintel, could you help take a look? Thank you.

[2019-08-19 05:24] jsunintel commented on #319
540 is not a multiple of 8. SVT HEVC lib automatically changes it to 544. I don't think that's a bug.

[2019-08-19 15:57] 1480c1 opened #322 "x265: SVT-HEVC is not found when building x265 with svt-hevc support"
x265's find module is bound to 1.3.0 and only searches for shared library extensions

https://bitbucket.org/multicoreware/x265/issues/509/x265-fails-to-build-with-current-svt-hevc

[2019-08-19 18:26] tianjunwork commented on #319
540 is padded to 544. The new size and crop windows info is written to SPS.
![crop](https://user-images.githubusercontent.com/4551215/63289392-d9a4e200-c273-11e9-9962-c8a875210efd.PNG)
To understand stride:
https://docs.microsoft.com/en-us/windows/win32/medfound/image-stride

[2019-08-19 18:28] tianjunwork commented on #319
Padding is allowed for encoding. Not a SVT issue. Close.

[2019-08-19 18:28] #319 closed

[2019-08-20 05:15] 1480c1 commented on #322
Also, when building ffmpeg with x265 linked with svt-hevc, configure will fail due to undef reference to `EbInitHandle` etc

[2019-08-20 05:18] tianjunwork commented on #322
Thanks reporting the issue.

[2019-08-20 15:42] 1480c1 commented on #322
Also
[code]

[2019-08-20 18:36] tianjunwork opened #331 "Regression of PR #264 for windows debug build"
Windows debug build is crashing since #264. Release build is ok.

[2019-08-20 18:39] tianjunwork opened #332 "Add Appveyor debug build and basic tests."

[2019-08-20 18:42] 1480c1 commented on #332
Could I add a mingw build while adding a debug?

[2019-08-20 18:43] tianjunwork commented on #332
Sure. Thank you:)

[2019-08-21 08:38] Austin-Hu commented on #331
Hi @tianjunwork ,

I couldn't reproduce the issue, by running "build.bat debug" in the command prompt of Visual Studio 2019, after following the Build steps [here](https://github.com/OpenVisualCloud/SVT-HEVC). So what's your reproducing step?

[2019-08-21 11:36] tszumski commented on #331
Hi, I had the same issue today. This happen only in Visual Studio 2017 Debug version.
To fix this:
in file EbEncHandle.c before calling EbSystemResourceCtor(...) line 1181
few more variables have to be set for inputData :
inputData.compressedTenBitFormat
inputData.tileRowCount
inputData.tileColumnCount
inputData.encMode
inputData.speedControl

These values can be ctrl+c,ctrl+v from lines: 1118-112

[2019-08-21 13:41] Austin-Hu commented on #331
Hi @tszumski,

Please help create a PR for your [commit](https://github.com/tszumski/SVT-HEVC/commit/d12fb62bbc86df492dca89702e67fa5e27a5057b), thanks!

[2019-08-21 16:56] tianjunwork commented on #331
@tszumski thx, yes, I  have vs 2017 installed.

[2019-08-21 20:50] #332 closed

[2019-08-21 20:52] tianjunwork commented on #331
Hi @Austin-Hu, PR#334 shows that vs2019 debug build also crashes.

[2019-08-21 23:55] 1480c1 commented on #331
@tszumski's commit does fix debug builds it seems https://ci.appveyor.com/project/1480c1/svt-hevc/builds/26867999

[2019-08-22 10:00] Austin-Hu commented on #331
Reproduced the SvtHevcEncApp.exe crashing issue, after compiling the debug version via VS 2019. And verified that PR #335 fixed this issue. Thanks, @tszumski !

[2019-08-22 20:50] tharappel opened #337 "Unable to compile SVT-HEVC ffmpeg plugin in Windows, documentation is incomplete"
The documentation is only for Linux NOT for Windows.
Even if somehow try, during ./configure steps get the error message
====================
./configure --target-os=win64 --arch=x86_64 --toolchain=msvc --enable-libsvthevc

cl is unable to create an executable file.
If cl is a cross-compiler, use the --enable-cross-compile option.
Only do this if you know what cross compiling means.
C compiler tes

[2019-08-22 20:52] #331 closed

[2019-08-22 20:54] 1480c1 commented on #337
Although this may not be of any help, https://trac.ffmpeg.org/wiki/CompilationGuide/MSVC#Build under note

[2019-08-22 20:59] 1480c1 commented on #337
Are you using msys or msys2 or some other bash-providing project?

[2019-08-22 21:15] tharappel commented on #337
I'm using msys2.
Passed the above error
Now the error message  is as shown below:

/configure --target-os=win64 --arch=x86_64 --toolchain=msvc --enable-libsvthevc
ERROR: SvtHevcEnc not found using pkg-config

[2019-08-22 21:17] 1480c1 commented on #337
Did you install pkg-config from pacman?

Did you compile SVT-HEVC with msvc or mingw-w64?

[2019-08-22 21:19] tharappel commented on #337
Yes, I’ve pkg-config installed
Using mingw-w64

From: Christopher Degawa [mailto:notifications@github.com]
Sent: Thursday, August 22, 2019 2:18 PM
To: OpenVisualCloud/SVT-HEVC <SVT-HEVC@noreply.github.com>
Cc: Tharappel, Francis M <francis.m.tharappel@intel.com>; Author <author@noreply.github.com>
Subject: Re: [OpenVisualCloud/SVT-HEVC] Unable to compile SVT-HEVC ffmpeg plugin in Windows, document

[2019-08-22 21:21] 1480c1 commented on #337
can you try `pkg-config --debug --exists SvtHevcEnc` and make sure if pkg-config can find it

[2019-08-22 21:33] tharappel commented on #337
I get this output

ft$pkg-config --debug --exists SvtHevcEnc
Error printing disabled by default due to use of output options --exists, --atleast/exact/max-version, --list-all or no output option at all. Value of --print-errors: 0
Error printing disabled
Adding virtual 'pkg-config' package to list of known packages
Looking for package 'SvtHevcEnc'
Looking for package 'SvtHevcEnc-uninstalled'
ft$

F

[2019-08-22 21:36] 1480c1 commented on #337
Can you find SvtHevcEnc.pc?

[2019-08-22 21:45] tharappel commented on #337
Yes, I see two copies of SvtHevcEnc.pc
one in ".\SVT-HEVC\Build\windows" with the following content:

prefix=C:/svt-encoders
includedir=${prefix}/include/svt-hevc
libdir=${prefix}/lib

Name: SvtHevcEnc
Description: SVT (Scalable Video Technology) for HEVC encoder library
Version: 1.4.0
Libs: -L${libdir} -lSvtHevcEnc
Cflags: -I${includedir}

and another one in ".\SVT-HEVC\Build\windows\Build" with

[2019-08-22 21:46] 1480c1 commented on #337
Have you "installed" them? (In `C:\svt-encoders`)

[2019-08-22 21:55] tharappel commented on #337
No, I don’t,  and not seeing any documentation on what to install it there and how

From: Christopher Degawa [mailto:notifications@github.com]
Sent: Thursday, August 22, 2019 2:47 PM
To: OpenVisualCloud/SVT-HEVC <SVT-HEVC@noreply.github.com>
Cc: Tharappel, Francis M <francis.m.tharappel@intel.com>; Author <author@noreply.github.com>
Subject: Re: [OpenVisualCloud/SVT-HEVC] Unable to compile SVT-HEV

[2019-08-22 21:56] 1480c1 commented on #337
`cmake --build . --target install` since I don't know if you used ninja or Unix Makefiles

[2019-08-22 22:00] tharappel commented on #337
No, I don’t, and not seeing any documentation on what to install it there and how to

From: Christopher Degawa [mailto:notifications@github.com]
Sent: Thursday, August 22, 2019 2:57 PM
To: OpenVisualCloud/SVT-HEVC <SVT-HEVC@noreply.github.com>
Cc: Tharappel, Francis M <francis.m.tharappel@intel.com>; Author <author@noreply.github.com>
Subject: Re: [OpenVisualCloud/SVT-HEVC] Unable to compile SVT-H

[2019-08-22 22:02] 1480c1 commented on #337
The command to install is `cmake --build . --target install` from the build `.\SVT-HEVC\Build\windows`

[2019-08-22 22:19] tharappel commented on #337
I get a tone of errors, do I have to set any parameter values?

From: Christopher Degawa [mailto:notifications@github.com]
Sent: Thursday, August 22, 2019 3:02 PM
To: OpenVisualCloud/SVT-HEVC <SVT-HEVC@noreply.github.com>
Cc: Tharappel, Francis M <francis.m.tharappel@intel.com>; Author <author@noreply.github.com>
Subject: Re: [OpenVisualCloud/SVT-HEVC] Unable to compile SVT-HEVC ffmpeg plugin in W

[2019-08-22 22:36] tianjunwork commented on #337
Hi @tharappel , @1480c1 means that svt binaries are installed to `C:\svt-encoders`. Did you do that? What error you got?

[2019-08-22 22:58] tharappel commented on #337
When I do cmake --build . --target install from the build .\SVT-HEVC\Build\windows I get errors like below:

C:\Project\SVT-HEVC-FFMPEG\SVT-HEVC\Source\Lib\ASM_SSE2\EbMeSadCalculation_Intrinsic_SSE2.c(53): warning C4013: '_mm_cvtsi64_si128' undefi
ned; assuming extern returning int [C:\Project\SVT-HEVC-FFMPEG\SVT-HEVC\Build\windows\Source\Lib\ASM_SSE2\HEVC_ASM_SSE2.vcxproj]
C:\Project\SVT-HEVC-FFM

[2019-08-22 23:05] 1480c1 commented on #337
Can you rebuild SVT-HEVC and run again?

[2019-08-22 23:09] tharappel commented on #337
Yes, I can build with Visual Studio

From: Christopher Degawa [mailto:notifications@github.com]
Sent: Thursday, August 22, 2019 4:06 PM
To: OpenVisualCloud/SVT-HEVC <SVT-HEVC@noreply.github.com>
Cc: Tharappel, Francis M <francis.m.tharappel@intel.com>; Mention <mention@noreply.github.com>
Subject: Re: [OpenVisualCloud/SVT-HEVC] Unable to compile SVT-HEVC ffmpeg plugin in Windows, documentation is

[2019-08-22 23:26] tharappel commented on #337
Yes, I can build with Visual Studio

[2019-08-22 23:33] tianjunwork commented on #337
@tharappel is your cpu skylake above?

[2019-08-22 23:39] tharappel commented on #337
Yes, it’s Kaby Lake based

From: Jun [mailto:notifications@github.com]
Sent: Thursday, August 22, 2019 4:34 PM
To: OpenVisualCloud/SVT-HEVC <SVT-HEVC@noreply.github.com>
Cc: Tharappel, Francis M <francis.m.tharappel@intel.com>; Mention <mention@noreply.github.com>
Subject: Re: [OpenVisualCloud/SVT-HEVC] Unable to compile SVT-HEVC ffmpeg plugin in Windows, documentation is incomplete (#337)

@thara

[2019-08-22 23:55] 1480c1 commented on #337
After you rebuild and install, in the msys2 shell, run `export PKG_CONFIG_PATH="/c/Program Files (x86)/svt-hevc/lib/pkgconfig"` or point to wherever the directory containing the `SvtHevcEnc.pc` file ends up (Look at the output of the install. Convert the path to msys2 by typing in powershell or cmd.exe `cygpath -u C:\ThePath`)

That should give a path to pkg-config to find the pc file

[2019-08-23 00:27] tharappel commented on #337
Still I get the same error:

$ ./configure --target-os=win64 --arch=x86_64 --toolchain=msvc --enable-libsvthevc
ERROR: SvtHevcEnc not found using pkg-config

If you think configure made a mistake, make sure you are using the latest
version from Git.  If the latest version fails, report the problem to the
ffmpeg-user@ffmpeg.org mailing list or IRC #ffmpeg on irc.freenode.net.
Include the log file "

[2019-08-23 00:35] 1480c1 commented on #337
Try the pkg-config command again and see what it says

[2019-08-23 00:44] tharappel commented on #337
pkg_config didn't find the pkg SvtHevcEnc

[2019-08-23 00:50] 1480c1 commented on #337
Did you make sure to export PKG_CONFIG_PATH pointing to the directory where the pc file was installed?

[2019-08-23 00:50] tianjunwork commented on #337
Make sure first that SVT-HEVC library is installed and can be found using pkg-config. You can do that using CMake:
`cmake -P SVT-HEVC\Build\Windows\Source\Lib\cmake_install.cmake`

[2019-08-23 00:52] tianjunwork commented on #337
@tharappel , @jsunintel (PRC time)will be online soon. She will help you out.

[2019-08-23 00:55] tianjunwork commented on #337
https://github.com/OpenVisualCloud/SVT-HEVC/tree/master/gstreamer-plugin#windows-specific-instructions is the instruction to build gst on windows. The pkg part should be the same.

[2019-08-23 02:49] 1480c1 commented on #337
If you still can't build ffmpeg with SVT-HEVC, I can recommend [media-autobuild_suite](https://github.com/m-ab-s/media-autobuild_suite) as it's able to build SVT-HEVC and ffmpeg with libSvtHevcEnc. Although using the mingw-w64 toolchain rather than msvc

[2019-08-23 18:09] tharappel commented on #337
I tried
cmake -P SVT-HEVC\Build\Windows\Source\Lib\cmake_install.cmake
and it completed successfully.

still  ./configure  failed

$./configure --target-os=win64 --arch=x86_64 --toolchain=msvc --enable-libsvthevc
ERROR: SvtHevcEnc not found using pkg-config

If you think configure made a mistake, make sure you are using the latest
version from Git.  If the latest version fails, report the problem

[2019-08-23 18:28] 1480c1 commented on #337
make sure to check in `C:/Program Files (x86)/svt-hevc/lib/pkgconfig` for the SvtHevcEnc.pc file and point `PKG_CONFIG_PATH` to it

[2019-08-23 18:37] tharappel commented on #337
hmm, I don't have the folder "C:/Program Files (x86)/svt-hevc/lib/pkgconfig"
what's that folder supposed to have?

[2019-08-23 18:46] 1480c1 commented on #337
It's supposed to have the `SvtHevcEnc.pc` file

[2019-08-23 18:54] tharappel commented on #337
I see two SvtHevcEnc.pc files,
one in "SVT-HEVC\Build" with content
===============
prefix=C:/Program Files (x86)/svt-hevc
includedir=${prefix}/include/svt-hevc
libdir=${prefix}/lib

Name: SvtHevcEnc
Description: SVT (Scalable Video Technology) for HEVC encoder library
Version: 1.4.0
Libs: -L${libdir} -lSvtHevcEnc
Cflags: -I${includedir}
================

second one in "SVT-HEVC\Build\windows"  wi

[2019-08-23 19:46] 1480c1 commented on #337
Since I'm not sure how many times to respond:

Just run these through the msys2's mingw-w64 shell
[code]

You should have a ffmpeg with libSvtHevcEnc

[2019-08-23 19:47] 1480c1 commented on #337
I'm not sure how to build all if it using msvc, plus I do not endorse it due to lack of good external libraries handling, but if you want msvc instructions, I can provide them.

[2019-08-26 08:03] jsunintel commented on #337
Please refer to: https://github.com/jsunintel/SVT-HEVC/blob/windows_ffmpeg_plugin/ffmpeg_plugin/README.txt

[2019-08-26 15:29] jefft0 opened #342 "SVT-HEVC decoder?"
What should I use as a decoder/player for a video encoded by SvtHevcEncApp?

[2019-08-28 20:53] #342 closed, assigned to nobody

[2019-09-03 17:56] tianjunwork opened #351 "PR 348 Segmentation fault for qcif"
Hi @lijing0010, #348 causes seg fault for a qcif input. cif is fine. I am not sure if other resolutions have issue too. Please take a look, thank you.
Command line: `./SvtHevcEncApp -i akiyo_qcif.y4m`

[2019-09-06 03:27] lijing0010 commented on #351
fixed by #355

[2019-09-08 02:11] #351 closed

[2019-09-10 19:14] Yeongjin-Jeong opened #357 "SVT-HEVC multi-instance are blocked when calling deinit by multi-thread"
I used the gstreamer svthevcenc plugin, and found that if I create a multi-instance by allocating 1 instance per 1 thead, sometimes it would blocked when calling deinit per thread. So they are not terminated. This occurred when cpu utilization was very high.

Does SVT-HEVC support multi-instance by multi-thread in single process? I have checked that multi-instance works fine by single thread.

The

[2019-09-10 23:24] tianjunwork commented on #357
Hi @Yeongjin-Jeong , just to confirm, what you mean "multi-instance" is "The multi-instance functionality" mentioned in the README or the way you use the plugin?
The multi-instance functionality is an application level feature, one SvtHevcEncApp can launch multiple encoder instances by using -nch N.

[2019-09-11 01:05] Yeongjin-Jeong commented on #357
That "multi-instance" means multiple svthevcenc elements. I used gstreamer for creating multiple outputs of the same input in the same process. Each svthevcenc element uses libSvtHevcEnc through its own thread.

[2019-09-16 04:53] calvinckfong commented on #259
@Austin-Hu, Noted! Thanks a lot.

[2019-09-16 17:43] alatteri opened #363 "Add RGB 10/12 encoder support."
I am interested in using SVT-HEVC for realtime color accurate streaming for the Visual Effects/Post Production space.  In that world, YUV, even 10 bit is not color accurate enough.  10/12 native RGB is the only acceptable solution.  While x265 can do this, the CPU processing requirements are very large, and as yet, (testing with HP z820/z840 workstations), I've been unable to get realtime 24fps en

[2019-09-16 17:49] intelmark commented on #363
Alan – Curious what the video resolution is set to as well as the desired framerate.

-mark

From: Alan Latteri [mailto:notifications@github.com]
Sent: Monday, September 16, 2019 10:43 AM
To: OpenVisualCloud/SVT-HEVC <SVT-HEVC@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [OpenVisualCloud/SVT-HEVC] Add RGB 10/12 encoder support. (#363)

I am interested in using SVT-HE

[2019-09-16 17:50] alatteri commented on #363
2048x1080@23.976
R12L from Blackmagic Decklink SDI source.
But ideally we'd like to be able to go up to 4K too.

[2019-09-16 17:54] intelmark commented on #363
There is a plug-in for SVT to use with FFmpeg.  You might investigate if an encoding solution can be built around that, as it should support RGB->YUV conversion.

-mark

From: Alan Latteri [mailto:notifications@github.com]
Sent: Monday, September 16, 2019 10:51 AM
To: OpenVisualCloud/SVT-HEVC <SVT-HEVC@noreply.github.com>
Cc: Feldman, Mark <mark.feldman@intel.com>; Comment <comment@noreply.github.

[2019-09-16 17:58] alatteri commented on #363
I'll give it a try later this week.  Thanks.

[2019-09-16 23:34] tianjunwork commented on #363
@alatteri, may I know what is your command line using x265 with RGB 10/12 input?
You may try converting RGB->yuv444p10le with ffmpeg then feed to svt-hevc, which though is not truly lossless. But you can see if performance meets your need first.

[2019-09-17 05:30] alatteri commented on #363
I haven't yet played with SVT, but this is the basic command I was doing some testing with x265

./ffmpeg -raw_format rgb10 -f decklink -i 'DeckLink 4K Pro' -c:v libx265 -preset ultrafast -tune zerolatency -f mpegts "udp://192.168.101.195:1234?overrun_nonfatal=1"

[2019-09-17 08:39] Vascom opened #364 "Shared lib executable stack"
Compiled shared lib has warning from rpmlint:

The binary declares the stack as executable. Executable stack is usually an
error as it is only needed if the code contains GCC trampolines or similar
constructs which uses code on the stack. One common source for needlessly
executable stack cases are object files built from assembler files which don't
define a proper .note.GNU-stack section.

The sam

[2019-09-18 13:52] tianjunwork commented on #364
Hi @Austin-Hu , could you help take a look? Thank you.

[2019-09-18 22:53] Austin-Hu commented on #364
The issue can be fixed by PR #366 as the same fix of SVT-VP9 PR #57  , and please also help verify it in your side, @Vascom. Thanks!

[2019-09-19 06:26] Vascom commented on #364
Verified.
OK.

[2019-09-20 02:38] Yeongjin-Jeong commented on #357
@gokul989, If you want to run on single thread, don't use the queue element before the svthevcenc element.

Such as:
* single process with multi thread
[code]
* single process with single thread
[code]

[2019-09-20 03:01] Yeongjin-Jeong opened #367 "SVT-HEVC is blocked when flushing"
In any app (e.g. SvtHevcEncApp, ffmpeg, gstreamer) that uses the SVT-HEVC library, If I flush without attempting to encode anything, it will be block.

In case of gstreamer plugin, blocking occurs when receiving EB_BUFFERFLAG_EOS buffer after sending EB_BUFFERFLAG_EOS buffer. So I worked around to avoid blocking when flushing without encoding in gstreamer.(https://github.com/OpenVisualCloud/SVT-HE

[2019-09-20 08:08] GuCaixuan opened #368 "[SVT-HEVC]Some test found the recon.yuv and decoded.yuv have same file size, but the MD5 value is different in encMode[7-11] for 8K/4K resolution and in encMode[8-10] for 1080P/720P/480P resolutions."
[Test environment]
OS: Ubuntu 18.04.2 LTS
SVT CommitID: f8f2a91

[Issue Description]
During run SVT-HEVC test with Commit ID f8f2a91, found the recon.yuv and decoded.yuv have same file size, but the MD5 value is different in encMode[7-11] for 8K/4K resolution and in encMode[8-10] for 1080P/720P/480P resolutions.

Test command line we used:
**SvtHevcEncApp** -i Netflix_Crosswalk_3840x2160_10bit_60H

[2019-09-21 01:44] #364 closed

[2019-09-21 18:36] Yeongjin-Jeong opened #370 "Work on up stream the gstreamer-plugin to gstreamer master"
This issue is for sharing the upstreaming process of gstreamer-plugin. (https://github.com/OpenVisualCloud/SVT-HEVC/tree/master/gstreamer-plugin/git-patch)

Upstreaming is now in progress at https://gitlab.freedesktop.org/gstreamer/gst-plugins-bad/merge_requests/731.

[2019-09-23 02:50] GuCaixuan opened #371 "[SVT-HEVC]Some test found a random issue that the encoded streams are different between BufferedInput enable and disable in encMode[0-3] for P422/P444, and the encoded streams also have run to run issue."
[Test environment]
OS: Ubuntu 18.04.2 LTS
SVT CommitID: f8f2a91

During run SVT-HEVC test with Commit ID f8f2a91, found the the encoded streams are different between BufferedInput enable and disable in encMode[0-3]for P422/P444, and the encoded streams also have run to run issue. The issue is a random issue.

encoders/SvtHevcEncApp -i Netflix_Crosswalk_3840x2160_10bit_60Hz_P422.yuv  -b buffered_te

[2019-09-23 11:26] Yeongjin-Jeong commented on #370
Hello @tianjunwork,
There was a request to change some properties of the svthevcenc element during the upstream process. After changing the preferred property naming and usage in gstreamer, I'll create a PR that applies the same to the independent gstreamer plugin.

[2019-09-23 18:30] jefft0 opened #372 "SvtHevcEncApp with tile separation"
I used SvtHevcEncApp with `-tile_col_cnt` and `-tile_row_cnt` to encode a video with tiles. I have read that one of the purposes of HEVC is that the tile encoding is independent. But when I use openHEVC to decode only the data from one tile, the prediction is still looking "across the border" for pixels from neighboring tiles. In our application we need to be able to fetch only the data from one t

[2019-09-23 19:29] intelmark commented on #372
Hi Jeff - Can you share your complete commandline for encoding?  Make sure that the UnrestrictedMotionVector parameter is set to 0 so that the motion vectors are constrained within the tile boundary

[2019-09-23 20:42] jefft0 commented on #372
Adding `-umv 0` fixed it. Thanks! FYI, here is my complete command line:

    ./SvtHevcEncApp -i input.yuv -w 640 -h 480 -color-format 2 -tile_col_cnt 2 -tile_row_cnt 2 -umv 0 -b output.hevc

[2019-09-23 20:57] jefft0 commented on #372
@intelmark, By the way, do you know of a similar parameter in SVT-AV1 which will encode the tiles separately?